openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
tags:
  - name: Address List
    description: >-
      Interfaces for creating, querying, updating, deleting address lists and
      managing members
paths:
  /api/maillist/create:
    post:
      summary: Create Address List
      description: >-
        Create a new email address list (supports setting list name and
        description)
      operationId: createAddressList
      tags:
        - Address List
      responses:
        '200':
          description: Address list created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the newly created address list
                    properties:
                      name:
                        type: string
                        description: Address list name (unique identifier)
                        example: test_maillist
                      displayName:
                        type: string
                        description: Address list display name (for management display)
                        example: Test Address List
                      description:
                        type: string
                        description: Address list description (optional)
                        example: This is a test address list
                      memberCount:
                        type: integer
                        description: Number of members in the address list (0 for new list)
                        example: 0
                      gmtCreated:
                        type: string
                        format: date-time
                        description: >-
                          Address list creation time (format: yyyy-MM-dd
                          HH:mm:ss)
                        example: '2025-10-01 14:30:00'
        '400':
          description: Bad request (e.g., duplicate list name, missing required parameters)
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: >-
            Address list name (unique under the current apiUser, used for
            invoking the list in sending emails)
          example: test_maillist
        - in: query
          name: displayName
          schema:
            type: string
          required: true
          description: >-
            Address list display name (used for management display in the
            console)
          example: Test Address List
        - in: query
          name: description
          schema:
            type: string
          required: false
          description: Address list description (optional, used for备注说明)
          example: This is a test address list
      x-codeSamples:
        - lang: Python
          label: Create Address List (Basic)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/create"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "name": "marketing_maillist",
                "displayName": "Marketing Promotion List",
                "description": "Address list for marketing promotion emails"
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/list:
    get:
      summary: Batch Query Address Lists
      description: Query basic information of multiple address lists (supports pagination)
      operationId: batchQueryAddressListsGet
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Batch query result data of address lists
                    properties:
                      dataList:
                        type: array
                        description: List of address list basic information
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Address list name (unique identifier)
                              example: test_maillist
                            displayName:
                              type: string
                              description: Address list display name
                              example: Test Address List
                            description:
                              type: string
                              description: Address list description
                              example: This is a test address list
                            memberCount:
                              type: integer
                              description: Number of members in the address list
                              example: 50
                            gmtCreated:
                              type: string
                              format: date-time
                              description: Address list creation time
                              example: '2025-10-01 14:30:00'
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: Address list last update time
                              example: '2025-10-02 10:15:00'
                      total:
                        type: integer
                        description: >-
                          Total number of address lists under the current
                          apiUser
                        example: 10
                      count:
                        type: integer
                        description: Number of address lists returned in the current query
                        example: 3
        '400':
          description: Bad request (e.g., invalid pagination parameters)
      parameters:
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: Query start position (pagination parameter, defaults to 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 5
      x-codeSamples:
        - lang: Python
          label: Batch Query Address Lists (Pagination)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "start": 0,
                "limit": 10
            }

            response = requests.get(url, params=params)
            result = response.json()
            print(f"Total address lists: {result['info']['total']}")
            print("Address list details:")
            for list_info in result['info']['dataList']:
                print(f"- Name: {list_info['name']}, DisplayName: {list_info['displayName']}, Members: {list_info['memberCount']}")
    post:
      summary: Batch Query Address Lists (POST)
      description: Batch query address lists using POST method (supports pagination)
      operationId: batchQueryAddressListsPost
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Batch query result data of address lists
                    properties:
                      dataList:
                        type: array
                        description: List of address list basic information
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Address list name (unique identifier)
                              example: test_maillist
                            displayName:
                              type: string
                              description: Address list display name
                              example: Test Address List
                            description:
                              type: string
                              description: Address list description
                              example: This is a test address list
                            memberCount:
                              type: integer
                              description: Number of members in the address list
                              example: 50
                            gmtCreated:
                              type: string
                              format: date-time
                              description: Address list creation time
                              example: '2025-10-01 14:30:00'
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: Address list last update time
                              example: '2025-10-02 10:15:00'
                      total:
                        type: integer
                        description: >-
                          Total number of address lists under the current
                          apiUser
                        example: 10
                      count:
                        type: integer
                        description: Number of address lists returned in the current query
                        example: 3
        '400':
          description: Bad request (e.g., invalid pagination parameters)
      parameters:
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: Query start position (pagination parameter, defaults to 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 5
      x-codeSamples:
        - lang: Python
          label: Batch Query Address Lists (POST Method)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "start": 5,
                "limit": 8
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/get:
    get:
      summary: Query Single Address List
      description: Get detailed information of a specific address list by list name
      operationId: getSingleAddressListGet
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried address list
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Address list name (unique identifier)
                            example: test_maillist
                          displayName:
                            type: string
                            description: Address list display name
                            example: Test Address List
                          description:
                            type: string
                            description: Address list description
                            example: This is a test address list
                          memberCount:
                            type: integer
                            description: Number of members in the address list
                            example: 50
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Address list creation time
                            example: '2025-10-01 14:30:00'
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: Address list last update time
                            example: '2025-10-02 10:15:00'
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the target address list (unique identifier)
          example: test_maillist
      x-codeSamples:
        - lang: Python
          label: Query Single Address List (GET)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/get"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "name": "marketing_maillist"
            }

            response = requests.get(url, params=params)
            list_info = response.json()
            if list_info["result"]:
                data = list_info["info"]["data"]
                print(f"List Name: {data['name']}")
                print(f"Display Name: {data['displayName']}")
                print(f"Member Count: {data['memberCount']}")
                print(f"Created Time: {data['gmtCreated']}")
    post:
      summary: Query Single Address List (POST)
      description: Get detailed information of a specific address list using POST method
      operationId: getSingleAddressListPost
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried address list
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Address list name (unique identifier)
                            example: test_maillist
                          displayName:
                            type: string
                            description: Address list display name
                            example: Test Address List
                          description:
                            type: string
                            description: Address list description
                            example: This is a test address list
                          memberCount:
                            type: integer
                            description: Number of members in the address list
                            example: 50
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Address list creation time
                            example: '2025-10-01 14:30:00'
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: Address list last update time
                            example: '2025-10-02 10:15:00'
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the target address list (unique identifier)
          example: test_maillist
      x-codeSamples:
        - lang: Python
          label: Query Single Address List (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/get"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "name": "marketing_maillist"
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/update:
    post:
      summary: Update Address List
      description: Modify the display name or description of an existing address list
      operationId: updateAddressList
      tags:
        - Address List
      responses:
        '200':
          description: Address list updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Update result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of address lists successfully updated (1 =
                          success, 0 = no update)
                        example: 1
        '400':
          description: Bad request (e.g., no parameters to update)
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: >-
            Name of the address list to update (unique identifier, cannot be
            modified)
          example: test_maillist
        - in: query
          name: displayName
          schema:
            type: string
          required: false
          description: New display name (optional, leave empty to keep the original)
          example: Updated Test Address List
        - in: query
          name: description
          schema:
            type: string
          required: false
          description: >-
            New description (optional, leave empty to keep the original; pass
            empty string to clear)
          example: Updated description for test address list
      x-codeSamples:
        - lang: Python
          label: Update Address List (Display Name & Description)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/update"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "name": "marketing_maillist",
                "displayName": "Updated Marketing List",
                "description": "Updated address list for 2025 marketing campaigns"
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/delete:
    post:
      summary: Delete Address List
      description: >-
        Delete an existing address list (all members in the list will be deleted
        together)
      operationId: deleteAddressList
      tags:
        - Address List
      responses:
        '200':
          description: Address list deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Deletion result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of address lists successfully deleted (1 =
                          success, 0 = no deletion)
                        example: 1
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the address list to delete (unique identifier)
          example: test_maillist
      x-codeSamples:
        - lang: Python
          label: Delete Address List
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/delete"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "name": "obsolete_maillist"
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/member/add:
    post:
      summary: Add Members to Address List
      description: >-
        Add one or more email addresses to an existing address list (supports
        batch addition)
      operationId: addMembersToAddressList
      tags:
        - Address List
      responses:
        '200':
          description: Members added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Member addition result statistics
                    properties:
                      successCount:
                        type: integer
                        description: Number of members successfully added
                        example: 10
                      existCount:
                        type: integer
                        description: >-
                          Number of members already existing in the list (not
                          added again)
                        example: 2
                      invalidCount:
                        type: integer
                        description: Number of invalid email addresses (not added)
                        example: 1
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: maillistName
          schema:
            type: string
          required: true
          description: Name of the target address list (to which members are added)
          example: test_maillist
        - in: query
          name: emails
          schema:
            type: string
          required: true
          description: >-
            Email addresses to add (separated by semicolons, supports batch
            addition)
          example: user1@example.com;user2@example.com;user3@example.com
      x-codeSamples:
        - lang: Python
          label: Add Members to Address List (Batch)
          source: >
            import requests


            url = "https://api.aurorasendcloud.com/api/maillist/member/add"

            # Batch add multiple emails (separated by semicolons)

            emails =
            "alice@example.com;bob@example.com;charlie@example.com;dave@example.com"

            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "maillistName": "marketing_maillist",
                "emails": emails
            }


            response = requests.post(url, params=params)

            result = response.json()

            print(f"Added successfully: {result['info']['successCount']}")

            print(f"Already existing: {result['info']['existCount']}")

            print(f"Invalid emails: {result['info']['invalidCount']}")
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/member/delete:
    post:
      summary: Remove Members from Address List
      description: >-
        Remove one or more email addresses from an existing address list
        (supports batch removal)
      operationId: removeMembersFromAddressList
      tags:
        - Address List
      responses:
        '200':
          description: Members removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Member removal result statistics
                    properties:
                      count:
                        type: integer
                        description: Number of members successfully removed
                        example: 3
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: maillistName
          schema:
            type: string
          required: true
          description: Name of the target address list (from which members are removed)
          example: test_maillist
        - in: query
          name: emails
          schema:
            type: string
          required: true
          description: >-
            Email addresses to remove (separated by semicolons, supports batch
            removal)
          example: user1@example.com;user2@example.com
      x-codeSamples:
        - lang: Python
          label: Remove Members from Address List (Batch)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/member/delete"
            # Batch remove multiple emails (separated by semicolons)
            emails = "bob@example.com;dave@example.com"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "maillistName": "marketing_maillist",
                "emails": emails
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/member/list:
    get:
      summary: Query Members of Address List
      description: Query all email members in a specific address list (supports pagination)
      operationId: queryAddressListMembersGet
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Member query result data
                    properties:
                      dataList:
                        type: array
                        description: List of email members in the address list
                        items:
                          type: string
                          description: Email address of the member
                          example: user1@example.com
                      total:
                        type: integer
                        description: Total number of members in the address list
                        example: 50
                      count:
                        type: integer
                        description: Number of members returned in the current query
                        example: 10
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: maillistName
          schema:
            type: string
          required: true
          description: Name of the target address list (to query members)
          example: test_maillist
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: Query start position (pagination parameter, defaults to 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 15
      x-codeSamples:
        - lang: Python
          label: Query Address List Members (Pagination)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/member/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "maillistName": "marketing_maillist",
                "start": 0,
                "limit": 20
            }

            response = requests.get(url, params=params)
            result = response.json()
            print(f"Total members: {result['info']['total']}")
            print("Members in current page:")
            for email in result['info']['dataList']:
                print(f"- {email}")
    post:
      summary: Query Members of Address List (POST)
      description: Query members of an address list using POST method (supports pagination)
      operationId: queryAddressListMembersPost
      tags:
        - Address List
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Member query result data
                    properties:
                      dataList:
                        type: array
                        description: List of email members in the address list
                        items:
                          type: string
                          description: Email address of the member
                          example: user1@example.com
                      total:
                        type: integer
                        description: Total number of members in the address list
                        example: 50
                      count:
                        type: integer
                        description: Number of members returned in the current query
                        example: 10
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: maillistName
          schema:
            type: string
          required: true
          description: Name of the target address list (to query members)
          example: test_maillist
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: Query start position (pagination parameter, defaults to 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 15
      x-codeSamples:
        - lang: Python
          label: Query Address List Members (POST Method)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/member/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "maillistName": "marketing_maillist",
                "start": 20,
                "limit": 15
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
  /api/maillist/member/clear:
    post:
      summary: Clear All Members
      description: >-
        Remove all email members from an existing address list (the list itself
        is retained)
      operationId: clearAddressListMembers
      tags:
        - Address List
      responses:
        '200':
          description: All members cleared successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Clear result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of members cleared (equals total members before
                          clearing)
                        example: 50
        '404':
          description: Address list not found (invalid list name)
      parameters:
        - in: query
          name: maillistName
          schema:
            type: string
          required: true
          description: Name of the target address list (to clear members)
          example: test_maillist
      x-codeSamples:
        - lang: Python
          label: Clear All Members from Address List
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/maillist/member/clear"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "maillistName": "marketing_maillist"
            }

            response = requests.post(url, params=params)
            print(response.json())
      security:
        - apiUser: []
          apiKey: []
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: Authentication parameter (API_USER, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: Authentication parameter (API_KEY, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
