openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Block
    description: >-
      Interfaces for querying block lists, adding blocked addresses, and
      removing blocked addresses
paths:
  /api/block/list:
    get:
      summary: Query Block List (GET)
      description: >-
        Get list of blocked email addresses or domains. Supports filtering by
        API user, domain name, email address, and time range. The maximum query
        time range is 3 months.
      operationId: queryBlockListGet
      tags:
        - Block
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserBlock:
                              type: string
                              description: Block API_USER
                              example: all
                            domain:
                              type: string
                              description: Block receiving domain
                              example: ''
                            email:
                              type: string
                              description: Block email address
                              example: 0.0.vallin@gmail.com
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-03-01 17:24:34'
                            expireTime:
                              type: string
                              description: Expire time
                              example: '2021-10-01 00:00:00'
                      count:
                        type: integer
                        description: Number of returned results
                        example: 2
        '400':
          description: >-
            Bad request (e.g., time range exceeds 3 months, missing required
            parameters)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: apiUserBlock
          schema:
            type: string
          required: false
          description: Block API_USER
        - in: query
          name: domainName
          schema:
            type: string
          required: false
          description: Block receiving domain
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: Block email address
        - in: query
          name: days
          schema:
            type: integer
          required: false
          description: Stats in the past [days] days (days=1 means today)
        - in: query
          name: startDate
          schema:
            type: string
          required: false
          description: Start date, formatted with yyyy-MM-dd
        - in: query
          name: endDate
          schema:
            type: string
          required: false
          description: End date, formatted with yyyy-MM-dd
        - in: query
          name: start
          schema:
            type: integer
            default: 100
          required: false
          description: Amount, [0-100], defaults to 100
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          required: false
          description: Amount, [0-100], defaults to 100
    post:
      summary: Query Block List (POST)
      description: >-
        Query blocked addresses or domains using POST method. Supports the same
        parameters as GET method.
      operationId: queryBlockListPost
      tags:
        - Block
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserBlock:
                              type: string
                              description: Block API_USER
                              example: all
                            domain:
                              type: string
                              description: Block receiving domain
                              example: ''
                            email:
                              type: string
                              description: Block email address
                              example: 0.0.vallin@gmail.com
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-03-01 17:24:34'
                            expireTime:
                              type: string
                              description: Expire time
                              example: '2021-10-01 00:00:00'
                      count:
                        type: integer
                        description: Number of returned results
                        example: 2
        '400':
          description: >-
            Bad request (e.g., time range exceeds 3 months, missing required
            parameters)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUserBlock:
                  type: string
                  description: Block API_USER
                domainName:
                  type: string
                  description: Block receiving domain
                email:
                  type: string
                  description: Block email address
                days:
                  type: integer
                  description: Stats in the past [days] days (days=1 means today)
                startDate:
                  type: string
                  description: Start date, formatted with yyyy-MM-dd
                endDate:
                  type: string
                  description: End date, formatted with yyyy-MM-dd
                start:
                  type: integer
                  default: 100
                  description: Amount, [0-100], defaults to 100
                limit:
                  type: integer
                  default: 100
                  description: Amount, [0-100], defaults to 100
  /api/block/add:
    post:
      summary: Add Block Address
      description: >-
        Add email address or domain to block list. You must specify either email
        or domainName, and expireTime is required.
      operationId: addBlockAddress
      tags:
        - Block
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      addSuccessCount:
                        type: integer
                        description: Number of addresses successfully added
                        example: 1
        '400':
          description: Bad request (e.g., missing required parameters, invalid format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    Email address to block (either email or domainName must be
                    specified)
                domainName:
                  type: string
                  description: >-
                    Domain name to block (either email or domainName must be
                    specified)
                expireTime:
                  type: string
                  required:
                    - expireTime
                  description: Expiration time, formatted with yyyy-MM-dd HH:mm:ss
              required:
                - expireTime
  /api/block/delete:
    post:
      summary: Delete Block Address
      description: >-
        Delete email address or domain from block list. You must specify either
        email or domainName.
      operationId: deleteBlockAddress
      tags:
        - Block
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      deleteSuccessCount:
                        type: integer
                        description: Number of addresses successfully deleted
                        example: 1
        '400':
          description: Bad request (e.g., missing required parameters, invalid format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    Email address to delete (either email or domainName must be
                    specified)
                domainName:
                  type: string
                  description: >-
                    Domain name to delete (either email or domainName must be
                    specified)
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: >-
        API_USER (authentication parameter; obtained from the SendCloud console
        -> Email API -> API_USER)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: >-
        API_KEY (authentication parameter; obtained from the SendCloud console
        -> Email API -> API_USER; keep confidential to avoid leakage)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
