openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api2.sendcloud.net
tags:
  - name: Block
    description: >-
      Interfaces for querying block lists, adding blocked addresses, and
      removing blocked addresses. Blocked addresses will be prohibited from
      receiving emails sent via SendCloud to comply with anti-spam regulations
      and protect sending reputation.
paths:
  /api/block/list:
    get:
      summary: Query Block List
      description: >-
        Get list of blocked email addresses within a specified time range.
        Supports filtering by block type, email address, and time range. The
        maximum query time range is 90 days, and the maximum number of results
        per page is 500. Time parameters use Beijing time (GMT+8).
      operationId: queryBlockListGet
      tags:
        - Block
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates success; other codes
                      indicate failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: >-
                                Blocked email address (standard RFC 5322 format;
                                exact match for filtering)
                              example: blocked@example.com
                            blockTime:
                              type: string
                              format: date-time
                              description: >-
                                Block time (format: yyyy-MM-dd HH:mm:ss, Beijing
                                time; accurate to the second)
                              example: '2025-10-18 10:20:30'
                            blockType:
                              type: string
                              enum:
                                - manual
                                - spam_reported
                                - bounce
                                - system
                              description: >-
                                Block type (manual = added via API/console;
                                spam_reported = blocked due to recipient's spam
                                report; bounce = blocked due to repeated email
                                bounces; system = automatically blocked by the
                                system for violation of sending rules)
                              example: spam_reported
                            reason:
                              type: string
                              description: >-
                                Block reason (detailed explanation of why the
                                address was blocked; empty if not specified)
                              example: Reported as spam by recipient
                            operator:
                              type: string
                              description: >-
                                Operator (apiUser for manual block; system for
                                automatic block by the system)
                              example: system
                      total:
                        type: integer
                        description: >-
                          Total number of blocked addresses matching the query
                          conditions (across all pages)
                        example: 36
                      count:
                        type: integer
                        description: >-
                          Number of returned results in the current page
                          (consistent with pageSize parameter)
                        example: 20
                      page:
                        type: integer
                        description: >-
                          Current page number (starts from 1; defaults to 1 if
                          not specified)
                        example: 1
                      pageSize:
                        type: integer
                        description: >-
                          Number of results displayed per page (defaults to 100,
                          maximum 500)
                        example: 20
        '400':
          description: >-
            Bad request (e.g., time range exceeds 90 days, invalid block type,
            pageSize > 500, endTime earlier than startTime)
        '401':
          description: >-
            Authentication failed (invalid apiUser or apiKey; please verify
            credentials in the SendCloud console -> API Settings)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from the SendCloud
            console -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter; obtained from the SendCloud
            console -> API Settings; keep confidential to avoid leakage)
          example: test_api_key
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time; no
            limit if not specified; cannot be earlier than 90 days before the
            current time)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: false
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time; must be
            after startTime if specified; cannot be later than the current time)
          example: '2025-10-31 23:59:59'
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: >-
            Filter by specific email address (exact match; only one address can
            be queried at a time)
          example: blocked@example.com
        - in: query
          name: blockType
          schema:
            type: string
            enum:
              - all
              - manual
              - spam_reported
              - bounce
              - system
            default: all
          required: false
          description: >-
            Filter by block type (all = query all block types, manual = manually
            added blocks, spam_reported = spam report blocks, bounce = bounce
            blocks, system = system automatic blocks; defaults to "all")
          example: spam_reported
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          required: false
          description: >-
            Page number (pagination parameter; starts from 1, defaults to 1 if
            not provided)
          example: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
            maximum: 500
          required: false
          description: >-
            Number of results per page (pagination parameter; defaults to 100,
            maximum 500; exceeding will return a 400 error)
          example: 50
      x-codeSamples:
        - lang: Python
          label: Query Spam-Reported Block List
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/block/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "blockType": "spam_reported",
                "pageSize": 50
            }

            response = requests.get(url, params=params)
            print(response.json())
    post:
      summary: Query Block List (POST)
      description: >-
        Query blocked addresses using POST method. Suitable for scenarios where
        query parameters are long. Supports the same filtering conditions and
        constraints as the GET method.
      operationId: queryBlockListPost
      tags:
        - Block
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates success; other codes
                      indicate failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: Blocked email address (standard RFC 5322 format)
                              example: blocked@example.com
                            blockTime:
                              type: string
                              format: date-time
                              description: >-
                                Block time (format: yyyy-MM-dd HH:mm:ss, Beijing
                                time)
                              example: '2025-10-18 10:20:30'
                            blockType:
                              type: string
                              enum:
                                - manual
                                - spam_reported
                                - bounce
                                - system
                              description: >-
                                Block type (manual = API/console added;
                                spam_reported = spam report; bounce = repeated
                                bounce; system = system automatic)
                              example: spam_reported
                            reason:
                              type: string
                              description: >-
                                Block reason (detailed explanation of the block
                                cause)
                              example: Reported as spam by recipient
                            operator:
                              type: string
                              description: >-
                                Operator (apiUser for manual block; system for
                                automatic block)
                              example: system
                      total:
                        type: integer
                        description: >-
                          Total number of blocked addresses matching the query
                          conditions
                        example: 36
                      count:
                        type: integer
                        description: Number of returned results in the current page
                        example: 20
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: Number of results per page (max 500)
                        example: 20
        '400':
          description: >-
            Bad request (e.g., invalid time range, pageSize exceeding 500,
            missing required parameters)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from the
                    SendCloud console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: >-
                    API_KEY (authentication parameter; obtained from the
                    SendCloud console -> API Settings; keep confidential)
                  example: test_api_key
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    max 90 days range; no limit if not specified)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime if specified)
                  example: '2025-10-31 23:59:59'
                email:
                  type: string
                  description: >-
                    Filter by specific email address (exact match; only one
                    address can be queried at a time)
                  example: blocked@example.com
                blockType:
                  type: string
                  enum:
                    - all
                    - manual
                    - spam_reported
                    - bounce
                    - system
                  default: all
                  description: >-
                    Filter by block type (all = default, manual = manually
                    added, spam_reported = spam report, bounce = repeated
                    bounce, system = system automatic)
                  example: manual
                page:
                  type: integer
                  default: 1
                  description: >-
                    Page number (pagination parameter; starts from 1, defaults
                    to 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: >-
                    Number of results per page (pagination parameter; defaults
                    to 100, maximum 500; exceeding will return error)
                  example: 50
              required:
                - apiUser
                - apiKey
      x-codeSamples:
        - lang: Python
          label: Query Block List (POST)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/block/list"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "blockType": "manual",
                "pageSize": 100
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/block/add:
    post:
      summary: Add Blocked Address
      description: >-
        Manually add one or more email addresses to the block list. After
        addition, the system will prohibit sending emails to these addresses.
        Supports batch addition (up to 100 addresses per request, separated by
        semicolons). Addresses already in the block list will be ignored.
      operationId: addBlockedAddress
      tags:
        - Block
      responses:
        '200':
          description: Add successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates add operation
                      successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Add result message (e.g., "add block successful" or
                      "partial addresses already blocked")
                    example: add block successful
                  result:
                    type: boolean
                    description: >-
                      Whether the overall add operation succeeded (true =
                      all/partial addresses added; false = no addresses added)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully added blocked addresses
                          (excludes duplicate or invalid addresses)
                        example: 2
        '400':
          description: >-
            Bad request (e.g., invalid email format, exceeding 100 addresses per
            request, empty email parameter, invalid reason length)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from the
                    SendCloud console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: >-
                    API_KEY (authentication parameter; obtained from the
                    SendCloud console -> API Settings; keep confidential)
                  example: test_api_key
                email:
                  type: string
                  description: >-
                    Email address(es) to block (supports multiple addresses
                    separated by semicolons; max 100 addresses per request; must
                    be valid RFC 5322 format)
                  example: user1@example.com;user2@example.com
                reason:
                  type: string
                  description: >-
                    Block reason (custom description of why the address is
                    blocked; max 200 characters; optional)
                  example: Violates sending policy
              required:
                - apiUser
                - apiKey
                - email
      x-codeSamples:
        - lang: Python
          label: Add Blocked Addresses
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/block/add"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "email": "user1@example.com;user2@example.com",
                "reason": "Violates sending policy"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/block/remove:
    post:
      summary: Remove Blocked Address
      description: >-
        Remove one or more email addresses from the block list. After removal,
        emails can be sent to these addresses again. Supports batch removal (up
        to 100 addresses per request, separated by semicolons). Addresses not in
        the block list will be ignored.
      operationId: removeBlockedAddress
      tags:
        - Block
      responses:
        '200':
          description: Remove successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates remove operation
                      successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Remove result message (e.g., "remove block successful" or
                      "partial addresses not found")
                    example: remove block successful
                  result:
                    type: boolean
                    description: >-
                      Whether the overall remove operation succeeded (true =
                      all/partial addresses removed; false = no addresses
                      removed)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully removed addresses (excludes
                          addresses not in the block list)
                        example: 1
        '400':
          description: >-
            Bad request (e.g., invalid email format, exceeding 100 addresses per
            request, empty email parameter)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from the
                    SendCloud console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: >-
                    API_KEY (authentication parameter; obtained from the
                    SendCloud console -> API Settings; keep confidential)
                  example: test_api_key
                email:
                  type: string
                  description: >-
                    Email address(es) to unblock (supports multiple addresses
                    separated by semicolons; max 100 addresses per request;
                    valid RFC 5322 format)
                  example: user1@example.com;user2@example.com
              required:
                - apiUser
                - apiKey
                - email
      x-codeSamples:
        - lang: Python
          label: Remove Blocked Addresses
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/block/remove"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "email": "user1@example.com;user2@example.com"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/block/export:
    post:
      summary: Export Block List
      description: >-
        Export blocked address data within a specified time range to a CSV file.
        The maximum export time range is 30 days, and the generated CSV file is
        valid for 24 hours (after which the download URL expires). The CSV
        includes fields: email, blockTime, blockType, reason, operator.
      operationId: exportBlockList
      tags:
        - Block
      responses:
        '200':
          description: Export task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates task created
                      successfully)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Task creation result message (error information if
                      creation fails, such as "time range exceeds 30 days")
                    example: export task created successfully
                  result:
                    type: boolean
                    description: >-
                      Whether the task was created successfully (true = success,
                      false = failure)
                    example: true
                  info:
                    type: object
                    properties:
                      taskId:
                        type: string
                        description: >-
                          Export task ID (used to query task status or
                          troubleshoot issues with technical support)
                        example: export_block_123456
                      downloadUrl:
                        type: string
                        description: >-
                          CSV download URL (empty when the task is processing;
                          valid for 24 hours after task completion; expired URLs
                          cannot be reused)
                        example: https://download.sendcloud.net/block_export_123.csv
                      status:
                        type: string
                        enum:
                          - processing
                          - completed
                          - failed
                        description: >-
                          Export task status (processing = being generated;
                          completed = generated successfully; failed =
                          generation failed due to data volume or parameter
                          issues)
                        example: processing
                      estimatedTime:
                        type: integer
                        description: >-
                          Estimated completion time (seconds; for reference
                          only, subject to data volume)
                        example: 40
        '400':
          description: >-
            Bad request (e.g., time range exceeds 30 days, endTime earlier than
            startTime, duplicate export tasks for the same conditions within 5
            minutes)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from the
                    SendCloud console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: >-
                    API_KEY (authentication parameter; obtained from the
                    SendCloud console -> API Settings; keep confidential)
                  example: test_api_key
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Export start time (format: yyyy-MM-dd HH:mm:ss, Beijing
                    time; max 30 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Export end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime if specified)
                  example: '2025-10-31 23:59:59'
                blockType:
                  type: string
                  enum:
                    - all
                    - manual
                    - spam_reported
                    - bounce
                    - system
                  default: all
                  description: >-
                    Filter by block type (all = export all types, manual =
                    manually added, spam_reported = spam report, bounce =
                    repeated bounce, system = system automatic; defaults to
                    "all")
                  example: all
              required:
                - apiUser
                - apiKey
      x-codeSamples:
        - lang: Python
          label: Export Block List
          source: |
            import requests
            import time

            # Create export task
            url = "https://api2.sendcloud.net/api/block/export"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "blockType": "all"
            }
            response = requests.post(url, data=data)
            task_info = response.json()
            task_id = task_info["info"]["taskId"]

            # Poll task status
            poll_url = "https://api2.sendcloud.net/api/block/export/status"
            while True:
                poll_data = {
                    "apiUser": "test_api_user",
                    "apiKey": "test_api_key",
                    "taskId": task_id
                }
                poll_response = requests.post(poll_url, data=poll_data)
                poll_result = poll_response.json()
                if poll_result["info"]["status"] == "completed":
                    download_url = poll_result["info"]["downloadUrl"]
                    # Download CSV
                    csv_response = requests.get(download_url)
                    with open("block_export.csv", "wb") as f:
                        f.write(csv_response.content)
                    print("Export completed and saved as block_export.csv")
                    break
                elif poll_result["info"]["status"] == "failed":
                    print(f"Export failed: {poll_result['message']}")
                    break
                time.sleep(10)
  /api/block/check:
    get:
      summary: Check Block Status
      description: >-
        Verify if a specific email address is in the block list. Returns block
        details if the address is blocked; returns empty values otherwise.
      operationId: checkBlockStatusGet
      tags:
        - Block
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates query successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Query result message (e.g., "request was successful" or
                      "invalid email format")
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the query succeeded (true = success; false =
                      invalid parameter)
                    example: true
                  info:
                    type: object
                    properties:
                      isBlocked:
                        type: boolean
                        description: >-
                          Whether the email address is blocked (true = blocked;
                          false = not blocked)
                        example: true
                      blockTime:
                        type: string
                        format: date-time
                        description: >-
                          Block time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                          empty if not blocked)
                        example: '2025-10-18 10:20:30'
                      blockType:
                        type: string
                        description: >-
                          Block type (empty if not blocked; values:
                          manual/spam_reported/bounce/system)
                        example: spam_reported
                      reason:
                        type: string
                        description: >-
                          Block reason (empty if not blocked or no reason was
                          set)
                        example: Reported as spam by recipient
        '400':
          description: Bad request (e.g., invalid email format, empty email parameter)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from the SendCloud
            console -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter; obtained from the SendCloud
            console -> API Settings; keep confidential)
          example: test_api_key
        - in: query
          name: email
          schema:
            type: string
          required: true
          description: Email address to check (must be a valid RFC 5322 format address)
          example: blocked@example.com
      x-codeSamples:
        - lang: Python
          label: Check Block Status
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/block/check"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "email": "blocked@example.com"
            }

            response = requests.get(url, params=params)
            print(response.json())
components:
  securitySchemes: {}
x-readme:
  explorer-enabled: true
  proxy-enabled: true
