openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Bounce
    description: >-
      Interfaces for querying bounced emails, managing bounce lists, and
      unblocking bounced addresses
paths:
  /api/bounce/list:
    get:
      summary: Query Bounce List
      description: >-
        Query emails in the bounce list. Can search by time range or specific
        email address. Time frame cannot exceed 3 months.
      operationId: queryBounceListGet
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: Email address
                              example: b@qq.com
                            reason:
                              type: string
                              description: Bounce reason
                              example: >-
                                Mailbox not found.
                                http://service.mail.qq.com/cgi-bin/help?subtype=1&&id=20022&&no=1000728
                            domain:
                              type: string
                              description: Bounce domain
                              example: qq.com
                            bounceTime:
                              type: string
                              format: date-time
                              description: Bounce time (formated yyyy-MM-dd HH:mm:ss)
                              example: '2016-02-01 14:53:20'
                            expireTime:
                              type: string
                              format: date-time
                              description: Expire time (formated yyyy-MM-dd HH:mm:ss)
                              example: '2021-07-09 00:59:37'
                      count:
                        type: integer
                        description: Number of returned results
                        example: 1
        '400':
          description: >-
            Bad request (e.g., invalid time range, time range exceeding 3
            months)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: days
          schema:
            type: integer
          required: false
          description: >-
            Stats in the past [days] days (days=1 means today). Either days or
            (startDate and endDate) must be provided.
          example: 100
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          required: false
          description: >-
            Start date in yyyy-MM-dd format. Either days or (startDate and
            endDate) must be provided. Time frame cannot exceed 3 months.
          example: '2025-10-01'
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          required: false
          description: >-
            End date in yyyy-MM-dd format. Must be provided together with
            startDate and be after startDate.
          example: '2025-10-31'
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: >-
            Email address to query in the bounce list. If provided, time
            parameters will be ignored.
          example: invalid@example.com
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 100
          required: false
          description: Start index for pagination (range 0-100, default is 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: Number of results per page (range 0-100, default is 100)
          example: 100
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Query Bounced Emails (POST)
      description: >-
        Query bounced emails using POST method (supports same filters as GET;
        suitable for scenarios where query parameters are too long)
      operationId: queryBouncedEmailsPost
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates success; other codes
                      indicate failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            emailId:
                              type: string
                              description: >-
                                Unique email ID of the bounced email (generated
                                by SendCloud when sending)
                              example: >-
                                1447054895514_15555555_32350_1350.sc-inbound0$invalid@example.com
                            to:
                              type: string
                              description: >-
                                Recipient email address (the address that
                                bounced)
                              example: invalid@example.com
                            from:
                              type: string
                              description: Sender email address (configured when sending)
                              example: support@example.com
                            subject:
                              type: string
                              description: >-
                                Email subject (consistent with the original sent
                                email)
                              example: Test Email Subject
                            sendTime:
                              type: string
                              format: date-time
                              description: >-
                                Email sending time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time)
                              example: '2025-10-15 14:30:00'
                            bounceTime:
                              type: string
                              format: date-time
                              description: >-
                                Bounce occurrence time (format: yyyy-MM-dd
                                HH:mm:ss, Beijing time)
                              example: '2025-10-15 14:32:30'
                            bounceType:
                              type: string
                              enum:
                                - hard
                                - soft
                              description: >-
                                Bounce type (hard=permanent failure,
                                soft=temporary failure)
                              example: hard
                            bounceReason:
                              type: string
                              description: >-
                                Detailed bounce reason (SMTP server response
                                message)
                              example: >-
                                550 5.1.1 Recipient address rejected: User
                                unknown
                            bounceCode:
                              type: string
                              description: >-
                                SMTP bounce code (3-digit code indicating bounce
                                category)
                              example: '550'
                            domain:
                              type: string
                              description: >-
                                Sending domain (domain part of the sender's
                                email)
                              example: example.com
                      total:
                        type: integer
                        description: >-
                          Total number of bounced emails matching the query
                          conditions
                        example: 15
                      count:
                        type: integer
                        description: Number of returned results in the current page
                        example: 10
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: Number of results displayed per page
                        example: 10
        '400':
          description: Bad request (e.g., invalid time range, missing required parameters)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    max 90 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime)
                  example: '2025-10-31 23:59:59'
                bounceType:
                  type: string
                  enum:
                    - all
                    - hard
                    - soft
                  default: all
                  description: >-
                    Filter by bounce type (all=default, hard=permanent,
                    soft=temporary)
                  example: hard
                to:
                  type: string
                  description: Filter by recipient email address (exact match)
                  example: invalid@example.com
                domain:
                  type: string
                  description: Filter by sending domain (exact match)
                  example: example.com
                labelName:
                  type: string
                  description: Filter by email label (exact match)
                  example: Marketing Campaigns
                page:
                  type: integer
                  default: 1
                  description: Page number (starts from 1, default is 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: Number of results per page (max 500, default 100)
                  example: 50
              required:
                - startTime
                - endTime
  /api/bounce/delete:
    post:
      summary: Delete Bounced Email
      description: >-
        Remove a specified email address from the bounce list. This function is
        the same as adding to the sending unblocking list.
      operationId: deleteBouncedEmailPost
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of successfully unblocked addresses
                        example: 1
        '400':
          description: Bad request (e.g., invalid email format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to remove from the bounce list
                  example: invalid@example.com
              required:
                - email
      security:
        - apiUser: []
          apiKey: []
    get:
      summary: Delete Bounced Email (GET)
      description: Remove a specified email address from the bounce list using GET method
      operationId: deleteBouncedEmailGet
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of successfully unblocked addresses
                        example: 1
        '400':
          description: Bad request (e.g., invalid email format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: email
          schema:
            type: string
          required: true
          description: Email address to remove from the bounce list
          example: invalid@example.com
      security:
        - apiUser: []
          apiKey: []
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter; obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: >-
        API_KEY (authentication parameter; obtained from the SendCloud console,
        keep confidential)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
