openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
tags:
  - name: Bounce
    description: >-
      Interfaces for querying bounced emails, managing bounce lists, and
      unblocking bounced addresses
paths:
  /api/bounce/list:
    get:
      summary: Query Bounced Emails
      description: >-
        Get list of bounced emails within a specified time range (supports
        filtering by bounce type, recipient, etc.). The maximum query time range
        is 90 days, and the maximum number of results per page is 500.
      operationId: queryBouncedEmailsGet
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates success; other codes
                      indicate failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            emailId:
                              type: string
                              description: >-
                                Unique email ID of the bounced email (generated
                                by SendCloud when sending, used to trace the
                                original email)
                              example: >-
                                1447054895514_15555555_32350_1350.sc-inbound0$invalid@example.com
                            to:
                              type: string
                              description: >-
                                Recipient email address (the address that
                                bounced)
                              example: invalid@example.com
                            from:
                              type: string
                              description: >-
                                Sender email address (configured when sending
                                the email)
                              example: support@example.com
                            subject:
                              type: string
                              description: >-
                                Email subject (consistent with the original sent
                                email)
                              example: Test Email Subject
                            sendTime:
                              type: string
                              format: date-time
                              description: >-
                                Email sending time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time)
                              example: '2025-10-15 14:30:00'
                            bounceTime:
                              type: string
                              format: date-time
                              description: >-
                                Bounce occurrence time (format: yyyy-MM-dd
                                HH:mm:ss, Beijing time; the time when the bounce
                                response is received from the recipient's mail
                                server)
                              example: '2025-10-15 14:32:30'
                            bounceType:
                              type: string
                              enum:
                                - hard
                                - soft
                              description: >-
                                Bounce type (hard = permanent failure, cannot be
                                retried; soft = temporary failure, can be
                                retried later)
                              example: hard
                            bounceReason:
                              type: string
                              description: >-
                                Detailed bounce reason (original response
                                message from the recipient's SMTP server,
                                including specific failure cause)
                              example: >-
                                550 5.1.1 Recipient address rejected: User
                                unknown
                            bounceCode:
                              type: string
                              description: >-
                                SMTP bounce code (3-digit code defined by SMTP
                                protocol, indicating the bounce category; e.g.,
                                550=permanent failure, 450=temporary failure)
                              example: '550'
                            domain:
                              type: string
                              description: >-
                                Sending domain (the domain part of the sender's
                                email address)
                              example: example.com
                            labelName:
                              type: string
                              description: >-
                                Email label (custom label set when sending the
                                email; empty if no label was set)
                              example: Marketing Campaigns
                      total:
                        type: integer
                        description: >-
                          Total number of bounced emails matching the query
                          conditions
                        example: 15
                      count:
                        type: integer
                        description: Number of returned results in the current page
                        example: 10
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: >-
                          Number of results displayed per page (consistent with
                          the query parameter)
                        example: 10
        '400':
          description: >-
            Bad request (e.g., invalid time range, invalid bounce type, pageSize
            exceeding 500)
        '401':
          description: >-
            Authentication failed (invalid apiUser or apiKey; please check if
            the authentication parameters are correct)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time; cannot
            be earlier than 90 days before the current time)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time; must be
            after startTime and cannot be later than the current time)
          example: '2025-10-31 23:59:59'
        - in: query
          name: bounceType
          schema:
            type: string
            enum:
              - all
              - hard
              - soft
            default: all
          required: false
          description: >-
            Filter by bounce type (all = query all bounce types, hard = query
            only permanent bounces, soft = query only temporary bounces)
          example: hard
        - in: query
          name: to
          schema:
            type: string
          required: false
          description: >-
            Filter by recipient email address (exact match; multiple addresses
            are not supported, query one address at a time)
          example: invalid@example.com
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (exact match; the domain part of the
            sender's email address)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: >-
            Filter by email label (exact match; only emails with the specified
            label are queried)
          example: Marketing Campaigns
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          required: false
          description: Page number (pagination parameter; starts from 1, default is 1)
          example: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
            maximum: 500
          required: false
          description: >-
            Number of results per page (pagination parameter; default is 100,
            maximum is 500, exceeding will return an error)
          example: 50
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Query Hard Bounced Emails
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/bounce/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "bounceType": "hard",
                "domain": "example.com",
                "page": 1,
                "pageSize": 50
            }

            response = requests.get(url, params=params)
            print(response.json())
    post:
      summary: Query Bounced Emails (POST)
      description: >-
        Query bounced emails using POST method (supports same filters as GET;
        suitable for scenarios where query parameters are too long)
      operationId: queryBouncedEmailsPost
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 indicates success; other codes
                      indicate failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            emailId:
                              type: string
                              description: >-
                                Unique email ID of the bounced email (generated
                                by SendCloud when sending)
                              example: >-
                                1447054895514_15555555_32350_1350.sc-inbound0$invalid@example.com
                            to:
                              type: string
                              description: >-
                                Recipient email address (the address that
                                bounced)
                              example: invalid@example.com
                            from:
                              type: string
                              description: Sender email address (configured when sending)
                              example: support@example.com
                            subject:
                              type: string
                              description: >-
                                Email subject (consistent with the original sent
                                email)
                              example: Test Email Subject
                            sendTime:
                              type: string
                              format: date-time
                              description: >-
                                Email sending time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time)
                              example: '2025-10-15 14:30:00'
                            bounceTime:
                              type: string
                              format: date-time
                              description: >-
                                Bounce occurrence time (format: yyyy-MM-dd
                                HH:mm:ss, Beijing time)
                              example: '2025-10-15 14:32:30'
                            bounceType:
                              type: string
                              enum:
                                - hard
                                - soft
                              description: >-
                                Bounce type (hard=permanent failure,
                                soft=temporary failure)
                              example: hard
                            bounceReason:
                              type: string
                              description: >-
                                Detailed bounce reason (SMTP server response
                                message)
                              example: >-
                                550 5.1.1 Recipient address rejected: User
                                unknown
                            bounceCode:
                              type: string
                              description: >-
                                SMTP bounce code (3-digit code indicating bounce
                                category)
                              example: '550'
                            domain:
                              type: string
                              description: >-
                                Sending domain (domain part of the sender's
                                email)
                              example: example.com
                      total:
                        type: integer
                        description: >-
                          Total number of bounced emails matching the query
                          conditions
                        example: 15
                      count:
                        type: integer
                        description: Number of returned results in the current page
                        example: 10
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: Number of results displayed per page
                        example: 10
        '400':
          description: Bad request (e.g., invalid time range, missing required parameters)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    max 90 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime)
                  example: '2025-10-31 23:59:59'
                bounceType:
                  type: string
                  enum:
                    - all
                    - hard
                    - soft
                  default: all
                  description: >-
                    Filter by bounce type (all=default, hard=permanent,
                    soft=temporary)
                  example: hard
                to:
                  type: string
                  description: Filter by recipient email address (exact match)
                  example: invalid@example.com
                domain:
                  type: string
                  description: Filter by sending domain (exact match)
                  example: example.com
                labelName:
                  type: string
                  description: Filter by email label (exact match)
                  example: Marketing Campaigns
                page:
                  type: integer
                  default: 1
                  description: Page number (starts from 1, default is 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: Number of results per page (max 500, default 100)
                  example: 50
              required:
                - startTime
                - endTime
      x-codeSamples:
        - lang: Python
          label: Query Bounced Emails (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/bounce/list"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "bounceType": "soft",
                "pageSize": 100
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/bounce/export:
    post:
      summary: Export Bounced Emails
      description: >-
        Export bounced email data within a specified time range to CSV file. The
        maximum export time range is 30 days, and the export file is valid for
        24 hours after generation.
      operationId: exportBouncedEmails
      tags:
        - Bounce
      responses:
        '200':
          description: Export task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates task creation success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Task creation result message (error information if
                      creation fails)
                    example: export task created successfully
                  result:
                    type: boolean
                    description: >-
                      Whether the task was created successfully (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      taskId:
                        type: string
                        description: >-
                          Export task ID (used to query the export status and
                          download the file later)
                        example: export_bounce_123456
                      downloadUrl:
                        type: string
                        description: >-
                          CSV download URL (empty when the task is processing;
                          valid for 24 hours after the task is completed)
                        example: https://download.sendcloud.net/bounce_export_123.csv
                      status:
                        type: string
                        enum:
                          - processing
                          - completed
                          - failed
                        description: >-
                          Export task status (processing=being generated,
                          completed=generated successfully, failed=generation
                          failed)
                        example: processing
                      estimatedTime:
                        type: integer
                        description: >-
                          Estimated completion time (seconds; for reference
                          only, subject to actual generation speed)
                        example: 60
        '400':
          description: >-
            Bad request (e.g., time range exceeds 30 days, invalid parameters,
            duplicate export tasks for the same conditions)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Export start time (format: yyyy-MM-dd HH:mm:ss, Beijing
                    time; max 30 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Export end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime)
                  example: '2025-10-31 23:59:59'
                bounceType:
                  type: string
                  enum:
                    - all
                    - hard
                    - soft
                  default: all
                  description: >-
                    Filter by bounce type (all=export all types, hard=permanent
                    bounces, soft=temporary bounces)
                  example: all
                domain:
                  type: string
                  description: >-
                    Filter by sending domain (exact match; only export emails
                    from the specified domain)
                  example: example.com
                labelName:
                  type: string
                  description: >-
                    Filter by email label (exact match; only export emails with
                    the specified label)
                  example: Marketing Campaigns
              required:
                - startTime
                - endTime
      x-codeSamples:
        - lang: Python
          label: Export Bounced Emails
          source: >
            import requests

            import time


            # Create export task

            url = "https://api.aurorasendcloud.com/api/bounce/export"

            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "bounceType": "all"
            }

            response = requests.post(url, data=data)

            task_info = response.json()

            task_id = task_info["info"]["taskId"]


            # Poll task status

            poll_url =
            "https://api.aurorasendcloud.com/api/bounce/export/status"

            while True:
                poll_data = {
                    "apiUser": "test_api_user",
                    "apiKey": "test_api_key",
                    "taskId": task_id
                }
                poll_response = requests.post(poll_url, data=poll_data)
                poll_result = poll_response.json()
                if poll_result["info"]["status"] == "completed":
                    download_url = poll_result["info"]["downloadUrl"]
                    # Download CSV
                    csv_response = requests.get(download_url)
                    with open("bounce_export.csv", "wb") as f:
                        f.write(csv_response.content)
                    print("Export completed and saved as bounce_export.csv")
                    break
                elif poll_result["info"]["status"] == "failed":
                    print(f"Export failed: {poll_result['message']}")
                    break
                time.sleep(10)
  /api/bounce/unblock:
    post:
      summary: Unblock Bounced Address
      description: >-
        Remove a bounced email address from the bounce list (after unblocking,
        you can send emails to this address again). Only permanent bounced
        addresses (hard bounce) can be unblocked; temporary bounced addresses
        (soft bounce) do not need to be unblocked.
      operationId: unblockBouncedAddress
      tags:
        - Bounce
      responses:
        '200':
          description: Unblock successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates unblock success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Unblock result message (error information if unblock
                      fails)
                    example: unblock successful
                  result:
                    type: boolean
                    description: >-
                      Whether the unblock was successful (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully unblocked addresses (excludes
                          addresses not in the bounce list or temporary bounced
                          addresses)
                        example: 1
        '400':
          description: >-
            Bad request (e.g., address not in the bounce list, temporary bounced
            address, invalid email format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    Bounced email address to unblock (only supports one address
                    per request; must be a permanent bounced address)
                  example: invalid@example.com
              required:
                - email
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Unblock Bounced Address
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/bounce/unblock"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "email": "invalid@example.com"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/bounce/count:
    get:
      summary: Get Bounce Count
      description: >-
        Get total number of bounced emails within a specified time range
        (supports statistical classification by bounce type). The maximum query
        time range is 90 days.
      operationId: getBounceCountGet
      tags:
        - Bounce
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: >-
                          Total number of bounced emails matching the query
                          conditions (sum of hard and soft bounces)
                        example: 156
                      hardBounce:
                        type: integer
                        description: >-
                          Number of permanent bounces (hard bounce; cannot be
                          retried)
                        example: 89
                      softBounce:
                        type: integer
                        description: >-
                          Number of temporary bounces (soft bounce; can be
                          retried)
                        example: 67
        '400':
          description: Bad request (e.g., invalid time range, time range exceeding 90 days)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time; max 90
            days range)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time; must be
            after startTime)
          example: '2025-10-31 23:59:59'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (exact match; only count bounces from the
            specified domain)
          example: example.com
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Get Bounce Count
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/bounce/count"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "domain": "example.com"
            }

            response = requests.get(url, params=params)
            print(response.json())
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter; obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: >-
        API_KEY (authentication parameter; obtained from the SendCloud console,
        keep confidential)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
