openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api2.sendcloud.net
tags:
  - name: Complaint
    description: >-
      Interfaces for querying spam reported emails and managing spam lists.
      Spam-reported addresses will be automatically added to the system's
      blocklist by default to comply with anti-spam regulations and protect
      sending reputation.
paths:
  /api/spamreported/list:
    get:
      summary: Query Spam Reported List
      description: >-
        Get list of emails marked as spam by recipients within a specified time
        range. Supports multi-dimensional filtering and pagination. The maximum
        query time range is 90 days, and the maximum number of results per page
        is 500. Time parameters use Beijing time (GMT+8).
      operationId: querySpamReportedListGet
      tags:
        - Complaint
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios, such as "invalid time range")
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            emailId:
                              type: string
                              description: >-
                                Unique email ID of the spam-reported email
                                (generated by SendCloud when sending, used to
                                trace the original email details)
                              example: >-
                                1447054895514_15555555_32350_1350.sc-inbound0$spam@example.com
                            email:
                              type: string
                              description: >-
                                Recipient email address that reported the spam
                                (standard RFC 5322 format; exact match for
                                filtering)
                              example: spam@example.com
                            from:
                              type: string
                              description: >-
                                Sender email address of the reported email
                                (configured when sending, consistent with the
                                original send parameters)
                              example: marketing@example.com
                            subject:
                              type: string
                              description: >-
                                Subject of the spam-reported email (consistent
                                with the original sent email)
                              example: Special Offer Promotion
                            sendTime:
                              type: string
                              format: date-time
                              description: >-
                                Sending time of the email (format: yyyy-MM-dd
                                HH:mm:ss, Beijing time; accurate to the second)
                              example: '2025-10-17 11:20:00'
                            reportTime:
                              type: string
                              format: date-time
                              description: >-
                                Time when the recipient reported the email as
                                spam (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                                the time when the spam feedback is received from
                                the recipient's mail server)
                              example: '2025-10-17 11:35:15'
                            mailServer:
                              type: string
                              description: >-
                                Recipient's mail server (e.g., Gmail, Outlook,
                                QQ Mail; helps analyze spam reports by platform)
                              example: Gmail
                            domain:
                              type: string
                              description: >-
                                Sending domain associated with the reported
                                email (the domain part of the sender's email
                                address, e.g., example.com for
                                marketing@example.com)
                              example: example.com
                            labelName:
                              type: string
                              description: >-
                                Email label set when sending (custom label for
                                campaign classification; empty if no label was
                                configured)
                              example: Promotion
                      total:
                        type: integer
                        description: >-
                          Total number of spam-reported emails matching the
                          query conditions (across all pages)
                        example: 18
                      count:
                        type: integer
                        description: >-
                          Number of returned results in the current page
                          (consistent with the pageSize parameter)
                        example: 10
                      page:
                        type: integer
                        description: >-
                          Current page number (starts from 1; defaults to 1 if
                          not specified)
                        example: 1
                      pageSize:
                        type: integer
                        description: >-
                          Number of results displayed per page (defaults to 100,
                          maximum 500)
                        example: 10
        '400':
          description: >-
            Bad request (e.g., time range exceeds 90 days, pageSize > 500,
            endTime earlier than startTime, invalid email format)
        '401':
          description: >-
            Authentication failed (invalid apiUser or apiKey; please verify
            credentials in the SendCloud console -> API Settings)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from the SendCloud
            console -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter; obtained from the SendCloud
            console -> API Settings; keep confidential to avoid leakage)
          example: test_api_key
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time; cannot
            be earlier than 90 days before the current time)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time; must be
            later than startTime and cannot be later than the current time)
          example: '2025-10-31 23:59:59'
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: >-
            Filter by recipient email address (exact match; only one address can
            be queried at a time)
          example: spam@example.com
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (exact match; only spam reports associated
            with the specified domain are returned)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: >-
            Filter by email label (exact match with the label set when sending;
            case-sensitive)
          example: Promotion
        - in: query
          name: mailServer
          schema:
            type: string
          required: false
          description: >-
            Filter by recipient's mail server (exact match; e.g., "Gmail",
            "Outlook", "QQ Mail")
          example: Gmail
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          required: false
          description: >-
            Page number (pagination parameter; starts from 1, defaults to 1 if
            not provided)
          example: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
            maximum: 500
          required: false
          description: >-
            Number of results per page (pagination parameter; defaults to 100,
            maximum 500; exceeding will return a 400 error)
          example: 50
      x-codeSamples:
        - lang: Python
          label: Query Spam Reported List
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/spamreported/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "domain": "example.com",
                "pageSize": 50
            }

            response = requests.get(url, params=params)
            print(response.json())
    post:
      summary: Query Spam Reported List (POST)
      description: >-
        Query spam-reported emails using POST method. Suitable for scenarios
        where query parameters are long (e.g., complex filtering conditions).
        Supports the same filtering rules and constraints as the GET method.
      operationId: querySpamReportedListPost
      tags:
        - Complaint
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            emailId:
                              type: string
                              description: >-
                                Unique email ID of the spam-reported email
                                (generated by SendCloud when sending)
                              example: >-
                                1447054895514_15555555_32350_1350.sc-inbound0$spam@example.com
                            email:
                              type: string
                              description: >-
                                Recipient email address that reported the spam
                                (standard RFC 5322 format)
                              example: spam@example.com
                            from:
                              type: string
                              description: Sender email address of the reported email
                              example: marketing@example.com
                            subject:
                              type: string
                              description: Subject of the spam-reported email
                              example: Special Offer Promotion
                            sendTime:
                              type: string
                              format: date-time
                              description: >-
                                Sending time of the email (format: yyyy-MM-dd
                                HH:mm:ss, Beijing time)
                              example: '2025-10-17 11:20:00'
                            reportTime:
                              type: string
                              format: date-time
                              description: >-
                                Spam report time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time)
                              example: '2025-10-17 11:35:15'
                            mailServer:
                              type: string
                              description: Recipient's mail server (e.g., Gmail, Outlook)
                              example: Gmail
                            domain:
                              type: string
                              description: >-
                                Sending domain associated with the reported
                                email
                              example: example.com
                      total:
                        type: integer
                        description: >-
                          Total number of spam-reported emails matching the
                          query conditions
                        example: 18
                      count:
                        type: integer
                        description: Number of returned results in the current page
                        example: 10
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: Number of results per page (max 500)
                        example: 10
        '400':
          description: >-
            Bad request (e.g., invalid time range, missing required parameters,
            pageSize exceeding 500)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    max 90 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime)
                  example: '2025-10-31 23:59:59'
                email:
                  type: string
                  description: Filter by recipient email address (exact match)
                  example: spam@example.com
                domain:
                  type: string
                  description: Filter by sending domain (exact match)
                  example: example.com
                labelName:
                  type: string
                  description: >-
                    Filter by email label (exact match with the label set when
                    sending)
                  example: Promotion
                mailServer:
                  type: string
                  description: Filter by recipient's mail server (exact match)
                  example: Outlook
                page:
                  type: integer
                  default: 1
                  description: Page number (starts from 1, defaults to 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: Number of results per page (max 500, default 100)
                  example: 50
              required:
                - apiUser
                - apiKey
                - startTime
                - endTime
      x-codeSamples:
        - lang: Python
          label: Query Spam Reported List (POST)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/spamreported/list"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "mailServer": "Outlook"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/spamreported/export:
    post:
      summary: Export Spam Reported List
      description: >-
        Export spam-reported email data within a specified time range to a CSV
        file. The maximum export time range is 30 days, and the generated CSV
        file is valid for 24 hours (after which the download URL expires). The
        CSV includes fields: emailId, email, from, subject, sendTime,
        reportTime, mailServer, domain, labelName.
      operationId: exportSpamReportedList
      tags:
        - Complaint
      responses:
        '200':
          description: Export task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = task created successfully)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Task creation result message (error information if
                      creation fails, such as "time range exceeds 30 days")
                    example: export task created successfully
                  result:
                    type: boolean
                    description: >-
                      Whether the task was created successfully (true = success,
                      false = failure)
                    example: true
                  info:
                    type: object
                    properties:
                      taskId:
                        type: string
                        description: >-
                          Export task ID (used to query task status or
                          troubleshoot issues with technical support)
                        example: export_spam_123456
                      downloadUrl:
                        type: string
                        description: >-
                          CSV download URL (empty when the task is processing;
                          valid for 24 hours after task completion; expired URLs
                          cannot be reused)
                        example: https://download.sendcloud.net/spam_export_123.csv
                      status:
                        type: string
                        enum:
                          - processing
                          - completed
                          - failed
                        description: >-
                          Export task status (processing = being generated;
                          completed = generated successfully; failed =
                          generation failed due to data volume or parameter
                          issues)
                        example: processing
                      estimatedTime:
                        type: integer
                        description: >-
                          Estimated completion time (seconds; for reference
                          only, subject to data volume; larger data volumes take
                          longer)
                        example: 45
        '400':
          description: >-
            Bad request (e.g., time range exceeds 30 days, endTime earlier than
            startTime, duplicate export tasks for the same conditions within 5
            minutes)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                startTime:
                  type: string
                  format: date-time
                  description: >-
                    Export start time (format: yyyy-MM-dd HH:mm:ss, Beijing
                    time; max 30 days range)
                  example: '2025-10-01 00:00:00'
                endTime:
                  type: string
                  format: date-time
                  description: >-
                    Export end time (format: yyyy-MM-dd HH:mm:ss, Beijing time;
                    must be after startTime)
                  example: '2025-10-31 23:59:59'
                domain:
                  type: string
                  description: >-
                    Filter by sending domain (exact match; only export spam
                    reports associated with the specified domain)
                  example: example.com
                labelName:
                  type: string
                  description: >-
                    Filter by email label (exact match with the label set when
                    sending)
                  example: Promotion
                mailServer:
                  type: string
                  description: >-
                    Filter by recipient's mail server (exact match; e.g.,
                    "Gmail", "Outlook")
                  example: Gmail
              required:
                - apiUser
                - apiKey
                - startTime
                - endTime
      x-codeSamples:
        - lang: Python
          label: Export Spam Reported List
          source: >
            import requests

            import time


            # Create export task

            url = "https://api2.sendcloud.net/api/spamreported/export"

            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "domain": "example.com"
            }


            response = requests.post(url, data=data)

            task_info = response.json()

            task_id = task_info["info"]["taskId"]


            # Poll task status until completed or failed

            poll_url =
            "https://api2.sendcloud.net/api/spamreported/export/status"

            while True:
                poll_data = {
                    "apiUser": "test_api_user",
                    "apiKey": "test_api_key",
                    "taskId": task_id
                }
                poll_response = requests.post(poll_url, data=poll_data)
                poll_result = poll_response.json()

                if poll_result["info"]["status"] == "completed":
                    download_url = poll_result["info"]["downloadUrl"]
                    # Download CSV file
                    csv_response = requests.get(download_url)
                    with open("spam_reported_export.csv", "wb") as f:
                        f.write(csv_response.content)
                    print("Export completed! File saved as spam_reported_export.csv")
                    break
                elif poll_result["info"]["status"] == "failed":
                    print(f"Export failed: {poll_result['message']}")
                    break
                # Wait 10 seconds before polling again
                time.sleep(10)
  /api/spamreported/count:
    get:
      summary: Get Spam Report Count
      description: >-
        Get total number of spam-reported emails within a specified time range,
        including aggregated statistics by mail server and sending domain. The
        maximum query time range is 90 days.
      operationId: getSpamReportCountGet
      tags:
        - Complaint
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: >-
                          Total number of spam-reported emails matching the
                          query conditions (sum of all platform and domain
                          reports)
                        example: 18
                      byMailServer:
                        type: object
                        description: >-
                          Spam count grouped by recipient's mail server (key =
                          mail server name, value = number of reports; helps
                          identify high-risk platforms)
                        example:
                          Gmail: 12
                          Outlook: 4
                          Yahoo: 2
                      byDomain:
                        type: object
                        description: >-
                          Spam count grouped by sending domain (key = sending
                          domain, value = number of reports; helps identify
                          problematic sending domains)
                        example:
                          example.com: 15
                          sub.example.com: 3
        '400':
          description: >-
            Bad request (e.g., time range exceeds 90 days, endTime earlier than
            startTime)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from SendCloud console
            -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: API_KEY (authentication parameter; keep confidential)
          example: test_api_key
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss, Beijing time; max 90
            days range)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss, Beijing time; must be
            after startTime)
          example: '2025-10-31 23:59:59'
      x-codeSamples:
        - lang: Python
          label: Get Spam Report Count
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/spamreported/count"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59"
            }

            response = requests.get(url, params=params)
            print(response.json())
  /api/spamreported/block:
    post:
      summary: Block Spam-Reported Address
      description: >-
        Add one or more spam-reported email addresses to the system's blocklist.
        After blocking, the system will permanently reject all future email
        sends to these addresses to protect sending reputation and comply with
        anti-spam regulations. Supports batch blocking (up to 100 addresses per
        request, separated by semicolons). Addresses already in the blocklist
        will be ignored.
      operationId: blockSpamReportedAddress
      tags:
        - Complaint
      responses:
        '200':
          description: Block successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = block operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Block result message (e.g., "block successful" or "partial
                      addresses already blocked")
                    example: block successful
                  result:
                    type: boolean
                    description: >-
                      Whether the overall block operation succeeded (true =
                      all/partial addresses blocked; false = no addresses
                      blocked)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully blocked addresses (excludes
                          addresses already in the blocklist or invalid
                          addresses)
                        example: 1
        '400':
          description: >-
            Bad request (e.g., invalid email format, exceeding 100 addresses per
            request, empty email parameter, non-spam-reported addresses)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                email:
                  type: string
                  description: >-
                    Email address(es) to block (supports multiple addresses
                    separated by semicolons; max 100 addresses per request; must
                    be valid RFC 5322 format and have spam report records)
                  example: spam1@example.com;spam2@example.com
              required:
                - apiUser
                - apiKey
                - email
      x-codeSamples:
        - lang: Python
          label: Block Spam-Reported Address
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/spamreported/block"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "email": "spam1@example.com;spam2@example.com"
            }

            response = requests.post(url, data=data)
            print(response.json())
components:
  securitySchemes: {}
x-readme:
  explorer-enabled: true
  proxy-enabled: true
