openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com/
    description: |
      Singapore Region
      - Base URL: https://api.aurorasendcloud.com/
  - url: https://api-us.aurorasendcloud.com/
    description: |
      US (Silicon Valley) Region
      - Base URL: https://api-us.aurorasendcloud.com/
  - url: https://api-hk.aurorasendcloud.com/
    description: |
      CN (Hong Kong SAR) Region
      - Base URL: https://api-hk.aurorasendcloud.com/
tags:
  - name: Data
    description: >-
      Interfaces for querying email delivery status and detailed response
      information
paths:
  /api/data/emailStatus:
    get:
      summary: Get Emails Status
      description: Check status of emails in the list
      operationId: emailStatusGet
      tags:
        - Data
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: Recipient address
        - in: query
          name: emailIds
          schema:
            type: string
          required: false
          description: >-
            EmailId will be returned after an email was sent with api
            successfully; addresses are separated by semicolons, e.g.
            emailIds=a;b;c
        - in: query
          name: labelId
          schema:
            type: string
          required: false
          description: Label ID corresponding to the created label
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: Label Name corresponding to the created label
        - in: query
          name: days
          schema:
            type: string
          required: false
          description: >-
            Stats in the past [days] days ( [days] =1 means today); cannot be
            more than 30 days
        - in: query
          name: startDate
          schema:
            type: string
          required: false
          description: >-
            Format of start date is yyyy-MM-dd，interval between start and end
            date cannot be more than 30 days
        - in: query
          name: endDate
          schema:
            type: string
          required: false
          description: >-
            Format of end date is yyyy-MM-dd，interval between start and end date
            cannot be more than 30 days
        - in: query
          name: apiUserList
          schema:
            type: string
          required: false
          description: Multiple apiUsers, separated by semicolons, e.g. apiUserList=a;b;c
        - in: query
          name: start
          schema:
            type: string
          required: false
          description: Start position, [0-], defaults to 0
        - in: query
          name: limit
          schema:
            type: integer
          required: false
          description: Amount, [0-100],defaults to 100
        - in: query
          name: status
          schema:
            type: string
          required: false
          description: >-
            Status (1, 4, 5 and 18 corresponding to the status of delivered,
            invalid email, soft bounce and sending)
        - in: query
          name: subStatus
          schema:
            type: string
          required: false
          description: Multiple subStatus, separated by semicolons, e.g. subStatus=a;b;c
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: Whether the request was successful
                  statusCode:
                    type: integer
                    description: Status code
                  message:
                    type: string
                    description: Response message
                  info:
                    type: object
                    properties:
                      total:
                        type: string
                        description: Total number of records
                      voListSize:
                        type: integer
                        description: Size of voList
                      voList:
                        type: array
                        items:
                          type: object
                          properties:
                            status:
                              type: string
                              description: Email status
                            emailId:
                              type: string
                              description: Email ID
                            apiUser:
                              type: string
                              description: API user
                            recipients:
                              type: string
                              description: Recipients
                            requestTime:
                              type: string
                              description: Request time
                            modifiedTime:
                              type: string
                              description: Modified time
                            sendLog:
                              type: string
                              description: Send log
                            taskName:
                              type: string
                              description: Task name
                            mailingStatus:
                              type: string
                              description: Mailing status
                            subStatus:
                              type: integer
                              description: Sub status code
                            softStatus:
                              type: string
                              description: Soft status
                            timeStr:
                              type: string
                              description: Time string
                            event:
                              type: string
                              description: Event
                            receiver:
                              type: string
                              description: Receiver
                            message:
                              type: string
                              description: Message
                            email:
                              type: string
                              description: Email address
                            name:
                              type: string
                              description: Name
                            phone:
                              type: string
                              description: Phone
                            subStatusDesc:
                              type: string
                              description: Sub status description
  /api/openandclick/list:
    get:
      summary: Get Email Tracking Data
      description: >
        Search email open and click records with optional filtering conditions
        (time range, email address, track type, etc.).

        Tips:

        1. With designated time span: startDate and endDate, or days is
        required; time span cannot be longer than 3 months.

        2. With given email address: time span will turn to invalid.

        3. If apiUserList is not specified, all records will be queried by
        default.
      tags:
        - Data
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: >-
            Stats in the past [days] days (days=1 equals to today); required if
            startDate and endDate are not provided
          example: 1
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2025-01-01'
          description: 'Start date (format: yyyy-MM-dd); required if days is not provided'
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
            example: '2025-01-31'
          description: 'End date (format: yyyy-MM-dd); required if days is not provided'
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
          description: Email address to query; time range becomes invalid if provided
        - name: trackType
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 1
              - 2
            example: 1
          description: >-
            1 means opens, 2 means clicks; no parameter included means to search
            both
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
            example: a;b;c
          description: >-
            Obtain stats of specified API_USER; multiple API_USERs are separated
            by semicolons
        - name: labelId
          in: query
          required: false
          schema:
            type: string
            example: '1111'
          description: Obtain stats of labelled addresses
        - name: labelName
          in: query
          required: false
          schema:
            type: string
            example: test label
          description: Obtain stats of labelName
        - name: start
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: 'Start position, defaults to 0 (range: ≥0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 100
          description: 'Amount, defaults to 100 (range: 0-100)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of matching records
                      count:
                        type: integer
                        description: Number of records returned currently
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              format: email
                              description: Email address
                            trackType:
                              type: integer
                              enum:
                                - 1
                                - 2
                              description: 1 means opens, 2 means clicks
                            url:
                              type: string
                              description: Clicked url (empty for open records)
                            apiUser:
                              type: string
                              description: apiUser name
                            currTime:
                              type: string
                              format: date-time
                              description: >-
                                Time of opens or clicks (format: yyyy-MM-dd
                                HH:mm:ss)
                            ip:
                              type: string
                              description: IP of opens or clicks
                            country:
                              type: string
                              description: IP of country
                            province:
                              type: string
                              description: IP of province
                            city:
                              type: string
                              description: IP of city
                            browser:
                              type: string
                              description: Browser of open or click
                            device:
                              type: string
                              description: Device of open or click
                            emailId:
                              type: string
                              description: Unique email ID (included in returned example)
                            requestTime:
                              type: string
                              format: date-time
                              description: >-
                                Email sending request time (included in returned
                                example)
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY (authentication parameter, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
