openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api2.sendcloud.net
tags:
  - name: Domain
    description: >-
      Interfaces for adding, querying, verifying, and managing email sending
      domains
paths:
  /api/domain/add:
    post:
      summary: Add Sending Domain
      description: Add a new email sending domain (requires subsequent verification to use)
      operationId: addSendingDomain
      tags:
        - Domain
      responses:
        '200':
          description: Domain added successfully (pending verification)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the added domain
                    properties:
                      domain:
                        type: string
                        description: Added sending domain name
                        example: example.com
                      status:
                        type: string
                        description: >-
                          Domain status (pending = pending verification,
                          verified = verified, rejected = rejected)
                        example: pending
                      gmtCreated:
                        type: string
                        format: date-time
                        description: 'Domain addition time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-08 11:00:00'
        '400':
          description: >-
            Bad request (e.g., invalid domain format, duplicate domain, domain
            already verified)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: >-
            Sending domain name (e.g., example.com, do not include "www" or
            "http")
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Add Sending Domain
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/add"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "mycompany.com"  # Replace with actual domain
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/domain/list:
    get:
      summary: Batch Query Sending Domains
      description: >-
        Query basic information of all added sending domains under the current
        apiUser
      operationId: batchQuerySendingDomainsGet
      tags:
        - Domain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Batch query result data of sending domains
                    properties:
                      dataList:
                        type: array
                        description: List of sending domain basic information
                        items:
                          type: object
                          properties:
                            domain:
                              type: string
                              description: Sending domain name
                              example: example.com
                            status:
                              type: string
                              description: >-
                                Domain status (pending = pending verification,
                                verified = verified, rejected = rejected)
                              example: verified
                            spfStatus:
                              type: string
                              description: >-
                                SPF record verification status (pass = verified,
                                fail = not verified, none = not configured)
                              example: pass
                            dkimStatus:
                              type: string
                              description: >-
                                DKIM record verification status (pass =
                                verified, fail = not verified, none = not
                                configured)
                              example: pass
                            dmarcStatus:
                              type: string
                              description: >-
                                DMARC record verification status (pass =
                                verified, fail = not verified, none = not
                                configured)
                              example: pass
                            gmtCreated:
                              type: string
                              format: date-time
                              description: Domain addition time
                              example: '2025-10-08 11:00:00'
                            gmtVerified:
                              type: string
                              format: date-time
                              description: Domain verification time (empty if not verified)
                              example: '2025-10-08 14:30:00'
                      total:
                        type: integer
                        description: >-
                          Total number of sending domains under the current
                          apiUser
                        example: 3
                      count:
                        type: integer
                        description: >-
                          Number of domains returned (equals total for this
                          interface)
                        example: 3
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
      x-codeSamples:
        - lang: Python
          label: Batch Query Sending Domains (GET)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.get(url, params=params)
            result = response.json()
            print(f"Total sending domains: {result['info']['total']}")
            print("Domain details:")
            for domain in result['info']['dataList']:
                print(f"- Domain: {domain['domain']}, Status: {domain['status']}, SPF: {domain['spfStatus']}, DKIM: {domain['dkimStatus']}")
    post:
      summary: Batch Query Sending Domains (POST)
      description: Batch query all sending domains using POST method
      operationId: batchQuerySendingDomainsPost
      tags:
        - Domain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Batch query result data of sending domains
                    properties:
                      dataList:
                        type: array
                        description: List of sending domain basic information
                        items:
                          type: object
                          properties:
                            domain:
                              type: string
                              description: Sending domain name
                              example: example.com
                            status:
                              type: string
                              description: >-
                                Domain status (pending = pending verification,
                                verified = verified, rejected = rejected)
                              example: verified
                            spfStatus:
                              type: string
                              description: >-
                                SPF record verification status (pass = verified,
                                fail = not verified, none = not configured)
                              example: pass
                            dkimStatus:
                              type: string
                              description: >-
                                DKIM record verification status (pass =
                                verified, fail = not verified, none = not
                                configured)
                              example: pass
                            dmarcStatus:
                              type: string
                              description: >-
                                DMARC record verification status (pass =
                                verified, fail = not verified, none = not
                                configured)
                              example: pass
                            gmtCreated:
                              type: string
                              format: date-time
                              description: Domain addition time
                              example: '2025-10-08 11:00:00'
                            gmtVerified:
                              type: string
                              format: date-time
                              description: Domain verification time (empty if not verified)
                              example: '2025-10-08 14:30:00'
                      total:
                        type: integer
                        description: >-
                          Total number of sending domains under the current
                          apiUser
                        example: 3
                      count:
                        type: integer
                        description: >-
                          Number of domains returned (equals total for this
                          interface)
                        example: 3
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
      x-codeSamples:
        - lang: Python
          label: Batch Query Sending Domains (POST Method)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/domain/get:
    get:
      summary: Query Single Sending Domain
      description: >-
        Get detailed information (including DNS configuration) of a specific
        sending domain by domain name
      operationId: getSingleSendingDomainGet
      tags:
        - Domain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried sending domain
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                            description: Sending domain name
                            example: example.com
                          status:
                            type: string
                            description: >-
                              Domain status (pending = pending verification,
                              verified = verified, rejected = rejected)
                            example: verified
                          spfStatus:
                            type: string
                            description: >-
                              SPF record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          spfRecord:
                            type: string
                            description: Required SPF record (to be configured in DNS)
                            example: v=spf1 include:spf.sendcloud.net ~all
                          dkimStatus:
                            type: string
                            description: >-
                              DKIM record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          dkimSelector:
                            type: string
                            description: DKIM selector (used for DNS configuration)
                            example: sc-selector
                          dkimPublicKey:
                            type: string
                            description: DKIM public key (to be configured in DNS)
                            example: v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAO...
                          dmarcStatus:
                            type: string
                            description: >-
                              DMARC record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          dmarcRecord:
                            type: string
                            description: Recommended DMARC record (to be configured in DNS)
                            example: >-
                              v=DMARC1; p=none; sp=none;
                              rua=mailto:dmarc@example.com
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Domain addition time
                            example: '2025-10-08 11:00:00'
                          gmtVerified:
                            type: string
                            format: date-time
                            description: Domain verification time (empty if not verified)
                            example: '2025-10-08 14:30:00'
        '404':
          description: >-
            Domain not found (domain not added or does not belong to the current
            apiUser)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: Target sending domain name (e.g., example.com)
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Query Single Sending Domain (GET)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/get"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "mycompany.com"  # Replace with actual domain
            }

            response = requests.get(url, params=params)
            domain_info = response.json()
            if domain_info["result"]:
                data = domain_info["info"]["data"]
                print(f"Domain: {data['domain']}")
                print(f"Status: {data['status']}")
                print(f"SPF Record: {data['spfRecord']}")
                print(f"DKIM Selector: {data['dkimSelector']}")
                print(f"DMARC Record: {data['dmarcRecord']}")
    post:
      summary: Query Single Sending Domain (POST)
      description: Get detailed information of a specific sending domain using POST method
      operationId: getSingleSendingDomainPost
      tags:
        - Domain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried sending domain
                    properties:
                      data:
                        type: object
                        properties:
                          domain:
                            type: string
                            description: Sending domain name
                            example: example.com
                          status:
                            type: string
                            description: >-
                              Domain status (pending = pending verification,
                              verified = verified, rejected = rejected)
                            example: verified
                          spfStatus:
                            type: string
                            description: >-
                              SPF record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          spfRecord:
                            type: string
                            description: Required SPF record (to be configured in DNS)
                            example: v=spf1 include:spf.sendcloud.net ~all
                          dkimStatus:
                            type: string
                            description: >-
                              DKIM record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          dkimSelector:
                            type: string
                            description: DKIM selector (used for DNS configuration)
                            example: sc-selector
                          dkimPublicKey:
                            type: string
                            description: DKIM public key (to be configured in DNS)
                            example: v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAO...
                          dmarcStatus:
                            type: string
                            description: >-
                              DMARC record verification status (pass = verified,
                              fail = not verified, none = not configured)
                            example: pass
                          dmarcRecord:
                            type: string
                            description: Recommended DMARC record (to be configured in DNS)
                            example: >-
                              v=DMARC1; p=none; sp=none;
                              rua=mailto:dmarc@example.com
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Domain addition time
                            example: '2025-10-08 11:00:00'
                          gmtVerified:
                            type: string
                            format: date-time
                            description: Domain verification time (empty if not verified)
                            example: '2025-10-08 14:30:00'
        '404':
          description: >-
            Domain not found (domain not added or does not belong to the current
            apiUser)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: Target sending domain name (e.g., example.com)
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Query Single Sending Domain (POST)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/get"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "mycompany.com"  # Replace with actual domain
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/domain/verify:
    post:
      summary: Verify Sending Domain
      description: >-
        Trigger verification of DNS records (SPF/DKIM/DMARC) for a
        pending/modified domain
      operationId: verifySendingDomain
      tags:
        - Domain
      responses:
        '200':
          description: >-
            Verification request submitted successfully (results will be
            returned after detection)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: verification request submitted successfully
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Verification request result
                    properties:
                      domain:
                        type: string
                        description: Domain name being verified
                        example: example.com
                      status:
                        type: string
                        description: >-
                          Current domain status (pending_verify = verification
                          in progress, verified = verified, rejected = rejected)
                        example: pending_verify
        '400':
          description: >-
            Bad request (e.g., domain already verified, domain in rejected
            status)
        '404':
          description: >-
            Domain not found (domain not added or does not belong to the current
            apiUser)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: Sending domain name to verify (must be in pending status)
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Verify Sending Domain (After DNS Configuration)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/verify"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "mycompany.com"  # Replace with actual domain (configured with required DNS records)
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/domain/delete:
    post:
      summary: Delete Sending Domain
      description: >-
        Delete an existing sending domain (verified domains can be deleted;
        pending/rejected domains are automatically cleaned up if not verified)
      operationId: deleteSendingDomain
      tags:
        - Domain
      responses:
        '200':
          description: Domain deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Deletion result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of domains successfully deleted (1 = success, 0
                          = no deletion)
                        example: 1
        '404':
          description: >-
            Domain not found (domain not added or does not belong to the current
            apiUser)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: Sending domain name to delete
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Delete Sending Domain
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/delete"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "obsolete-domain.com"  # Replace with actual domain to delete
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/domain/dkim/update:
    post:
      summary: Update DKIM Configuration
      description: >-
        Regenerate DKIM selector and public key for a verified sending domain
        (requires reconfiguring DNS)
      operationId: updateDKIMConfiguration
      tags:
        - Domain
      responses:
        '200':
          description: DKIM configuration updated successfully (new public key generated)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: dkim configuration updated successfully
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: New DKIM configuration information
                    properties:
                      domain:
                        type: string
                        description: Sending domain name
                        example: example.com
                      dkimSelector:
                        type: string
                        description: New DKIM selector (to be reconfigured in DNS)
                        example: sc-selector-v2
                      dkimPublicKey:
                        type: string
                        description: New DKIM public key (to be reconfigured in DNS)
                        example: v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAO...
                      status:
                        type: string
                        description: >-
                          Domain status (pending = pending re-verification after
                          DNS update)
                        example: pending
        '400':
          description: Bad request (e.g., domain not verified, update frequency exceeded)
        '404':
          description: >-
            Domain not found (domain not added or does not belong to the current
            apiUser)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter, obtained from the SendCloud
            console)
          example: test_api_key
        - in: query
          name: domain
          schema:
            type: string
          required: true
          description: Sending domain name to update DKIM configuration (must be verified)
          example: example.com
      x-codeSamples:
        - lang: Python
          label: Update DKIM Configuration
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/domain/dkim/update"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "domain": "mycompany.com"  # Replace with actual verified domain
            }

            response = requests.post(url, params=params)
            dkim_info = response.json()
            if dkim_info["result"]:
                data = dkim_info["info"]
                print(f"New DKIM Selector: {data['dkimSelector']}")
                print(f"New DKIM Public Key: {data['dkimPublicKey']}")
                print("Note: Reconfigure DNS with the new DKIM record and re-verify the domain")
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: Authentication parameter (API_USER, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: Authentication parameter (API_KEY, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
