openapi: 3.0.0
info:
  title: Email
  version: 1.0.0
  description: >-
    Label provides another way to get stats of emails. You can query, add,
    delete and modify labels with API.
tags:
  - name: Email Label
    description: Email label management operations
servers:
  - url: https://api.aurorasendcloud.com/
    description: |
      Singapore Region
      - Base URL: https://api.aurorasendcloud.com/
  - url: https://api-us.aurorasendcloud.com/
    description: |
      US (Silicon Valley) Region
      - Base URL: https://api-us.aurorasendcloud.com/
  - url: https://api-hk.aurorasendcloud.com/
    description: |
      CN (Hong Kong SAR) Region
      - Base URL: https://api-hk.aurorasendcloud.com/
paths:
  /api/label/list:
    get:
      summary: Get Labels List
      description: List of returned labels with optional fuzzy search and pagination.
      operationId: label-list-get
      tags:
        - Email Label
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Key word of fuzzy query
          example: edm
        - name: start
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Start position, [0-], defaults to 0
          example: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 100
          description: Amount, [0-100], defaults to 100
          example: 200
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            labelId:
                              type: integer
                              description: Label ID
                            labelName:
                              type: string
                              description: Label name
                            gmtCreated:
                              type: string
                              format: date-time
                              description: Time of label creation
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: Time of label modification
                      total:
                        type: integer
                        description: Total number of matching labels
                      count:
                        type: integer
                        description: Number of labels returned currently
  /api/label/get:
    get:
      summary: Get Label
      description: Get a single label's details by label ID.
      operationId: label-get-get
      tags:
        - Email Label
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID
          example: 89
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          labelId:
                            type: integer
                            description: Label ID
                          labelName:
                            type: string
                            description: Label name
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Time of label creation
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: Time of label modification
  /api/label/add:
    post:
      summary: Add Label
      description: Add a new label (upper limit of 100000 labels per account).
      operationId: label-add-post
      tags:
        - Email Label
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: labelName
          in: query
          required: true
          schema:
            type: string
          description: Label name to be added
          example: test
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          labelId:
                            type: integer
                            description: Label ID
                          labelName:
                            type: string
                            description: Label name
                          gmtCreated:
                            type: string
                            format: date-time
                            description: Time of label creation
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: Time of label modification
  /api/label/delete:
    post:
      summary: Deletle Label
      description: Delete a specified label by label ID.
      operationId: label-delete-post
      tags:
        - Email Label
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID to be deleted
          example: 89
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Amount of deleted labels
  /api/label/update:
    post:
      summary: Update Label
      description: Modify an existing label by label ID.
      operationId: label-update-post
      tags:
        - Email Label
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID to be modified
          example: 89
        - name: labelName
          in: query
          required: true
          schema:
            type: string
          description: New label name
          example: testnew
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of modified labels
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter; obtained from SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY (authentication parameter; keep confidential)
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: 'Invalid parameter: labelId is required'
        result:
          type: boolean
          example: false
