openapi: 3.0.0
info:
  title: Email
  description: >-
    API for managing Email Labels on Aurora SendCloud, supporting query, add,
    delete, and modify operations.
  version: 1.0.0
tags:
  - name: Email Label
    description: Email label management operations for organizing and categorizing emails
servers:
  - url: https://api2.sendcloud.net
    description: Aurora SendCloud API Server
paths:
  /api/label/list:
    get:
      summary: Batch Query Labels
      description: Query labels in batches with optional fuzzy search and pagination.
      operationId: label-list
      tags:
        - Email Label
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER (identity identifier)
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY (identity verification key)
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Key word of fuzzy query (matches label name)
        - name: start
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Start position, defaults to 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 100
          description: 'Amount, defaults to 100 (range: 0-100)'
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Batch query result data of labels
                    properties:
                      dataList:
                        type: array
                        description: List of label basic information
                        items:
                          type: object
                          properties:
                            labelId:
                              type: integer
                              description: Label ID (unique identifier)
                            labelName:
                              type: string
                              description: Label name
                            gmtCreated:
                              type: string
                              format: date-time
                              description: >-
                                Time of label creation (format: yyyy-MM-dd
                                HH:mm:ss)
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: >-
                                Time of label modification (format: yyyy-MM-dd
                                HH:mm:ss)
                      total:
                        type: integer
                        description: Total number of matching labels
                      count:
                        type: integer
                        description: Number of labels returned currently
  /api/label/get:
    get:
      summary: Query Single Label
      description: Precisely get a single label's details by label ID.
      operationId: label-get
      tags:
        - Email Label
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER (identity identifier)
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY (identity verification key)
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID (unique identifier)
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          labelId:
                            type: integer
                            description: Label ID (unique identifier)
                          labelName:
                            type: string
                            description: Label name
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Time of label creation (format: yyyy-MM-dd
                              HH:mm:ss)
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: >-
                              Time of label modification (format: yyyy-MM-dd
                              HH:mm:ss)
  /api/label/add:
    post:
      summary: Add Label (POST)
      description: >-
        Same as GET method, supports POST request for label creation (upper
        limit of 100000 labels per account).
      operationId: label-add
      tags:
        - Email Label
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER (identity identifier)
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY (identity verification key)
        - name: labelName
          in: query
          required: true
          schema:
            type: string
          description: Label name to be created
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          labelId:
                            type: integer
                            description: Newly created label ID (unique identifier)
                          labelName:
                            type: string
                            description: Newly created label name
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Time of label creation (format: yyyy-MM-dd
                              HH:mm:ss)
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: >-
                              Time of label modification (format: yyyy-MM-dd
                              HH:mm:ss)
  /api/label/delete:
    get:
      summary: Delete Label
      description: Delete a specified label by label ID.
      operationId: label-delete
      tags:
        - Email Label
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER (identity identifier)
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY (identity verification key)
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID to be deleted
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully deleted labels (usually 1; 0 if
                          label ID does not exist)
  /api/label/update:
    post:
      summary: Modify Label (POST)
      description: Same as GET method, supports POST request for label modification.
      operationId: label-update
      tags:
        - Email Label
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER (identity identifier)
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY (identity verification key)
        - name: labelId
          in: query
          required: true
          schema:
            type: integer
          description: Label ID to be modified
        - name: labelName
          in: query
          required: true
          schema:
            type: string
          description: New label name
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully modified labels (usually 1; 0
                          if label ID does not exist)
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: 'Invalid parameter: labelId is required'
        result:
          type: boolean
          example: false
