openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Email Template
    description: Interfaces for querying, adding, updating, and deleting email templates
paths:
  /api/template/list:
    get:
      summary: Batch Query Email Templates
      description: >-
        Query basic information of multiple email templates (supports filtering
        and pagination)
      operationId: batchQueryTemplatesGet
      tags:
        - Email Template
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed result data of the batch query
                    properties:
                      dataList:
                        type: array
                        description: List of template basic information
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template name
                              example: ifaxin bill
                            invokeName:
                              type: string
                              description: >-
                                Template calling name (used for invoking the
                                template in sending emails)
                              example: ifaxin_bill_invoke
                            templateType:
                              type: integer
                              enum:
                                - 0
                                - 1
                              description: >-
                                Template type (0 = transactional template, 1 =
                                marketing template)
                              example: 1
                            templateStat:
                              type: integer
                              description: >-
                                Template status (1 = approved, 0 = pending
                                approval/rejected)
                              example: 1
                            gmtCreated:
                              type: string
                              format: date-time
                              description: >-
                                Template creation time (format: yyyy-MM-dd
                                HH:mm:ss)
                              example: '2013-11-21 16:37:41'
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: >-
                                Template last update time (format: yyyy-MM-dd
                                HH:mm:ss)
                              example: '2015-06-12 19:44:07'
                      total:
                        type: integer
                        description: >-
                          Total number of templates matching the query
                          conditions
                        example: 42
                      count:
                        type: integer
                        description: >-
                          Number of templates returned in the current query
                          (matches the limit parameter)
                        example: 2
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: false
          description: >-
            Calling name of the email template (filters results to match the
            specified template)
          example: ifaxin_bill
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: false
          description: Template type (0 = transactional template, 1 = marketing template)
          example: 0
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: >-
            Query start position (pagination parameter, defaults to 0, starts
            from 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 3
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Batch Query Email Templates (POST)
      description: >-
        Batch query email templates using POST method (supports filtering and
        pagination)
      operationId: batchQueryTemplatesPost
      tags:
        - Email Template
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed result data of the batch query
                    properties:
                      dataList:
                        type: array
                        description: List of template basic information
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Template name
                              example: ifaxin bill
                            invokeName:
                              type: string
                              description: >-
                                Template calling name (used for invoking the
                                template in sending emails)
                              example: ifaxin_bill_invoke
                            templateType:
                              type: integer
                              enum:
                                - 0
                                - 1
                              description: >-
                                Template type (0 = transactional template, 1 =
                                marketing template)
                              example: 1
                            templateStat:
                              type: integer
                              description: >-
                                Template status (1 = approved, 0 = pending
                                approval/rejected)
                              example: 1
                            gmtCreated:
                              type: string
                              format: date-time
                              description: >-
                                Template creation time (format: yyyy-MM-dd
                                HH:mm:ss)
                              example: '2013-11-21 16:37:41'
                            gmtUpdated:
                              type: string
                              format: date-time
                              description: >-
                                Template last update time (format: yyyy-MM-dd
                                HH:mm:ss)
                              example: '2015-06-12 19:44:07'
                      total:
                        type: integer
                        description: >-
                          Total number of templates matching the query
                          conditions
                        example: 42
                      count:
                        type: integer
                        description: >-
                          Number of templates returned in the current query
                          (matches the limit parameter)
                        example: 2
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: false
          description: >-
            Calling name of the email template (filters results to match the
            specified template)
          example: ifaxin_bill
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: false
          description: Template type (0 = transactional template, 1 = marketing template)
          example: 0
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: >-
            Query start position (pagination parameter, defaults to 0, starts
            from 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: >-
            Number of results returned per query (pagination parameter, range
            0-100, defaults to 100)
          example: 3
      security:
        - apiUser: []
          apiKey: []
  /api/template/get:
    get:
      summary: Query Single Email Template
      description: Get detailed information of a specific email template by invokeName
      operationId: getSingleTemplateGet
      tags:
        - Email Template
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried template
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template name
                            example: SendCloud
                          invokeName:
                            type: string
                            description: >-
                              Template calling name (used for invoking the
                              template in sending emails)
                            example: 15_invoke_2
                          templateType:
                            type: integer
                            enum:
                              - 0
                              - 1
                            description: >-
                              Template type (0 = transactional template, 1 =
                              marketing template)
                            example: 0
                          templateStat:
                            type: integer
                            description: >-
                              Template status (1 = approved, 0 = pending
                              approval/rejected)
                            example: 1
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Template creation time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-02-02 17:01:43'
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: >-
                              Template last update time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-04-16 15:04:12'
                          html:
                            type: string
                            description: >-
                              Template content in HTML format (supports variable
                              substitution)
                            example: >-
                              <p>Wonderful! You’ve successfully sent the first
                              testing email through SendCloud.</p>
                          subject:
                            type: string
                            description: >-
                              Template default subject (can be overridden when
                              sending emails)
                            example: The first Email from SendCloud！
                          contentSummary:
                            type: string
                            description: >-
                              Template content summary (used for content review
                              and display)
                            example: test summary
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the target email template (unique identifier for
            querying the template)
          example: test_invoke
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Query Single Email Template (POST)
      description: Get detailed template information using POST method
      operationId: getSingleTemplatePost
      tags:
        - Email Template
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the queried template
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template name
                            example: SendCloud
                          invokeName:
                            type: string
                            description: >-
                              Template calling name (used for invoking the
                              template in sending emails)
                            example: 15_invoke_2
                          templateType:
                            type: integer
                            enum:
                              - 0
                              - 1
                            description: >-
                              Template type (0 = transactional template, 1 =
                              marketing template)
                            example: 0
                          templateStat:
                            type: integer
                            description: >-
                              Template status (1 = approved, 0 = pending
                              approval/rejected)
                            example: 1
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Template creation time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-02-02 17:01:43'
                          gmtUpdated:
                            type: string
                            format: date-time
                            description: >-
                              Template last update time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-04-16 15:04:12'
                          html:
                            type: string
                            description: >-
                              Template content in HTML format (supports variable
                              substitution)
                            example: >-
                              <p>Wonderful! You’ve successfully sent the first
                              testing email through SendCloud.</p>
                          subject:
                            type: string
                            description: >-
                              Template default subject (can be overridden when
                              sending emails)
                            example: The first Email from SendCloud！
                          contentSummary:
                            type: string
                            description: >-
                              Template content summary (used for content review
                              and display)
                            example: test summary
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the target email template (unique identifier for
            querying the template)
          example: test_invoke
      security:
        - apiUser: []
          apiKey: []
  /api/template/add:
    get:
      summary: Add Email Template (GET)
      description: >-
        Create a new email template (use POST for long/special character
        content)
      operationId: addTemplateGet
      tags:
        - Email Template
      responses:
        '200':
          description: Template created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the newly created template
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template name
                            example: test
                          invokeName:
                            type: string
                            description: >-
                              Template calling name (used for invoking the
                              template in sending emails)
                            example: testtemplate
                          templateType:
                            type: integer
                            enum:
                              - 0
                              - 1
                            description: >-
                              Template type (0 = transactional template, 1 =
                              marketing template)
                            example: 1
                          templateStat:
                            type: integer
                            description: >-
                              Template status (0 = pending approval, 1 =
                              approved, -1 = rejected)
                            example: 0
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Template creation time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-10-16 10:42:01'
                          gmtUpdated:
                            type: string
                            description: >-
                              Template last update time (empty for newly created
                              templates)
                            example: ''
                          html:
                            type: string
                            description: >-
                              Template content in HTML format (supports variable
                              substitution)
                            example: <p>add new template</p>
                          subject:
                            type: string
                            description: >-
                              Template default subject (can be overridden when
                              sending emails)
                            example: test_subject
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the new template (must be unique under the current
            apiUser)
          example: testtemplate
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: >-
            Name of the new template (used for management display in the
            console)
          example: test
        - in: query
          name: html
          schema:
            type: string
          required: true
          description: >-
            Template content in HTML format (supports variable substitution with
            {{variable}} syntax)
          example: <p>add new template</p>
        - in: query
          name: text
          schema:
            type: string
          required: false
          description: >-
            Template content in plain text format (optional, used when the email
            client does not support HTML)
          example: add new template
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: >-
            Default subject of the new template (can be modified when sending
            emails)
          example: test_subject
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: true
          description: Template type (0 = transactional template, 1 = marketing template)
          example: 1
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Add Email Template (POST)
      description: >-
        Create a new email template (recommended for long/special character
        content)
      operationId: addTemplatePost
      tags:
        - Email Template
      responses:
        '200':
          description: Template created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Detailed information of the newly created template
                    properties:
                      data:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Template name
                            example: test
                          invokeName:
                            type: string
                            description: >-
                              Template calling name (used for invoking the
                              template in sending emails)
                            example: testtemplate
                          templateType:
                            type: integer
                            enum:
                              - 0
                              - 1
                            description: >-
                              Template type (0 = transactional template, 1 =
                              marketing template)
                            example: 1
                          templateStat:
                            type: integer
                            description: >-
                              Template status (0 = pending approval, 1 =
                              approved, -1 = rejected)
                            example: 0
                          gmtCreated:
                            type: string
                            format: date-time
                            description: >-
                              Template creation time (format: yyyy-MM-dd
                              HH:mm:ss)
                            example: '2015-10-16 10:42:01'
                          gmtUpdated:
                            type: string
                            description: >-
                              Template last update time (empty for newly created
                              templates)
                            example: ''
                          html:
                            type: string
                            description: >-
                              Template content in HTML format (supports variable
                              substitution)
                            example: >-
                              <p>add new template with special characters:
                              &<>"'</p>
                          subject:
                            type: string
                            description: >-
                              Template default subject (can be overridden when
                              sending emails)
                            example: test_subject
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the new template (must be unique under the current
            apiUser)
          example: testtemplate
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: >-
            Name of the new template (used for management display in the
            console)
          example: test
        - in: query
          name: html
          schema:
            type: string
          required: true
          description: >-
            Template content in HTML format (supports variable substitution with
            {{variable}} syntax)
          example: '<p>add new template with special characters: &<>"''</p>'
        - in: query
          name: text
          schema:
            type: string
          required: false
          description: >-
            Template content in plain text format (optional, used when the email
            client does not support HTML)
          example: add new template with special characters
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: >-
            Default subject of the new template (can be modified when sending
            emails)
          example: test_subject
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: true
          description: Template type (0 = transactional template, 1 = marketing template)
          example: 1
      security:
        - apiUser: []
          apiKey: []
  /api/template/delete:
    get:
      summary: Delete Email Template (GET)
      description: Delete an existing email template by invokeName
      operationId: deleteTemplateGet
      tags:
        - Email Template
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Deletion result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of templates successfully deleted (1 = success,
                          0 = no template deleted)
                        example: 1
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the template to delete (unique identifier for the
            template)
          example: test_invoke
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Delete Email Template (POST)
      description: Delete an existing email template using POST method
      operationId: deleteTemplatePost
      tags:
        - Email Template
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Deletion result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of templates successfully deleted (1 = success,
                          0 = no template deleted)
                        example: 1
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the template to delete (unique identifier for the
            template)
          example: test_invoke
      security:
        - apiUser: []
          apiKey: []
  /api/template/update:
    get:
      summary: Update Email Template (GET)
      description: >-
        Modify an existing email template (use POST for long/special character
        content)
      operationId: updateTemplateGet
      tags:
        - Email Template
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Update result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of templates successfully updated (1 = success,
                          0 = no template updated)
                        example: 1
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the template to update (unique identifier for the
            template)
          example: testtemplate
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: New template name (optional, leave empty to keep the original name)
          example: updated_test
        - in: query
          name: html
          schema:
            type: string
          required: false
          description: >-
            New HTML content (optional, supports variable substitution, leave
            empty to keep the original content)
          example: <p>update template</p>
        - in: query
          name: subject
          schema:
            type: string
          required: false
          description: >-
            New template subject (optional, leave empty to keep the original
            subject)
          example: updated_test_subject
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: false
          description: >-
            New template type (optional, 0 = transactional, 1 = marketing, leave
            empty to keep the original type)
          example: 1
      security:
        - apiUser: []
          apiKey: []
    post:
      summary: Update Email Template (POST)
      description: >-
        Modify an existing email template (recommended for long/special
        character content)
      operationId: updateTemplatePost
      tags:
        - Email Template
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Update result statistics
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of templates successfully updated (1 = success,
                          0 = no template updated)
                        example: 1
      parameters:
        - in: query
          name: invokeName
          schema:
            type: string
          required: true
          description: >-
            Calling name of the template to update (unique identifier for the
            template)
          example: testtemplate
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: New template name (optional, leave empty to keep the original name)
          example: updated_test
        - in: query
          name: html
          schema:
            type: string
          required: false
          description: >-
            New HTML content (optional, supports variable substitution, leave
            empty to keep the original content)
          example: '<p>update template with special characters: &<>"''</p>'
        - in: query
          name: subject
          schema:
            type: string
          required: false
          description: >-
            New template subject (optional, leave empty to keep the original
            subject)
          example: updated_test_subject
        - in: query
          name: templateType
          schema:
            type: integer
            enum:
              - 0
              - 1
          required: false
          description: >-
            New template type (optional, 0 = transactional, 1 = marketing, leave
            empty to keep the original type)
          example: 1
      security:
        - apiUser: []
          apiKey: []
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: Authentication parameter (API_USER, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: Authentication parameter (API_KEY, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
