openapi: 3.0.3
info:
  title: SendCloud Route API
  description: >
    SendCloud Route Management API provides comprehensive route configuration
    and management functionality.


    This API allows you to:

    - Query available email sending routes

    - Get detailed configuration of specific routes

    - Add custom/dedicated/shared routes

    - Update existing route configurations

    - Delete custom routes


    Route Types:

    - **default**: System-built routes, cannot be modified

    - **custom**: User-defined general routes

    - **dedicated**: Dedicated IP routes with exclusive IP resources

    - **shared**: Shared IP routes shared with other accounts


    Authentication:

    All API endpoints require authentication using apiUser and apiKey
    parameters.
  version: 1.0.0
  contact:
    name: SendCloud API Support
    url: https://www.sendcloud.net
    email: support@sendcloud.net
  license:
    name: SendCloud API License
    url: https://www.sendcloud.net/license
servers:
  - url: https://api.aurorasendcloud.com
    description: Production API server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Route
    description: Email sending route management operations
paths:
  /api/route/list:
    get:
      summary: Query Route List (GET)
      description: >-
        Get the list of available email sending routes. Supports filtering by
        route type, status, and sender domain. Returns basic route information
        including ID, name, type, status, and priority.
      operationId: getRouteListGet
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            routeId:
                              type: integer
                              description: Unique route ID
                              example: 1001
                            routeName:
                              type: string
                              description: Customizable route name
                              example: International Standard Route
                            routeType:
                              type: string
                              enum:
                                - default
                                - custom
                                - dedicated
                                - shared
                              description: >-
                                Route type (default/system-built,
                                custom/user-defined, dedicated/dedicated IP,
                                shared/shared IP)
                              example: custom
                            status:
                              type: string
                              enum:
                                - enabled
                                - disabled
                              description: >-
                                Route status (enabled/available,
                                disabled/unavailable)
                              example: enabled
                            senderDomain:
                              type: string
                              description: >-
                                Bound sender domain (multiple separated by
                                semicolons)
                              example: example.com;sub.example.com
                            priority:
                              type: integer
                              description: Route priority (1-10, smaller = higher priority)
                              example: 3
                            createTime:
                              type: string
                              format: date-time
                              description: Route creation time (Beijing time)
                              example: '2025-09-15 10:30:00'
                      total:
                        type: integer
                        description: Total number of matching routes
                        example: 8
                      count:
                        type: integer
                        description: Number of results in the current page
                        example: 8
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (no route management permission)
      parameters:
        - in: query
          name: routeType
          schema:
            type: string
            enum:
              - all
              - default
              - custom
              - dedicated
              - shared
            default: all
          description: >-
            Filter by route type (all = default; default = system routes; custom
            = user-defined; dedicated = dedicated IP; shared = shared IP)
          example: dedicated
        - in: query
          name: status
          schema:
            type: string
            enum:
              - all
              - enabled
              - disabled
            default: all
          description: >-
            Filter by route status (all = default; enabled = available; disabled
            = unavailable)
          example: enabled
        - in: query
          name: senderDomain
          schema:
            type: string
          description: Filter by bound sender domain (exact match; single domain only)
          example: example.com
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number (pagination parameter; starts from 1, defaults to 1)
          example: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
            maximum: 500
          description: Number of results per page (max 500, default 100)
          example: 50
      x-codeSamples:
        - lang: Python
          label: Query Route List (GET)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/list"
            params = {
                "routeType": "dedicated",
                "status": "enabled",
                "page": 1,
                "pageSize": 50
            }

            response = requests.get(url, params=params)
            print(response.json())
    post:
      summary: Query Route List (POST)
      description: >-
        Get the list of available email sending routes. Supports filtering by
        route type, status, and sender domain. Returns basic route information
        including ID, name, type, status, and priority.
      operationId: getRouteListPost
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            routeId:
                              type: integer
                              description: Unique route ID
                              example: 1001
                            routeName:
                              type: string
                              description: Customizable route name
                              example: International Standard Route
                            routeType:
                              type: string
                              enum:
                                - default
                                - custom
                                - dedicated
                                - shared
                              description: >-
                                Route type (default/system-built,
                                custom/user-defined, dedicated/dedicated IP,
                                shared/shared IP)
                              example: custom
                            status:
                              type: string
                              enum:
                                - enabled
                                - disabled
                              description: >-
                                Route status (enabled/available,
                                disabled/unavailable)
                              example: enabled
                            senderDomain:
                              type: string
                              description: >-
                                Bound sender domain (multiple separated by
                                semicolons)
                              example: example.com;sub.example.com
                            priority:
                              type: integer
                              description: Route priority (1-10, smaller = higher priority)
                              example: 3
                            createTime:
                              type: string
                              format: date-time
                              description: Route creation time (Beijing time)
                              example: '2025-09-15 10:30:00'
                      total:
                        type: integer
                        description: Total number of matching routes
                        example: 8
                      count:
                        type: integer
                        description: Number of results in the current page
                        example: 8
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (no route management permission)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                routeType:
                  type: string
                  enum:
                    - all
                    - default
                    - custom
                    - dedicated
                    - shared
                  default: all
                  description: >-
                    Filter by route type (all = default; default = system
                    routes; custom = user-defined; dedicated = dedicated IP;
                    shared = shared IP)
                  example: dedicated
                status:
                  type: string
                  enum:
                    - all
                    - enabled
                    - disabled
                  default: all
                  description: >-
                    Filter by route status (all = default; enabled = available;
                    disabled = unavailable)
                  example: enabled
                senderDomain:
                  type: string
                  description: >-
                    Filter by bound sender domain (exact match; single domain
                    only)
                  example: example.com
                page:
                  type: integer
                  default: 1
                  description: >-
                    Page number (pagination parameter; starts from 1, defaults
                    to 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: Number of results per page (max 500, default 100)
                  example: 50
      x-codeSamples:
        - lang: Python
          label: Query Route List (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/list"
            data = {
                "routeType": "dedicated",
                "status": "enabled"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/route/get:
    get:
      summary: Get Route Details
      description: >-
        Get the full configuration details of a specific route by routeId.
        Returns all parameters of the route, including IP pool binding,
        encryption type, DKIM/SPF status, etc.
      operationId: getRouteDetailsGet
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      routeId:
                        type: integer
                        description: Unique route ID (primary key for route operations)
                        example: 1001
                      routeName:
                        type: string
                        description: Customizable route name (max 50 characters)
                        example: International Standard Route
                      routeType:
                        type: string
                        enum:
                          - default
                          - custom
                          - dedicated
                          - shared
                        description: >-
                          Route type (default = system-built, cannot be
                          modified; custom = user-defined; dedicated = dedicated
                          IP; shared = shared IP)
                        example: custom
                      status:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: >-
                          Route status (enabled = available; disabled =
                          unavailable)
                        example: enabled
                      senderDomain:
                        type: string
                        description: >-
                          Bound sender domain (multiple separated by semicolons;
                          only verified domains)
                        example: example.com;sub.example.com
                      priority:
                        type: integer
                        description: Route priority (1-10, smaller = higher priority)
                        example: 3
                      ipPool:
                        type: string
                        description: >-
                          Bound IP pool (required for dedicated/shared routes;
                          empty for default/custom routes; IP resources used for
                          email sending)
                        example: ip_pool_international_01
                      smtpPort:
                        type: integer
                        description: >-
                          SMTP port used by the route (common values: 25, 465,
                          587; determined by the route's technical
                          configuration)
                        example: 25
                      encryptionType:
                        type: string
                        enum:
                          - none
                          - tls
                          - ssl
                        description: >-
                          Email transmission encryption type (none = no
                          encryption; tls = TLS encryption; ssl = SSL
                          encryption; defaults to TLS for security)
                        example: tls
                      dkimEnabled:
                        type: boolean
                        description: >-
                          Whether DKIM signature is enabled (true = enable,
                          improves email deliverability; false = disable;
                          defaults to true)
                        example: true
                      spfEnabled:
                        type: boolean
                        description: >-
                          Whether SPF verification is enabled (true = enable,
                          prevents email spoofing; false = disable; defaults to
                          true)
                        example: true
                      createTime:
                        type: string
                        format: date-time
                        description: >-
                          Route creation time (Beijing time, format: yyyy-MM-dd
                          HH:mm:ss)
                        example: '2025-09-15 10:30:00'
                      updateTime:
                        type: string
                        format: date-time
                        description: >-
                          Route last update time (Beijing time; updated on
                          configuration changes)
                        example: '2025-10-20 14:15:00'
                      remark:
                        type: string
                        description: >-
                          Custom route remark (max 200 characters; business
                          identification)
                        example: Used for international customer emails
        '400':
          description: Bad request (e.g., routeId does not exist, invalid routeId format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (no permission to view the route)
      parameters:
        - in: query
          name: routeId
          schema:
            type: integer
          required: true
          description: >-
            Unique route ID (obtained from the route list query interface;
            identifies the target route)
          example: 1001
      x-codeSamples:
        - lang: Python
          label: Get Route Details
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/get"
            params = {
                "routeId": 1001
            }

            response = requests.get(url, params=params)
            print(response.json())
  /api/route/add:
    post:
      summary: Add Custom Route
      description: >-
        Create a new custom email sending route (supports
        custom/dedicated/shared route types). Requires route configuration
        permission and bound verified sender domains. Dedicated/shared routes
        also require pre-purchased IP pools.
      operationId: addCustomRoute
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Add successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = add operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Add result message (e.g., "add route successful" or "route
                      name already exists")
                    example: add route successful
                  result:
                    type: boolean
                    description: >-
                      Whether the add operation succeeded (true = success, false
                      = failure)
                    example: true
                  info:
                    type: object
                    properties:
                      routeId:
                        type: integer
                        description: >-
                          Unique ID of the newly created route (used for
                          subsequent details query, update, delete)
                        example: 1008
        '400':
          description: >-
            Bad request (e.g., duplicate route name, invalid priority (not
            1-10), unbound sender domain, missing IP pool for dedicated/shared
            routes, illegal domain format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: >-
            Permission denied (no custom route creation permission; contact
            customer service to activate)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                routeName:
                  type: string
                  description: >-
                    Custom route name (max 50 characters; unique under the same
                    account; cannot duplicate existing route names)
                  example: Europe Dedicated Route
                routeType:
                  type: string
                  enum:
                    - custom
                    - dedicated
                    - shared
                  description: >-
                    Route type (custom = general custom route; dedicated =
                    dedicated IP route (exclusive IP); shared = shared IP route
                    (shared with other accounts); cannot create "default" type
                    routes)
                  example: dedicated
                senderDomain:
                  type: string
                  description: >-
                    Bound sender domain (multiple domains separated by
                    semicolons; must be verified in the SendCloud console;
                    emails from these domains can use this route)
                  example: europe.example.com
                priority:
                  type: integer
                  description: >-
                    Route priority (range 1-10; smaller number = higher
                    priority; determines the route selection order when multiple
                    routes are available)
                  example: 2
                ipPool:
                  type: string
                  description: >-
                    Bound IP pool (required for dedicated/shared routes; must be
                    a pre-purchased and available IP pool; empty for custom
                    routes)
                  example: ip_pool_europe_02
                encryptionType:
                  type: string
                  enum:
                    - none
                    - tls
                    - ssl
                  default: tls
                  description: >-
                    Email transmission encryption type (none = no encryption;
                    tls = TLS encryption (recommended); ssl = SSL encryption;
                    defaults to "tls")
                  example: tls
                dkimEnabled:
                  type: boolean
                  default: true
                  description: >-
                    Whether to enable DKIM signature (true = enable, improves
                    email deliverability and anti-spam effect; false = disable;
                    defaults to true)
                  example: true
                spfEnabled:
                  type: boolean
                  default: true
                  description: >-
                    Whether to enable SPF verification (true = enable, prevents
                    email spoofing; false = disable; defaults to true)
                  example: true
                remark:
                  type: string
                  description: >-
                    Custom route remark (max 200 characters; optional; used for
                    business scenario description)
                  example: Dedicated route for European customers
              required:
                - routeName
                - routeType
                - senderDomain
                - priority
      x-codeSamples:
        - lang: Python
          label: Add Dedicated Route
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/add"
            data = {
                "routeName": "Europe Dedicated Route",
                "routeType": "dedicated",
                "senderDomain": "europe.example.com",
                "priority": 2,
                "ipPool": "ip_pool_europe_02",
                "encryptionType": "tls",
                "dkimEnabled": True,
                "spfEnabled": True,
                "remark": "Dedicated route for European customers"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/route/update:
    post:
      summary: Update Route Configuration
      description: >-
        Modify the configuration of an existing route (supports
        custom/dedicated/shared routes; cannot modify system default "default"
        type routes). Modifiable parameters include route name, sender domain,
        priority, status, IP pool, encryption type, etc.
      operationId: updateRouteConfig
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Update successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = update operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Update result message (e.g., "update route successful" or
                      "route name already exists")
                    example: update route successful
                  result:
                    type: boolean
                    description: >-
                      Whether the update operation succeeded (true = success,
                      false = failure)
                    example: true
        '400':
          description: >-
            Bad request (e.g., routeId does not exist, duplicate route name,
            invalid priority, unbound sender domain, illegal parameter format)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: >-
            Permission denied (cannot modify system default routes, or no update
            permission)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                routeId:
                  type: integer
                  description: >-
                    Unique ID of the route to update (obtained from route list
                    query; identifies the target route)
                  example: 1008
                routeName:
                  type: string
                  description: >-
                    New route name (max 50 characters; unique under the same
                    account; omit to keep the original name)
                  example: Europe Premium Dedicated Route
                senderDomain:
                  type: string
                  description: >-
                    New bound sender domain (multiple separated by semicolons;
                    must be verified; omit to keep the original domain)
                  example: europe.example.com;eu.example.com
                priority:
                  type: integer
                  description: >-
                    New route priority (range 1-10; omit to keep the original
                    priority)
                  example: 1
                status:
                  type: string
                  enum:
                    - enabled
                    - disabled
                  description: >-
                    New route status (enabled = available; disabled =
                    unavailable; omit to keep the original status)
                  example: enabled
                ipPool:
                  type: string
                  description: >-
                    New bound IP pool (for dedicated/shared routes only; must be
                    an available IP pool; omit to keep the original IP pool)
                  example: ip_pool_europe_premium_01
                encryptionType:
                  type: string
                  enum:
                    - none
                    - tls
                    - ssl
                  description: >-
                    New encryption type (omit to keep the original type;
                    recommended to use TLS)
                  example: tls
                dkimEnabled:
                  type: boolean
                  description: >-
                    Whether to enable DKIM signature (omit to keep the original
                    setting)
                  example: true
                spfEnabled:
                  type: boolean
                  description: >-
                    Whether to enable SPF verification (omit to keep the
                    original setting)
                  example: true
                remark:
                  type: string
                  description: >-
                    New route remark (max 200 characters; omit to keep the
                    original remark; empty string to clear the remark)
                  example: Premium dedicated route for European enterprise customers
              required:
                - routeId
      x-codeSamples:
        - lang: Python
          label: Update Route Priority and Status
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/update"
            data = {
                "routeId": 1008,
                "priority": 1,
                "status": "enabled",
                "remark": "Premium dedicated route for European enterprise customers"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/route/delete:
    post:
      summary: Delete Custom Route
      description: >-
        Delete an existing custom/dedicated/shared route (cannot delete system
        default "default" type routes). After deletion, the route is permanently
        unavailable, and emails will no longer use this route.
      operationId: deleteCustomRoute
      tags:
        - Route
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Delete successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = delete operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Delete result message (e.g., "delete route successful" or
                      "route does not exist")
                    example: delete route successful
                  result:
                    type: boolean
                    description: >-
                      Whether the delete operation succeeded (true = success,
                      false = failure)
                    example: true
        '400':
          description: >-
            Bad request (e.g., routeId does not exist, attempting to delete a
            system default route)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (no route deletion permission)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                routeId:
                  type: integer
                  description: >-
                    Unique ID of the route to delete (obtained from route list
                    query; identifies the target route)
                  example: 1008
              required:
                - routeId
      x-codeSamples:
        - lang: Python
          label: Delete Custom Route
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/route/delete"
            data = {
                "routeId": 1008
            }

            response = requests.post(url, data=data)
            print(response.json())
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API user name for authentication
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API key for authentication
x-readme:
  explorer-enabled: true
  proxy-enabled: true
