openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com/
    description: |
      Singapore Region
      - Base URL: https://api.aurorasendcloud.com/
  - url: https://api-us.aurorasendcloud.com/
    description: |
      US (Silicon Valley) Region
      - Base URL: https://api-us.aurorasendcloud.com/
  - url: https://api-hk.aurorasendcloud.com/
    description: |
      CN (Hong Kong SAR) Region
      - Base URL: https://api-hk.aurorasendcloud.com/
tags:
  - name: Statistics
    description: >-
      Interfaces for querying email sending statistics (volume, open rate, click
      rate, etc.)
paths:
  /api/statday/list:
    get:
      summary: Get Statistics by Day
      description: >-
        Query email delivery data counted by day. Requires a specified time span
        (startDate & endDate or days); time span cannot exceed 3 months.
        Supports filtering by API_USER, label, domain, and data aggregation.
      operationId: query-daily-statistics-get
      tags:
        - Statistics
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past [days] days (days=1 means today); required if
            startDate and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified API_USERs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelIdList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified labels; multiple separated by semicolons
            (e.g. "a;b;c")
        - name: labelNameList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified label names; multiple separated by
            semicolons (Chinese encoded in UTF-8, e.g. "a;b;c")
        - name: domainList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified domains; multiple separated by semicolons
            (e.g. "a;b;c")
        - name: aggregate
          in: query
          required: false
          schema:
            type: boolean
            enum:
              - true
              - false
            default: false
          description: Whether to return aggregated data (1=true, 0=false); defaults to 0
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                sendDate:
                                  type: string
                                  description: Send date
                                  example: '2015-03-12'
                                apiUser:
                                  type: string
                                  description: API_USER
                                  example: postmaster@delong.sendcloud.org
                                domain:
                                  type: string
                                  description: Domain
                                  example: qq.com
                                labelId:
                                  type: integer
                                  description: Label ID
                                  example: 0
                                labelName:
                                  type: string
                                  nullable: true
                                  description: Label name
                                  example: null
                                requestNum:
                                  type: integer
                                  description: Total requests
                                  example: 27
                                deliveredNum:
                                  type: integer
                                  description: Deliveries
                                  example: 27
                                clickNum:
                                  type: integer
                                  description: Clicks
                                  example: 0
                                openNum:
                                  type: integer
                                  description: Opens
                                  example: 0
                                bounceNum:
                                  type: integer
                                  description: Bounces
                                  example: 0
                                spamReportedNum:
                                  type: integer
                                  description: Number of spam reporting
                                  example: 0
                                unsubscribeNum:
                                  type: integer
                                  description: Unsubscribes
                                  example: 0
                                uniqueOpensNum:
                                  type: integer
                                  description: Unique opens
                                  example: 0
                                uniqueClicksNum:
                                  type: integer
                                  description: Unique clicks
                                  example: 0
                                invalidEmailsNum:
                                  type: integer
                                  description: Number of invalid emails
                                  example: 0
                                deliveredPercent:
                                  type: number
                                  description: Percentage of deliveries
                                  example: 100
                                clickPercent:
                                  type: number
                                  description: Percentage of clicks
                                  example: 0
                                openPercent:
                                  type: number
                                  description: Percentage of opens
                                  example: 0
                                bouncePercent:
                                  type: number
                                  description: Percentage of bounces
                                  example: 0
                                spamReportedPercent:
                                  type: number
                                  description: Percentage of spam reporting
                                  example: 0
                                unsubscribePercent:
                                  type: number
                                  description: Percentage of unsubscribes
                                  example: 0
                                uniqueOpensPercent:
                                  type: number
                                  description: Percentage of unique opens
                                  example: 0
                                uniqueClicksPercent:
                                  type: number
                                  description: Percentage of unique clicks
                                  example: 0
                                invalidEmailsPercent:
                                  type: number
                                  description: Percentage of invalid emails
                                  example: 0
                                openRatePercent:
                                  type: number
                                  description: Reading conversion ratio
                                  example: 0
                          - type: object
                            properties:
                              requestNum:
                                type: integer
                                description: Total requests
                                example: 48
                              deliveredNum:
                                type: integer
                                description: Deliveries
                                example: 28
                              clickNum:
                                type: integer
                                description: Clicks
                                example: 0
                              openNum:
                                type: integer
                                description: Opens
                                example: 0
                              bounceNum:
                                type: integer
                                description: Bounces
                                example: 0
                              spamReportedNum:
                                type: integer
                                description: Number of spam reporting
                                example: 0
                              unsubscribeNum:
                                type: integer
                                description: Unsubscribes
                                example: 0
                              uniqueOpenNum:
                                type: integer
                                description: Unique opens
                                example: 0
                              uniqueClickNum:
                                type: integer
                                description: Unique clicks
                                example: 0
                              invalidEmailNum:
                                type: integer
                                description: Number of invalid emails
                                example: 20
                              deliveredPercent:
                                type: number
                                description: Percentage of deliveries
                                example: 58.33
                              clickPercent:
                                type: number
                                description: Percentage of clicks
                                example: 0
                              openPercent:
                                type: number
                                description: Percentage of opens
                                example: 0
                              bouncePercent:
                                type: number
                                description: Percentage of bounces
                                example: 0
                              spamReportedPercent:
                                type: number
                                description: Percentage of spam reporting
                                example: 0
                              unsubscribePercent:
                                type: number
                                description: Percentage of unsubscribes
                                example: 0
                              uniqueOpensPercent:
                                type: number
                                description: Percentage of unique opens
                                example: 0
                              uniqueClicksPercent:
                                type: number
                                description: Percentage of unique clicks
                                example: 0
                              invalidEmailsPercent:
                                type: number
                                description: Percentage of invalid emails
                                example: 41.66
        '400':
          description: Bad request (invalid parameters, e.g. missing time span)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/stathour/list:
    get:
      summary: Get Statistics by Hour
      description: >-
        Query email delivery data counted by hour. Requires a specified time
        span (startDate & endDate or days); time span cannot exceed 3 months.
        Supports filtering by API_USER and label.
      operationId: query-hourly-statistics-get
      tags:
        - Statistics
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past [days] days (days=1 means today); required if
            startDate and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified API_USERs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelIdList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified labels; multiple separated by semicolons
            (e.g. "a;b;c")
        - name: labelNameList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified label names; multiple separated by
            semicolons (Chinese encoded in UTF-8, e.g. "a;b;c")
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            sendDate:
                              type: string
                              description: Send date
                              example: '2015-03-12'
                            apiUser:
                              type: string
                              description: API_USER
                              example: postmaster@delong.sendcloud.org
                            labelId:
                              type: integer
                              description: Label ID
                              example: 0
                            labelName:
                              type: string
                              description: Label name
                              example: ''
                            sendHour:
                              type: integer
                              description: 'Hour (range: 0-23)'
                              example: 10
                            requestNum:
                              type: integer
                              description: Total requests
                              example: 8
                            deliveredNum:
                              type: integer
                              description: Deliveries
                              example: 3
                            clickNum:
                              type: integer
                              description: Clicks
                              example: 0
                            openNum:
                              type: integer
                              description: Opens
                              example: 0
                            bounceNum:
                              type: integer
                              description: Bounces
                              example: 0
                            spamReportedNum:
                              type: integer
                              description: Number of spam reporting
                              example: 0
                            unsubscribeNum:
                              type: integer
                              description: Unsubscribes
                              example: 0
                            uniqueOpensNum:
                              type: integer
                              description: Unique opens
                              example: 0
                            uniqueClicksNum:
                              type: integer
                              description: Unique clicks
                              example: 0
                            invalidEmailsNum:
                              type: integer
                              description: Number of invalid emails
                              example: 5
                            deliveredPercent:
                              type: number
                              description: Percentage of deliveries
                              example: 75
                            clickPercent:
                              type: number
                              description: Percentage of clicks
                              example: 0
                            openPercent:
                              type: number
                              description: Percentage of opens
                              example: 0
                            bouncePercent:
                              type: number
                              description: Percentage of bounces
                              example: 0
                            spamReportedPercent:
                              type: number
                              description: Percentage of spam reporting
                              example: 0
                            unsubscribePercent:
                              type: number
                              description: Percentage of unsubscribes
                              example: 0
                            uniqueOpensPercent:
                              type: number
                              description: Percentage of unique opens
                              example: 0
                            uniqueClickspercent:
                              type: number
                              description: Percentage of unique clicks
                              example: 0
                            invalidEmailsPercent:
                              type: number
                              description: Percentage of invalid emails
                              example: 62.5
                            openRatePercent:
                              type: number
                              description: Reading conversion ratio
                              example: 0
        '400':
          description: Bad request (invalid parameters, e.g. missing time span)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/invalidstat/list:
    get:
      summary: Get Invalid Emails Classifications Statistics by Day
      description: >-
        Query classified stats of invalid emails. Requires a specified time span
        (startDate & endDate or days). Supports filtering by API_USER, label,
        domain, and data aggregation.
      operationId: query-invalid-email-statistics-get
      tags:
        - Statistics
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past [days] days (days=1 means today); required if
            startDate and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified API_USERs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelIdList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified labels; multiple separated by semicolons
            (e.g. "a;b;c")
        - name: labelNameList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified label names; multiple separated by
            semicolons (Chinese encoded in UTF-8, e.g. "a;b;c")
        - name: domainList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified domains; multiple separated by semicolons
            (e.g. "a;b;c")
        - name: aggregate
          in: query
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
            default: 0
          description: Whether to return aggregated data (1=yes, 0=no); defaults to 0
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                sendDate:
                                  type: string
                                  description: 'Send date (format: yyyy-MM-dd)'
                                  example: '2016-02-01'
                                apiUser:
                                  type: string
                                  description: API_USER
                                  example: postmaster@delong.sendcloud.org
                                labelId:
                                  type: integer
                                  description: Label ID
                                  example: 5285
                                labelName:
                                  type: string
                                  description: Label name
                                  example: test
                                domain:
                                  type: string
                                  description: Domain
                                  example: gmail.com
                                sendcloudBlacklist:
                                  type: integer
                                  description: Count of emails in SendCloud blacklist
                                  example: 1
                                ubsubscribe:
                                  type: integer
                                  description: Count of emails in unsubscribe list
                                  example: 0
                                espUnvaliable:
                                  type: integer
                                  description: Unavailable ESP servers
                                  example: 0
                                recipientAddressError:
                                  type: integer
                                  description: Invalid recipient addresses
                                  example: 0
                                ipOrDomainRejected:
                                  type: integer
                                  description: Rejected IPs or domains
                                  example: 0
                                recipientNotFound:
                                  type: integer
                                  description: Nonexistent recipients
                                  example: 0
                                spamEmail:
                                  type: integer
                                  description: Count of spam emails
                                  example: 0
                                senderOrRecipientRejected:
                                  type: integer
                                  description: Rejected senders or recipients
                                  example: 0
                                others:
                                  type: integer
                                  description: Other invalid types
                                  example: 0
                          - type: object
                            properties:
                              sendcloudBlacklist:
                                type: integer
                                description: Count of emails in SendCloud blacklist
                                example: 2
                              ubsubscribe:
                                type: integer
                                description: Count of emails in unsubscribe list
                                example: 1
                              espUnvaliable:
                                type: integer
                                description: Unavailable ESP servers
                                example: 0
                              recipientAddressError:
                                type: integer
                                description: Invalid recipient addresses
                                example: 3
                              ipOrDomainRejected:
                                type: integer
                                description: Rejected IPs or domains
                                example: 0
                              recipientNotFound:
                                type: integer
                                description: Nonexistent recipients
                                example: 1
                              spamEmail:
                                type: integer
                                description: Count of spam emails
                                example: 0
                              senderOrRecipientRejected:
                                type: integer
                                description: Rejected senders or recipients
                                example: 0
                              others:
                                type: integer
                                description: Other invalid types
                                example: 0
        '400':
          description: Bad request (invalid parameters, e.g. missing time span)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER for identity verification
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY for identity verification
x-readme:
  explorer-enabled: true
  proxy-enabled: true
