openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production API server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Statistics
    description: >-
      Interfaces for querying email sending statistics (volume, open rate, click
      rate, etc.)
paths:
  /api/stats/summary:
    get:
      summary: Query Sending Summary Statistics
      description: >-
        Get summary statistics of email sending within a specified time range
        (total sent, delivered, opened, clicked, etc.)
      operationId: querySendingSummaryStatsGet
      tags:
        - Statistics
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Sending summary statistics
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: 'Query start time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-01 00:00:00'
                      endTime:
                        type: string
                        format: date-time
                        description: 'Query end time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-31 23:59:59'
                      totalSent:
                        type: integer
                        description: Total number of emails sent
                        example: 8500
                      totalDelivered:
                        type: integer
                        description: Total number of emails successfully delivered
                        example: 8200
                      deliveryRate:
                        type: number
                        format: float
                        description: Delivery rate (totalDelivered / totalSent,保留2位小数)
                        example: 96.47
                      totalOpened:
                        type: integer
                        description: Total number of emails opened (unique users)
                        example: 3280
                      openRate:
                        type: number
                        format: float
                        description: Open rate (totalOpened / totalDelivered, 保留2位小数)
                        example: 40
                      totalClicked:
                        type: integer
                        description: Total number of links clicked (unique users)
                        example: 984
                      clickRate:
                        type: number
                        format: float
                        description: Click rate (totalClicked / totalDelivered, 保留2位小数)
                        example: 12
                      totalBounced:
                        type: integer
                        description: Total number of bounced emails
                        example: 300
                      bounceRate:
                        type: number
                        format: float
                        description: Bounce rate (totalBounced / totalSent, 保留2位小数)
                        example: 3.53
                      totalUnsubscribed:
                        type: integer
                        description: Total number of unsubscribes
                        example: 170
                      unsubscribeRate:
                        type: number
                        format: float
                        description: >-
                          Unsubscribe rate (totalUnsubscribed / totalDelivered,
                          保留2位小数)
                        example: 2.07
        '400':
          description: >-
            Bad request (e.g., invalid time range, end time earlier than start
            time)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss; maximum time range:
            90 days)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss; must be later than
            startTime)
          example: '2025-10-31 23:59:59'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (e.g., example.com; query all domains if
            not specified)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: Filter by label name (query all labels if not specified)
          example: Marketing Campaigns
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Query Monthly Sending Summary
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/stats/summary"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59",
                "domain": "example.com",  # Optional: filter by sending domain
                "labelName": "Marketing Campaigns"  # Optional: filter by label
            }

            response = requests.get(url, params=params)
            stats = response.json()
            if stats["result"]:
                info = stats["info"]
                print(f"Time Range: {info['startTime']} - {info['endTime']}")
                print(f"Total Sent: {info['totalSent']}")
                print(f"Delivery Rate: {info['deliveryRate']}%")
                print(f"Open Rate: {info['openRate']}%")
                print(f"Click Rate: {info['clickRate']}%")
                print(f"Bounce Rate: {info['bounceRate']}%")
                print(f"Unsubscribe Rate: {info['unsubscribeRate']}%")
    post:
      summary: Query Sending Summary Statistics (POST)
      description: Get sending summary statistics using POST method
      operationId: querySendingSummaryStatsPost
      tags:
        - Statistics
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Sending summary statistics
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: 'Query start time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-01 00:00:00'
                      endTime:
                        type: string
                        format: date-time
                        description: 'Query end time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-31 23:59:59'
                      totalSent:
                        type: integer
                        description: Total number of emails sent
                        example: 8500
                      totalDelivered:
                        type: integer
                        description: Total number of emails successfully delivered
                        example: 8200
                      deliveryRate:
                        type: number
                        format: float
                        description: Delivery rate (totalDelivered / totalSent, 保留2位小数)
                        example: 96.47
                      totalOpened:
                        type: integer
                        description: Total number of emails opened (unique users)
                        example: 3280
                      openRate:
                        type: number
                        format: float
                        description: Open rate (totalOpened / totalDelivered, 保留2位小数)
                        example: 40
                      totalClicked:
                        type: integer
                        description: Total number of links clicked (unique users)
                        example: 984
                      clickRate:
                        type: number
                        format: float
                        description: Click rate (totalClicked / totalDelivered, 保留2位小数)
                        example: 12
                      totalBounced:
                        type: integer
                        description: Total number of bounced emails
                        example: 300
                      bounceRate:
                        type: number
                        format: float
                        description: Bounce rate (totalBounced / totalSent, 保留2位小数)
                        example: 3.53
                      totalUnsubscribed:
                        type: integer
                        description: Total number of unsubscribes
                        example: 170
                      unsubscribeRate:
                        type: number
                        format: float
                        description: >-
                          Unsubscribe rate (totalUnsubscribed / totalDelivered,
                          保留2位小数)
                        example: 2.07
        '400':
          description: >-
            Bad request (e.g., invalid time range, end time earlier than start
            time)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss; maximum time range:
            90 days)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss; must be later than
            startTime)
          example: '2025-10-31 23:59:59'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (e.g., example.com; query all domains if
            not specified)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: Filter by label name (query all labels if not specified)
          example: Marketing Campaigns
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Query Sending Summary (POST Method)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/stats/summary"
            params = {
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-31 23:59:59"
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/stats/daily:
    get:
      summary: Query Daily Sending Statistics
      description: >-
        Get daily breakdown of email sending statistics within a specified time
        range
      operationId: queryDailySendingStatsGet
      tags:
        - Statistics
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Daily sending statistics
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: 'Query start time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-01 00:00:00'
                      endTime:
                        type: string
                        format: date-time
                        description: 'Query end time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-07 23:59:59'
                      dataList:
                        type: array
                        description: Daily statistics list
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              description: 'Statistical date (format: yyyy-MM-dd)'
                              example: '2025-10-01'
                            totalSent:
                              type: integer
                              description: Number of emails sent on the date
                              example: 1200
                            totalDelivered:
                              type: integer
                              description: Number of emails delivered on the date
                              example: 1152
                            deliveryRate:
                              type: number
                              format: float
                              description: Delivery rate on the date (保留2位小数)
                              example: 96
                            totalOpened:
                              type: integer
                              description: Number of emails opened on the date
                              example: 461
                            openRate:
                              type: number
                              format: float
                              description: Open rate on the date (保留2位小数)
                              example: 40
                            totalClicked:
                              type: integer
                              description: Number of links clicked on the date
                              example: 138
                            clickRate:
                              type: number
                              format: float
                              description: Click rate on the date (保留2位小数)
                              example: 12
                      totalDays:
                        type: integer
                        description: Number of statistical days (endTime - startTime + 1)
                        example: 7
        '400':
          description: Bad request (e.g., invalid time range, time range exceeding 90 days)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss; maximum time range:
            90 days)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss; must be later than
            startTime)
          example: '2025-10-07 23:59:59'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (e.g., example.com; query all domains if
            not specified)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: Filter by label name (query all labels if not specified)
          example: Marketing Campaigns
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Query Weekly Daily Sending Stats
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/stats/daily"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-07 23:59:59",
                "labelName": "Weekly Newsletter"
            }

            response = requests.get(url, params=params)
            stats = response.json()
            if stats["result"]:
                print(f"Time Range: {stats['info']['startTime']} - {stats['info']['endTime']}")
                print("Daily Statistics:")
                for day in stats['info']['dataList']:
                    print(f"- {day['date']}: Sent={day['totalSent']}, Delivered={day['totalDelivered']}, OpenRate={day['openRate']}%")
    post:
      summary: Query Daily Sending Statistics (POST)
      description: Get daily sending statistics using POST method
      operationId: queryDailySendingStatsPost
      tags:
        - Statistics
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Daily sending statistics
                    properties:
                      startTime:
                        type: string
                        format: date-time
                        description: 'Query start time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-01 00:00:00'
                      endTime:
                        type: string
                        format: date-time
                        description: 'Query end time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2025-10-07 23:59:59'
                      dataList:
                        type: array
                        description: Daily statistics list
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              description: 'Statistical date (format: yyyy-MM-dd)'
                              example: '2025-10-01'
                            totalSent:
                              type: integer
                              description: Number of emails sent on the date
                              example: 1200
                            totalDelivered:
                              type: integer
                              description: Number of emails delivered on the date
                              example: 1152
                            deliveryRate:
                              type: number
                              format: float
                              description: Delivery rate on the date (保留2位小数)
                              example: 96
                            totalOpened:
                              type: integer
                              description: Number of emails opened on the date
                              example: 461
                            openRate:
                              type: number
                              format: float
                              description: Open rate on the date (保留2位小数)
                              example: 40
                            totalClicked:
                              type: integer
                              description: Number of links clicked on the date
                              example: 138
                            clickRate:
                              type: number
                              format: float
                              description: Click rate on the date (保留2位小数)
                              example: 12
                      totalDays:
                        type: integer
                        description: Number of statistical days (endTime - startTime + 1)
                        example: 7
        '400':
          description: Bad request (e.g., invalid time range, time range exceeding 90 days)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query start time (format: yyyy-MM-dd HH:mm:ss; maximum time range:
            90 days)
          example: '2025-10-01 00:00:00'
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
          required: true
          description: >-
            Query end time (format: yyyy-MM-dd HH:mm:ss; must be later than
            startTime)
          example: '2025-10-07 23:59:59'
        - in: query
          name: domain
          schema:
            type: string
          required: false
          description: >-
            Filter by sending domain (e.g., example.com; query all domains if
            not specified)
          example: example.com
        - in: query
          name: labelName
          schema:
            type: string
          required: false
          description: Filter by label name (query all labels if not specified)
          example: Weekly Newsletter
      security:
        - apiUser: []
          apiKey: []
      x-codeSamples:
        - lang: Python
          label: Query Daily Sending Stats (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/stats/daily"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "startTime": "2025-10-01 00:00:00",
                "endTime": "2025-10-07 23:59:59"
            }

            response = requests.post(url, params=params)
            print(response.json())
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY (authentication parameter, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
