openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com/
    description: |
      Singapore Region
      - Base URL: https://api.aurorasendcloud.com/
  - url: https://api-us.aurorasendcloud.com/
    description: |
      US (Silicon Valley) Region
      - Base URL: https://api-us.aurorasendcloud.com/
  - url: https://api-hk.aurorasendcloud.com/
    description: |
      CN (Hong Kong SAR) Region
      - Base URL: https://api-hk.aurorasendcloud.com/
tags:
  - name: Suppressions
    description: >-
      Interfaces for querying bounced emails, managing bounce lists, and
      unblocking bounced addresses
paths:
  /api/bounce/list:
    get:
      summary: Get Info from Bounce List
      description: >-
        Query emails in the bounce list. Can search by time range or specific
        email address. Time frame cannot exceed 3 months.
      operationId: queryBounceListGet
      tags:
        - Suppressions
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: Email address
                              example: b@qq.com
                            reason:
                              type: string
                              description: Bounce reason
                              example: >-
                                Mailbox not found.
                                http://service.mail.qq.com/cgi-bin/help?subtype=1&&id=20022&&no=1000728
                            domain:
                              type: string
                              description: Bounce domain
                              example: qq.com
                            bounceTime:
                              type: string
                              format: date-time
                              description: Bounce time (formated yyyy-MM-dd HH:mm:ss)
                              example: '2016-02-01 14:53:20'
                            expireTime:
                              type: string
                              format: date-time
                              description: Expire time (formated yyyy-MM-dd HH:mm:ss)
                              example: '2021-07-09 00:59:37'
                      count:
                        type: integer
                        description: Number of returned results
                        example: 1
      parameters:
        - in: query
          name: days
          schema:
            type: integer
          required: false
          description: >-
            Stats in the past [days] days (days=1 means today). Either days or
            (startDate and endDate) must be provided.
          example: 100
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          required: false
          description: >-
            Start date in yyyy-MM-dd format. Either days or (startDate and
            endDate) must be provided. Time frame cannot exceed 3 months.
          example: '2025-10-01'
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          required: false
          description: >-
            End date in yyyy-MM-dd format. Must be provided together with
            startDate and be after startDate.
          example: '2025-10-31'
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: >-
            Email address to query in the bounce list. If provided, time
            parameters will be ignored.
          example: invalid@example.com
        - in: query
          name: start
          schema:
            type: integer
            default: 0
            minimum: 0
            maximum: 100
          required: false
          description: Start index for pagination (range 0-100, default is 0)
          example: 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            minimum: 0
            maximum: 100
          required: false
          description: Number of results per page (range 0-100, default is 100)
          example: 100
      security:
        - apiUser: []
          apiKey: []
  /api/bounce/delete:
    post:
      summary: Delete Address from Bounce List
      description: >-
        Remove a specified email address from the bounce list. This function is
        the same as adding to the sending unblocking list.
      operationId: deleteBouncedEmailPost
      tags:
        - Suppressions
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true=success,
                      false=failure)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of successfully unblocked addresses
                        example: 1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address to remove from the bounce list
                  example: invalid@example.com
              required:
                - email
      security:
        - apiUser: []
          apiKey: []
  /api/unsubscribe/list:
    get:
      summary: Get Info from Unsubscribe List
      description: >-
        Query email addresses in the unsubscribe list. Supports filtering by
        time frame, email address, API_USER, labels, and pagination. Time frame
        cannot be longer than 3 months; startDate & endDate or days is required
        (time frame is invalid if email is specified).
      operationId: query-unsubscribe-list
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past days (days=1 means today); required if startDate
            and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Email address to query; time frame is invalid if specified
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified API_USERs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelIdList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats with specified label IDs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelNameList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified label names; multiple separated by
            semicolons (Chinese encoded in UTF-8, e.g. "a;b;c")
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: 'Start position (range: 0-), defaults to 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: 'Number of results per page (range: 0-100), defaults to 100'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: Email address
                              example: 524244185@qq.com
                            domain:
                              type: string
                              description: Domain corresponding to the email address
                              example: qq.com
                            labelId:
                              type: integer
                              description: Label ID
                              example: 0
                            apiUser:
                              type: string
                              description: API_USER name
                              example: delong_test
                            unsubscribeTime:
                              type: string
                              description: Unsubscribe time
                              example: '2021-01-12 17:03:23'
                            unsubscribeType:
                              type: integer
                              description: Unsubscribe type
                              example: 0
                            unsubscribeTypeDesc:
                              type: string
                              description: Description of the unsubscribe type
                              example: I don't want to receive such mail anymore.
                      count:
                        type: integer
                        description: Number of returned email addresses
                        example: 1
  /api/unsubscribe/add:
    post:
      summary: Add Address to Unsubscribe List
      description: >-
        Add a specified email address to the unsubscribe list. No more emails
        will be sent to this address after addition.
      operationId: add-unsubscribe-get
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
          description: Email address to add to the unsubscribe list
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 40401
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            description: Email address added
                            example: abc@qq.com
                          domain:
                            type: string
                            description: Domain corresponding to the email address
                            example: qq.com
                          labelId:
                            type: integer
                            description: Label ID
                            example: 0
                          apiUser:
                            type: string
                            description: API_USER
                            example: api_user
                          unsubscribeTime:
                            type: string
                            description: Unsubscribe time (addition time)
                            example: '2014-11-19 10:57:24'
  /api/unsubscribe/delete:
    post:
      summary: Delete Addresses from Unsubscribe List
      description: >-
        Delete email addresses from the unsubscribe list. Supports deleting by
        time frame or specific email address. Time frame cannot be longer than 3
        months; startDate & endDate or days is required (time frame is invalid
        if email is specified).
      operationId: delete-unsubscribe-get
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past days (days=1 means today); required if startDate
            and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Email address to delete; time frame is invalid if specified
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of deleted addresses
                        example: 1
  /api/complaint/list:
    get:
      summary: Get Info from Complaint List
      description: >-
        When the recipient reports your email as spam, his email address will be
        added to the list of spam reporting. Email addresses in this list will
        be intercepted until the expiration time. You may search in the spam
        list.
      operationId: queryComplaintListGet
      tags:
        - Suppressions
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              example: 9978977@qq.com
                            reason:
                              type: string
                              example: from softbounce
                            spamReportedTime:
                              type: string
                              example: '2016-02-22 14:40:25'
                            domain:
                              type: string
                              example: qq.com
                      count:
                        type: integer
                        example: 1
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
      parameters:
        - in: query
          name: days
          schema:
            type: integer
          required: false
          description: stats in the past [days] days (days=1 means today)
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          required: false
          description: format of start date is yyyy-MM-dd
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          required: false
          description: format of end date is yyyy-MM-dd
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: learn more about the address in the list
        - in: query
          name: start
          schema:
            type: integer
            default: 0
          required: false
          description: start position, [0-], defaults to 0
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
            maximum: 100
          required: false
          description: amount, [0-100], defaults to 100
      security:
        - apiUser: []
          apiKey: []
  /api/complaint/delete:
    post:
      summary: Delete Addresses from Complaint List
      description: >-
        Delete complaint records from the spam list. You can delete by email
        address or by date range.
      operationId: deleteComplaint
      tags:
        - Suppressions
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 1
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
      parameters:
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          required: false
          description: format of start date is yyyy-MM-dd
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          required: false
          description: format of end date is yyyy-MM-dd
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: email addresses to delete
      security:
        - apiUser: []
          apiKey: []
  /api/block/list:
    get:
      summary: Get Info From Block List
      description: >-
        Get list of blocked email addresses or domains. Supports filtering by
        API user, domain name, email address, and time range. The maximum query
        time range is 3 months.
      operationId: queryBlockListGet
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserBlock:
                              type: string
                              description: Block API_USER
                              example: all
                            domain:
                              type: string
                              description: Block receiving domain
                              example: ''
                            email:
                              type: string
                              description: Block email address
                              example: 0.0.vallin@gmail.com
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-03-01 17:24:34'
                            expireTime:
                              type: string
                              description: Expire time
                              example: '2021-10-01 00:00:00'
                      count:
                        type: integer
                        description: Number of returned results
                        example: 2
      parameters:
        - in: query
          name: apiUserBlock
          schema:
            type: string
          required: false
          description: Block API_USER
        - in: query
          name: domainName
          schema:
            type: string
          required: false
          description: Block receiving domain
        - in: query
          name: email
          schema:
            type: string
          required: false
          description: Block email address
        - in: query
          name: days
          schema:
            type: integer
          required: false
          description: Stats in the past [days] days (days=1 means today)
        - in: query
          name: startDate
          schema:
            type: string
          required: false
          description: Start date, formatted with yyyy-MM-dd
        - in: query
          name: endDate
          schema:
            type: string
          required: false
          description: End date, formatted with yyyy-MM-dd
        - in: query
          name: start
          schema:
            type: integer
            default: 100
          required: false
          description: Amount, [0-100], defaults to 100
        - in: query
          name: limit
          schema:
            type: integer
            default: 100
          required: false
          description: Amount, [0-100], defaults to 100
  /api/block/add:
    post:
      summary: Add Address to Block List
      description: >-
        Add email address or domain to block list. You must specify either email
        or domainName, and expireTime is required.
      operationId: addBlockAddress
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      addSuccessCount:
                        type: integer
                        description: Number of addresses successfully added
                        example: 1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUserBlock:
                  type: string
                  description: Block API_USER
                email:
                  type: string
                  description: >-
                    Email address to block (either email or domainName must be
                    specified)
                domainName:
                  type: string
                  description: >-
                    Domain name to block (either email or domainName must be
                    specified)
                expireTime:
                  type: string
                  required:
                    - expireTime
                  description: Expiration time, formatted with yyyy-MM-dd HH:mm:ss
              required:
                - expireTime
  /api/block/delete:
    post:
      summary: Delete Addresses from Block List
      description: >-
        Delete email address or domain from block list. You must specify either
        email or domainName.
      operationId: deleteBlockAddress
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: Success or failure message
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      deleteSuccessCount:
                        type: integer
                        description: Number of addresses successfully deleted
                        example: 1
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: >-
                    Email address to delete (either email or domainName must be
                    specified)
                domainName:
                  type: string
                  description: >-
                    Domain name to delete (either email or domainName must be
                    specified)
  /api/unintercept/list:
    get:
      summary: Get info from Allow List
      description: >-
        Query entries in the uninterception list. Supports filtering by
        API_USER, receiving domain, email address, and pagination.
      operationId: query-uninterception-list
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept API_USER; can be "all" or specific API_USER (null
            indicates all)
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept receiving domain
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: 'Start position (range: 0-100), defaults to 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: 'Number of results per page (range: 0-100), defaults to 100'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserName:
                              type: string
                              description: Unintercept API_USER
                              example: all
                            email:
                              type: string
                              description: Unintercept email address
                              example: wbw@hotmail.com
                            domain:
                              type: string
                              description: Unintercept receiving domain
                              example: ''
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-07-15 15:32:03'
                      count:
                        type: integer
                        description: Number of returned entries
                        example: 2
  /api/unintercept/add:
    post:
      summary: Add Address to Allow List
      description: >-
        Add email address or receiving domain to the uninterception list.
        apiUserName defaults to "all" if empty; domainName and email cannot be
        empty at the same time. Duplicate data (judged by apiUserName+domainName
        or apiUserName+email) will not be added repeatedly; filling both
        domainName and email splits into two records.
      operationId: add-uninterception-get
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept API_USER; defaults to "all" if empty
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept receiving domain; cannot be empty with email
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address; cannot be empty with domainName
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserName:
                              type: string
                              description: Unintercept API_USER
                              example: all
                            email:
                              type: string
                              description: Unintercept email address
                              example: leon@gmail.com
                            domain:
                              type: string
                              description: Unintercept receiving domain
                              example: ''
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-07-19 11:30:00'
  /api/unintercept/delete:
    post:
      summary: Delete Addresses from Allow  List
      description: >-
        Delete entries from the uninterception list. apiUserName defaults to
        "all" if empty; domainName and email cannot be empty at the same time.
        Filling both deletes records for apiUserName+domainName and
        apiUserName+email respectively.
      operationId: delete-uninterception-get
      tags:
        - Suppressions
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept API_USER; defaults to "all" if empty (e.g.
            apiUserName=test_4TdLtA)
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept receiving domain; cannot be empty with email (e.g.
            domainName=qq.com)
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address; cannot be empty with domainName
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of successfully deleted entries
                        example: 1
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter; obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: >-
        API_KEY (authentication parameter; obtained from the SendCloud console,
        keep confidential)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
