openapi: 3.0.0
info:
  version: 1.0.0
  title: Aurora SendCloud Email Send API
servers:
  - url: https://api2.sendcloud.net
tags:
  - name: Email Delivery
    description: Regular, template, and calendar email delivery interfaces
paths:
  /api/mail/send:
    post:
      summary: Regular Email Delivery
      description: >-
        Send regular emails with custom content, supports attachments, CC, BCC,
        etc.
      tags:
        - Email Delivery
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: API_USER
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY
                  example: test_api_key
                from:
                  type: string
                  description: >-
                    Sender email address (e.g., support@ifaxin.com). After DMARC
                    configuration, the current domain is used as the suffix.
                  example: support@ifaxin.com
                to:
                  type: string
                  description: >-
                    Recipient email addresses, separated by semicolons (e.g.,
                    ben@ifaxin.com;joe@ifaxin.com)
                  example: ben@ifaxin.com;joe@ifaxin.com
                subject:
                  type: string
                  description: Email subject (cannot be empty)
                  example: Test Email Subject
                html:
                  type: string
                  description: Email content in text/html format
                  example: <h1>Hello World</h1><p>This is a test email</p>
                contentSummary:
                  type: string
                  description: >-
                    Content summary. Replaces existing summary if present; added
                    if not. Only valid with html parameter.
                  example: Test email summary
                fromName:
                  type: string
                  description: Sender name (e.g., IFAXIN customer service)
                  example: IFAXIN customer service
                cc:
                  type: string
                  description: CC addresses, separated by semicolons
                  example: cc@ifaxin.com;cc2@ifaxin.com
                bcc:
                  type: string
                  description: BCC addresses, separated by semicolons
                  example: bcc@ifaxin.com;bcc2@ifaxin.com
                replyTo:
                  type: string
                  description: >-
                    Default reply addresses (max 3, separated by semicolons).
                    Defaults to 'from' if empty.
                  example: reply@ifaxin.com;reply2@ifaxin.com
                labelName:
                  type: string
                  description: Label for this send (automatically created if not exists)
                  example: Test Label
                sendTags:
                  type: string
                  description: >-
                    Tags for the request (max 5, separated by ';', each ≤50
                    characters)
                  example: tag1;tag2;test
                headers:
                  type: string
                  description: 'Email headers in JSON format (e.g., {"header1": "value1"})'
                  example: '{"header1": "value1", "header2": "value2"}'
                attachments:
                  type: string
                  format: binary
                  description: >-
                    Email attachments (must use multipart/form-data for
                    submission)
                xsmtpapi:
                  type: string
                  description: SMTP extension parameter (see X-SMTPAPI documentation)
                  example: '{"to": ["ben@ifaxin.com", "joe@ifaxin.com"]}'
                plain:
                  type: string
                  description: Email content in text/plain format
                  example: Hello World. This is a test email.
                sendRequestId:
                  type: string
                  description: >-
                    Unique request ID (max 128 chars). Duplicate IDs within 1
                    hour are processed only once.
                  example: req_1234567890abcdef
                respEmailId:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'true'
                  description: >-
                    Whether to return emailId (returns list for multiple
                    recipients)
                useNotification:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: Whether to enable notification
                useAddressList:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: >-
                    Whether to use address list (e.g.,
                    to=group1@maillist.sendcloud.org)
              required:
                - apiUser
                - apiKey
                - from
                - subject
              allOf:
                - oneOf:
                    - required:
                        - to
                    - required:
                        - xsmtpapi
                - oneOf:
                    - required:
                        - html
                    - required:
                        - plain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      emailIdList:
                        type: array
                        items:
                          type: string
                        example:
                          - >-
                            1447054895514_15555555_32350_1350.sc-inbound0$ben@ifaxin.com
        '400':
          description: Bad request (invalid parameters)
        '490':
          description: >-
            Unknown exception occurred in mail processing (invalid headers
            Key/Value)
  /api/mail/sendtemplate:
    post:
      summary: Template Email Delivery
      description: >-
        Send emails using pre-configured templates, supports variables and
        address lists
      tags:
        - Email Delivery
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: API_USER
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY
                  example: test_api_key
                from:
                  type: string
                  description: >-
                    Sender email address (e.g., support@ifaxin.com). After DMARC
                    configuration, the current domain is used as the suffix.
                  example: support@ifaxin.com
                to:
                  type: string
                  description: >-
                    Address list (used when useAddressList=true, e.g.,
                    group1@maillist.sendcloud.org)
                  example: group1@maillist.sendcloud.org;group2@maillist.sendcloud.org
                xsmtpapi:
                  type: string
                  description: >-
                    SMTP extension parameter (contains recipients and variables,
                    see X-SMTPAPI)
                  example: >-
                    {"to": ["ben@ifaxin.com", "joe@ifaxin.com"], "sub":
                    {"%name%": ["Ben", "Joe"], "%money%": [288, 497]}}
                subject:
                  type: string
                  description: Email subject (defaults to template subject if empty)
                  example: Monthly Bill Notification
                templateInvokeName:
                  type: string
                  description: Calling name of the email template (required)
                  example: ifaxin_bill
                contentSummary:
                  type: string
                  description: >-
                    Content summary. Replaces existing summary if present; added
                    if not.
                  example: Monthly consumption bill
                fromName:
                  type: string
                  description: Sender name (e.g., IFAXIN customer service)
                  example: IFAXIN customer service
                cc:
                  type: string
                  description: CC addresses (invalid when using address list)
                  example: cc@ifaxin.com
                bcc:
                  type: string
                  description: BCC addresses (invalid when using address list)
                  example: bcc@ifaxin.com
                replyTo:
                  type: string
                  description: >-
                    Default reply addresses (max 3, separated by semicolons).
                    Defaults to 'from' if empty.
                  example: reply@ifaxin.com
                labelName:
                  type: string
                  description: Label for this send (automatically created if not exists)
                  example: Bill Notifications
                sendTags:
                  type: string
                  description: >-
                    Tags for the request (max 5, separated by ';', each ≤50
                    characters)
                  example: bill;monthly;notification
                headers:
                  type: string
                  description: >-
                    Email headers in JSON format (≤1024 bytes when using address
                    list)
                  example: '{"header1": "value1", "header2": "value2"}'
                sendRequestId:
                  type: string
                  description: >-
                    Unique request ID (max 128 chars). Duplicate IDs within 1
                    hour are processed only once.
                  example: req_template_123456
                attachments:
                  type: string
                  format: binary
                  description: >-
                    Email attachments (must use multipart/form-data for
                    submission)
                respEmailId:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'true'
                  description: >-
                    Whether to return emailId (returns list for multiple
                    recipients)
                useNotification:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: Whether to enable notification
                useAddressList:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: Whether to use address list
              required:
                - apiUser
                - apiKey
                - from
                - templateInvokeName
              allOf:
                - oneOf:
                    - required:
                        - to
                    - required:
                        - xsmtpapi
                    - required:
                        - subject
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      emailIdList:
                        type: array
                        items:
                          type: string
                        example:
                          - >-
                            1447054895514_15555555_32350_1350.sc-inbound0$ben@ifaxin.com
                      maillistTaskId:
                        type: array
                        items:
                          type: integer
                        example:
                          - 267131
        '482':
          description: Address list task created successfully
        '486':
          description: Address list does not exist
        '490':
          description: >-
            Unknown exception occurred in mail processing (invalid headers
            Key/Value)
  /api/mail/sendcalendar:
    post:
      summary: Send Meeting Calendar
      description: >-
        Send meeting calendar invitations (requires prior permission from
        customer service)
      tags:
        - Email Delivery
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: API_USER
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY
                  example: test_api_key
                from:
                  type: string
                  description: >-
                    Sender email address (e.g., support@ifaxin.com). After DMARC
                    configuration, the current domain is used as the suffix.
                  example: support@ifaxin.com
                to:
                  type: string
                  description: Recipient email addresses, separated by semicolons
                  example: ben@ifaxin.com;joe@ifaxin.com
                subject:
                  type: string
                  description: Email subject (cannot be empty)
                  example: 'Meeting Invitation: Project Kickoff'
                html:
                  type: string
                  description: Email content in text/html format
                  example: <h1>Project Kickoff Meeting</h1><p>Please attend on time</p>
                fromName:
                  type: string
                  description: Sender name
                  example: Project Manager
                cc:
                  type: string
                  description: CC addresses, separated by semicolons
                  example: cc@ifaxin.com
                bcc:
                  type: string
                  description: BCC addresses, separated by semicolons
                  example: bcc@ifaxin.com
                replyTo:
                  type: string
                  description: >-
                    Default reply addresses (max 3, separated by semicolons).
                    Defaults to 'from' if empty.
                  example: reply@ifaxin.com
                labelName:
                  type: string
                  description: Label for this send (automatically created if not exists)
                  example: Meeting Invitations
                headers:
                  type: string
                  description: Email headers in JSON format
                  example: '{"header1": "value1", "header2": "value2"}'
                attachments:
                  type: string
                  format: binary
                  description: >-
                    Email attachments (must use multipart/form-data for
                    submission)
                xsmtpapi:
                  type: string
                  description: SMTP extension parameter
                  example: '{"to": ["ben@ifaxin.com", "joe@ifaxin.com"]}'
                plain:
                  type: string
                  description: Email content in text/plain format
                  example: Project Kickoff Meeting. Please attend on time.
                sendRequestId:
                  type: string
                  description: >-
                    Unique request ID (max 128 chars). Duplicate IDs within 1
                    hour are processed only once.
                  example: req_calendar_123456
                respEmailId:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'true'
                  description: Whether to return emailId
                startTime:
                  type: string
                  description: 'Meeting start time (format: yyyy-MM-dd HH:mm:ss)'
                  example: '2025-10-01 10:00:00'
                endTime:
                  type: string
                  description: 'Meeting end time (format: yyyy-MM-dd HH:mm:ss)'
                  example: '2025-10-01 11:30:00'
                title:
                  type: string
                  description: Meeting title
                  example: Project Kickoff Meeting
                organizerName:
                  type: string
                  description: Organizer name
                  example: John Doe
                organizerEmail:
                  type: string
                  description: Organizer email address
                  example: organizer@ifaxin.com
                location:
                  type: string
                  description: Meeting location
                  example: Conference Room A, 5th Floor
                description:
                  type: string
                  description: Meeting description
                  example: Discuss project timeline and responsibilities
                participatorNames:
                  type: string
                  description: Participant names, separated by semicolons
                  example: Ben;Joe;Alice
                participatorEmails:
                  type: string
                  description: Participant email addresses, separated by semicolons
                  example: ben@ifaxin.com;joe@ifaxin.com;alice@ifaxin.com
                uid:
                  type: string
                  description: Unique calendar ID (required for update/cancel)
                  example: cal_123456789
                isCancel:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: Whether to cancel the calendar
                isUpdate:
                  type: string
                  enum:
                    - true
                    - false
                  default: 'false'
                  description: Whether to update the calendar
              required:
                - apiUser
                - apiKey
                - from
                - to
                - subject
                - html
                - startTime
                - endTime
                - title
                - organizerName
                - organizerEmail
                - location
                - participatorNames
              allOf:
                - oneOf:
                    - required:
                        - html
                    - required:
                        - plain
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      emailIdList:
                        type: array
                        items:
                          type: string
                        example:
                          - >-
                            1447054895514_15555555_32350_1350.sc-inbound0$ben@ifaxin.com
        '490':
          description: >-
            Unknown exception occurred in mail processing (invalid headers
            Key/Value)
  /api/mail/taskinfo:
    get:
      summary: Query Address List Task
      description: Query the status and details of an address list email task
      tags:
        - Email Delivery
      parameters:
        - name: apiUser
          in: query
          schema:
            type: string
          required: true
          description: API_USER
          example: test_api_user
        - name: apiKey
          in: query
          schema:
            type: string
          required: true
          description: API_KEY
          example: test_api_key
        - name: maillistTaskId
          in: query
          schema:
            type: integer
          required: true
          description: Returned maillistTaskId from sendtemplate request
          example: 267131
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          maillistTaskId:
                            type: integer
                            example: 267131
                          apiUser:
                            type: string
                            example: test_api_user
                          addressList:
                            type: string
                            example: group1@maillist.sendcloud.org
                          memberCount:
                            type: integer
                            example: 300
                          gmtCreated:
                            type: string
                            format: date-time
                            example: '2015-11-26 14:38:09'
                          gmtUpdated:
                            type: string
                            format: date-time
                            example: '2015-11-26 14:38:23'
                          status:
                            type: string
                            example: Completion of the request
    post:
      summary: Query Address List Task (POST)
      description: Query the status and details of an address list email task (POST method)
      tags:
        - Email Delivery
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: API_USER
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY
                  example: test_api_key
                maillistTaskId:
                  type: integer
                  description: Returned maillistTaskId from sendtemplate request
                  example: 267131
              required:
                - apiUser
                - apiKey
                - maillistTaskId
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          maillistTaskId:
                            type: integer
                            example: 267131
                          apiUser:
                            type: string
                            example: test_api_user
                          addressList:
                            type: string
                            example: group1@maillist.sendcloud.org
                          memberCount:
                            type: integer
                            example: 300
                          gmtCreated:
                            type: string
                            format: date-time
                            example: '2015-11-26 14:38:09'
                          gmtUpdated:
                            type: string
                            format: date-time
                            example: '2015-11-26 14:38:23'
                          status:
                            type: string
                            example: Completion of the request
components:
  securitySchemes:
    apiUserApiKey:
      type: apiKey
      in: query
      name: apiUser
    apiKey:
      type: apiKey
      in: query
      name: apiKey
x-readme:
  explorer-enabled: true
  proxy-enabled: true
