openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com/
    description: |
      Singapore Region
      - Base URL: https://api.aurorasendcloud.com/
  - url: https://api-us.aurorasendcloud.com/
    description: |
      US (Silicon Valley) Region
      - Base URL: https://api-us.aurorasendcloud.com/
  - url: https://api-hk.aurorasendcloud.com/
    description: |
      CN (Hong Kong SAR) Region
      - Base URL: https://api-hk.aurorasendcloud.com/
tags:
  - name: Tracking Domain
    description: Interfaces for managing email tracking domains
paths:
  /api/trackDomain/list:
    get:
      summary: Get Tracking Domains List
      description: >-
        Batch query configured tracking domains under the account. Supports
        filtering by track name and pagination.
      operationId: get-tracking-domains-list
      tags:
        - Tracking Domain
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Track name; multiple names separated by semicolons
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: 'Start position (range: 0-100), defaults to 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: 'Number of results per page (range: 0-100), defaults to 100'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Track ID
                              example: 999225
                            name:
                              type: string
                              description: Track name
                              example: track2.test.com
                            cname:
                              type: boolean
                              description: >-
                                CNAME configuration status (true: passed, false:
                                failed)
                              example: false
                            gmtCreated:
                              type: string
                              description: Time of track creation
                              example: '2014-11-01 22:41:52'
                            gmtUpdated:
                              type: string
                              description: Time of track modification
                              example: '2015-09-25 10:56:06'
                            cname domain:
                              type: string
                              description: Track host records
                              example: test.com
                            cname.value:
                              type: string
                              description: Record value to configure for track
                              example: test.com
                            https:
                              type: boolean
                              description: >-
                                HTTPS configuration status (true: configured,
                                false: not configured)
                              example: false
                            certiValidityStart:
                              type: string
                              description: >-
                                Start time of the SSL certificate validity
                                period (format: yyyy-MM-dd HH:mm:ss)
                              example: ''
                            certiValidityEnd:
                              type: string
                              description: >-
                                End time of the SSL certificate validity period
                                (format: yyyy-MM-dd HH:mm:ss)
                              example: ''
                      total:
                        type: integer
                        description: Total number of tracking domains
                        example: 2
                      count:
                        type: integer
                        description: Number of returned tracking domains
                        example: 2
  /api/trackDomain/add:
    post:
      summary: Add Tracking Domain
      description: >-
        Add a new tracking domain. The tracking domain cannot be the same as any
        sending domain. A user can add a maximum of 5 tracking domains; contact
        customer support for more.
      operationId: add-tracking-domain
      tags:
        - Tracking Domain
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: >-
                    Track name; comply with domain name specifications, length
                    no more than 255 characters
                  example: test.com
                certContent:
                  type: string
                  format: multi-line
                  description: Certificate content (PEM format)
                  example: ''
                certKey:
                  type: string
                  format: multi-line
                  description: Certificate private key (PEM format)
                  example: ''
              required:
                - name
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Track ID
                            example: 999224
                          name:
                            type: string
                            description: Track name
                            example: track.test.com
                          cname:
                            type: boolean
                            description: >-
                              CNAME configuration status (true: passed, false:
                              failed)
                            example: false
                          gmtCreated:
                            type: string
                            description: Time of track creation
                            example: '2014-11-01 22:41:52'
                          gmtUpdated:
                            type: string
                            description: Time of track modification
                            example: '2015-09-25 10:56:06'
                          cname domain:
                            type: string
                            description: Track host records
                            example: test.com
                          cname.value:
                            type: string
                            description: Record value to configure for track
                            example: test.com
                          https:
                            type: boolean
                            description: >-
                              HTTPS configuration status (true: configured,
                              false: not configured)
                            example: false
                          certiValidityStart:
                            type: string
                            description: >-
                              Start time of the SSL certificate validity period
                              (format: yyyy-MM-dd HH:mm:ss)
                            example: ''
                          certiValidityEnd:
                            type: string
                            description: >-
                              End time of the SSL certificate validity period
                              (format: yyyy-MM-dd HH:mm:ss)
                            example: ''
  /api/trackDomain/update:
    post:
      summary: Update Tracking Domain
      description: >-
        Update configuration of an existing tracking domain, including track
        name and SSL certificate information.
      operationId: update-tracking-domain
      tags:
        - Tracking Domain
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Track ID
                  example: 68554
                name:
                  type: string
                  description: New track name
                  example: test.com
                certContent:
                  type: string
                  format: byte
                  description: Certificate content (PEM format)
                  example: ''
                certKey:
                  type: string
                  format: byte
                  description: Certificate private key (PEM format)
                  example: ''
              required:
                - id
            examples:
              New Example:
                summary: New Example
                value: "{\n  \"id\": 213546\n\t\"certContent\":\"----BEGIN CERTIFICATE----- MIIGFTCCBP2gAwIBAgIQBeOnvnb05OX5qsRFcIwQgDANBgkqhkiG9w0BAQsFADBu MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3 d3cuZGlnaWNlcnQuY29tMS0wKwYDVQQDEyRFbmNyeXB0aW9uIEV2ZXJ5d2hlcmUg RFYgVExTIENBIC0gRzIwHhcNMjUxMDI3MDAwMDAwWhcNMjYwMTI0MjM1OTU5WjAd MRswGQYDVQQDExJ0cmFjay5ndW96dGVzdC50b3AwggEiMA0GCSqGSIb3DQEBAQUA A4IBDwAwggEKAoIBAQDCCx8/28WRMSlO3AMlxvS3mCj025kiAXHRljLpEvc4BQ+p WHr5FnUu/2s0Jh8IlmXP1AoeeXdzzS0wYlEuu7magxekml7i+5k4ThCrClnSvlZ7 Imh3hA8hFjS7yhVmIEz8I1WYVHsi36MM2+Ehi5CUg0ahI3/9uSmqC8wjf9Jbvu4/ 8Vp3LM8hJ4KWqNOpwPF6RkP0y2ciaB+lSrhT04dVsZfD1trFUhjEWW4dmaL6pfo1 NTyrRWNRym0/W7VwSXe32KOkPyT3CO9LDJyCoG1jsDU5bDNnB+Elr17k+K8IvitG UHfo01/gbc4zFF2y66K/2NmXhjFDsR6P+05UgMCfAgMBAAGjggL+MIIC+jAfBgNV HSMEGDAWgBR435GQX+7erPbFdevVTFVT7yRKtjAdBgNVHQ4EFgQUdsyi8kpNQo05 V3Q0236C5aM5LCowNQYDVR0RBC4wLIISdHJhY2suZ3VvenRlc3QudG9wghZ3d3cu dHJhY2suZ3VvenRlc3QudG9wMD4GA1UdIAQ3MDUwMwYGZ4EMAQIBMCkwJwYIKwYB BQUHAgEWG2h0dHA6Ly93d3cuZGlnaWNlcnQuY29tL0NQUzAOBgNVHQ8BAf8EBAMC BaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMIGABggrBgEFBQcBAQR0 MHIwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmRpZ2ljZXJ0LmNvbTBKBggrBgEF BQcwAoY+aHR0cDovL2NhY2VydHMuZGlnaWNlcnQuY29tL0VuY3J5cHRpb25FdmVy eXdoZXJlRFZUTFNDQS1HMi5jcnQwDAYDVR0TAQH/BAIwADCCAX8GCisGAQQB1nkC BAIEggFvBIIBawFpAHcADleUvPOuqT4zGyyZB7P3kN+bwj1xMiXdIaklrGHFTiEA AAGaJOXe+AAABAMASDBGAiEA+KqFyEmmx23I0eCGCjhtz/XLZeK28V921TIxBKLQ tLkCIQDVZFj0Merc/NzLqDlcJ/K/bwGkTXoY5XbbMilyzTHCowB2AGQRxGykEuyn iRyiAi4AvKtPKAfUHjUnq+r+1QPJfc3wAAABmiTl3zwAAAQDAEcwRQIgVCrN8Fob 4xA3cbXEwgtblO9jElA9iM1GU8D7VYe+ticCIQD8fP6xwJTVa1TBFtGQYuDyEPPH fTIv0OjDAy+tqf4M3AB2AEmcm2neHXzs/DbezYdkprhbrwqHgBnRVVL76esp3fjD AAABmiTl30sAAAQDAEcwRQIgLn6oxyuP7u33g6LkIcLmafasD87Fpf6LRboBTzyz jwECIQC/VaTCXh2sFz15gYxzULR4aVoJvlGo2OT5xqlywxKcljANBgkqhkiG9w0B AQsFAAOCAQEAcEWzA2vDk9ThR/qA06KwAPyWeo5swVRT8eXWyzoDvvGD5DDktlK6 vamiIGdE6v4sdBRQ3yTEJcdKH/s5YvAiq/giCPTmbzptdCTITXpvbWvp6T1xSqq0 cHf/q/oc/R8pjj8Xh5d8GXunFKx0iePf1HG1F6Y+7R7qPImwbk515rOU0YMjEU3/ hL9T32qjeDYobDjCVtuSjZ2N1crazci+sGhRqeyTbX0JqE9iK4ckai8V4kct0eIF Fjlhddd2qSCb/E36nX5KR9jKR/W+reeKP6Gvai6cm15V7CD1kOya5/JpmmZ5OqSg eO84z08Ve7y5Bf8r5pt1g3EaLBv6XISVmQ== -----END CERTIFICATE-----\"\n}"
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Track ID
                            example: 999224
                          name:
                            type: string
                            description: Track name
                            example: track.test.com
                          cname:
                            type: boolean
                            description: >-
                              CNAME configuration status (true: passed, false:
                              failed)
                            example: false
                          gmtCreated:
                            type: string
                            description: Time of track creation
                            example: '2014-11-01 22:41:52'
                          gmtUpdated:
                            type: string
                            description: Time of track modification
                            example: '2015-09-25 10:56:06'
                          cname.domain:
                            type: string
                            description: Track host records
                            example: test.com
                          cname.value:
                            type: string
                            description: Record value to configure for track
                            example: test.com
                          https:
                            type: boolean
                            description: >-
                              HTTPS configuration status (true: configured,
                              false: not configured)
                            example: false
                          certiValidityStart:
                            type: string
                            description: >-
                              Start time of the SSL certificate validity period
                              (format: yyyy-MM-dd HH:mm:ss)
                            example: ''
                          certiValidityEnd:
                            type: string
                            description: >-
                              End time of the SSL certificate validity period
                              (format: yyyy-MM-dd HH:mm:ss)
                            example: ''
      x-readme:
        code-samples:
          - code: ''
            language: shell
            name: ''
        samples-languages:
          - shell
  /api/trackDomain/checkConfig:
    post:
      summary: Get Tracking Domain Verify Status
      description: >-
        Verify the configuration (e.g., CNAME) of tracking domains. Calling this
        interface will update the CNAME status.
      operationId: get-tracking-domain-verify-status
      tags:
        - Tracking Domain
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Track ID; multiple IDs separated by semicolons
                  example: '68554'
                name:
                  type: string
                  description: Track name; multiple names separated by semicolons
                  example: track.test.com
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Track ID
                              example: 999225
                            name:
                              type: string
                              description: Track name
                              example: track2.test.com
                            cname:
                              type: boolean
                              description: >-
                                CNAME configuration status (true: passed, false:
                                failed)
                              example: false
                            gmtCreated:
                              type: string
                              description: Time of track creation
                              example: '2014-11-01 22:41:52'
                            gmtUpdated:
                              type: string
                              description: Time of track modification
                              example: '2015-09-25 10:56:06'
                            cname domain:
                              type: string
                              description: Track host records
                              example: test.com
                            cname.value:
                              type: string
                              description: Record value to configure for track
                              example: test.com
                            https:
                              type: boolean
                              description: >-
                                HTTPS configuration status (true: configured,
                                false: not configured)
                              example: false
                            certiValidityStart:
                              type: string
                              description: >-
                                Start time of the SSL certificate validity
                                period (format: yyyy-MM-dd HH:mm:ss)
                              example: ''
                            certiValidityEnd:
                              type: string
                              description: >-
                                End time of the SSL certificate validity period
                                (format: yyyy-MM-dd HH:mm:ss)
                              example: ''
                      count:
                        type: integer
                        description: Number of verified tracking domains
                        example: 2
  /api/trackDomain/delete:
    post:
      summary: Delete Tracking Domain
      description: Delete an existing tracking domain by track ID.
      operationId: delete-tracking-domain
      tags:
        - Tracking Domain
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: Track ID
                  example: 68554
              required:
                - id
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of deleted track domains
                        example: 1
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER for identity verification
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY for identity verification
x-readme:
  explorer-enabled: true
  proxy-enabled: true
