openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Uninterception
    description: Interfaces for managing unintercepted email addresses and domains
paths:
  /api/unintercept/list:
    get:
      summary: Query Uninterception List
      description: >-
        Query entries in the uninterception list. Supports filtering by
        API_USER, receiving domain, email address, and pagination.
      operationId: query-uninterception-list
      tags:
        - Uninterception
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept API_USER; can be "all" or specific API_USER (null
            indicates all)
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept receiving domain
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: 'Start position (range: 0-100), defaults to 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: 'Number of results per page (range: 0-100), defaults to 100'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserName:
                              type: string
                              description: Unintercept API_USER
                              example: all
                            email:
                              type: string
                              description: Unintercept email address
                              example: wbw@hotmail.com
                            domain:
                              type: string
                              description: Unintercept receiving domain
                              example: ''
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-07-15 15:32:03'
                      count:
                        type: integer
                        description: Number of returned entries
                        example: 2
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/unintercept/add:
    get:
      summary: Add to Uninterception List (GET)
      description: >-
        Add email address or receiving domain to the uninterception list.
        apiUserName defaults to "all" if empty; domainName and email cannot be
        empty at the same time. Duplicate data (judged by apiUserName+domainName
        or apiUserName+email) will not be added repeatedly; filling both
        domainName and email splits into two records.
      operationId: add-uninterception-get
      tags:
        - Uninterception
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept API_USER; defaults to "all" if empty
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: Unintercept receiving domain; cannot be empty with email
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address; cannot be empty with domainName
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            apiUserName:
                              type: string
                              description: Unintercept API_USER
                              example: all
                            email:
                              type: string
                              description: Unintercept email address
                              example: leon@gmail.com
                            domain:
                              type: string
                              description: Unintercept receiving domain
                              example: ''
                            createTime:
                              type: string
                              description: Create time
                              example: '2021-07-19 11:30:00'
        '400':
          description: >-
            Bad request (invalid parameters, e.g. domainName and email both
            empty)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: >-
                      invalid parameter: domainName and email cannot be empty at
                      the same time
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/unintercept/delete:
    get:
      summary: Delete from Uninterception List (GET)
      description: >-
        Delete entries from the uninterception list. apiUserName defaults to
        "all" if empty; domainName and email cannot be empty at the same time.
        Filling both deletes records for apiUserName+domainName and
        apiUserName+email respectively.
      operationId: delete-uninterception-get
      tags:
        - Uninterception
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUserName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept API_USER; defaults to "all" if empty (e.g.
            apiUserName=test_4TdLtA)
        - name: domainName
          in: query
          required: false
          schema:
            type: string
          description: >-
            Unintercept receiving domain; cannot be empty with email (e.g.
            domainName=qq.com)
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Unintercept email address; cannot be empty with domainName
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of successfully deleted entries
                        example: 1
        '400':
          description: >-
            Bad request (invalid parameters, e.g. domainName and email both
            empty)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: >-
                      invalid parameter: domainName and email cannot be empty at
                      the same time
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER for identity verification
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY for identity verification
x-readme:
  explorer-enabled: true
  proxy-enabled: true
