openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api2.sendcloud.net
tags:
  - name: Uninterception
    description: >-
      Sendcloud will intercept email addresses in complaint, block , bounce,
      unsubscribe. If the customer does not want to intercept an address or
      receiving domain, he can join it without interception. You can query, add
      and delete this list.
paths:
  /api/unintercept/list:
    get:
      summary: Query Unintercept List
      description: >-
        Get list of email addresses/domains that bypass content filtering.
        Supports filtering by type, keyword search, and pagination. The maximum
        number of results per page is 500. Time parameters use Beijing time
        (GMT+8).
      operationId: queryUninterceptListGet
      tags:
        - Uninterception
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: >-
                                Unintercepted email address or domain (supports
                                exact email format or domain wildcard format,
                                e.g., "vip@example.com" or "*.example.com")
                              example: vip@example.com
                            type:
                              type: string
                              enum:
                                - email
                                - domain
                              description: >-
                                Unintercept type (email = exact email address
                                match; domain = entire domain match, including
                                all subdomains when using wildcard)
                              example: email
                            addTime:
                              type: string
                              format: date-time
                              description: >-
                                Addition time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time; accurate to the second)
                              example: '2025-10-10 09:15:00'
                            operator:
                              type: string
                              description: >-
                                Operator (apiUser = added via API; system =
                                added via SendCloud console or technical
                                support)
                              example: test_api_user
                            remark:
                              type: string
                              description: >-
                                Remark (custom description for the unintercept
                                entry; max 100 characters; optional)
                              example: VIP customer exclusive
                      total:
                        type: integer
                        description: >-
                          Total number of unintercepted entries matching the
                          query conditions (across all pages)
                        example: 12
                      count:
                        type: integer
                        description: >-
                          Number of returned results in the current page
                          (consistent with pageSize parameter)
                        example: 12
                      page:
                        type: integer
                        description: >-
                          Current page number (starts from 1; defaults to 1 if
                          not specified)
                        example: 1
                      pageSize:
                        type: integer
                        description: >-
                          Number of results displayed per page (defaults to 100,
                          maximum 500)
                        example: 100
        '401':
          description: >-
            Authentication failed (invalid apiUser or apiKey; verify credentials
            in SendCloud console -> API Settings)
        '403':
          description: >-
            Permission denied (unintercept function not activated; contact
            customer service to enable)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from SendCloud console
            -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: >-
            API_KEY (authentication parameter; obtained from SendCloud console
            -> API Settings; keep confidential)
          example: test_api_key
        - in: query
          name: type
          schema:
            type: string
            enum:
              - all
              - email
              - domain
            default: all
          required: false
          description: >-
            Filter by unintercept type (all = query all types; email = only
            exact email entries; domain = only domain entries; defaults to
            "all")
          example: email
        - in: query
          name: keyword
          schema:
            type: string
          required: false
          description: >-
            Search keyword (matches email address or domain; fuzzy match for
            partial keywords, e.g., "example.com" matches "vip@example.com" and
            "*.example.com")
          example: example.com
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          required: false
          description: >-
            Page number (pagination parameter; starts from 1, defaults to 1 if
            not provided)
          example: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 100
            maximum: 500
          required: false
          description: >-
            Number of results per page (pagination parameter; defaults to 100,
            maximum 500; exceeding will return 400 error)
          example: 50
      x-codeSamples:
        - lang: Python
          label: Query Email Type Unintercept List
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/unintercept/list"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "type": "email",
                "keyword": "example.com",
                "pageSize": 50
            }

            response = requests.get(url, params=params)
            print(response.json())
    post:
      summary: Query Unintercept List (POST)
      description: >-
        Query unintercepted addresses using POST method. Suitable for scenarios
        with long query parameters. Supports the same filtering conditions and
        constraints as the GET method.
      operationId: queryUninterceptListPost
      tags:
        - Uninterception
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: >-
                      Response status code (200 = success; other codes indicate
                      failure)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Success or failure message (detailed error information for
                      failure scenarios)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request succeeded (true = success, false =
                      failure)
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: >-
                                Unintercepted email address or domain (supports
                                exact email or domain wildcard)
                              example: '*.example.com'
                            type:
                              type: string
                              enum:
                                - email
                                - domain
                              description: >-
                                Unintercept type (email = exact address; domain
                                = entire domain)
                              example: domain
                            addTime:
                              type: string
                              format: date-time
                              description: >-
                                Addition time (format: yyyy-MM-dd HH:mm:ss,
                                Beijing time)
                              example: '2025-10-10 09:15:00'
                            operator:
                              type: string
                              description: >-
                                Operator (apiUser = API added; system =
                                console/technical support added)
                              example: test_api_user
                            remark:
                              type: string
                              description: >-
                                Remark (custom description for the unintercept
                                entry; optional)
                              example: Partner domain
                      total:
                        type: integer
                        description: Total number of matching unintercepted entries
                        example: 12
                      count:
                        type: integer
                        description: Number of results in the current page
                        example: 12
                      page:
                        type: integer
                        description: Current page number (starts from 1)
                        example: 1
                      pageSize:
                        type: integer
                        description: Number of results per page (max 500)
                        example: 100
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (unintercept function not activated)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                type:
                  type: string
                  enum:
                    - all
                    - email
                    - domain
                  default: all
                  description: >-
                    Filter by unintercept type (all = default; email = exact
                    address; domain = entire domain)
                  example: domain
                keyword:
                  type: string
                  description: >-
                    Search keyword (matches email or domain; fuzzy match for
                    partial keywords)
                  example: example.com
                page:
                  type: integer
                  default: 1
                  description: >-
                    Page number (pagination parameter; starts from 1, defaults
                    to 1)
                  example: 1
                pageSize:
                  type: integer
                  default: 100
                  maximum: 500
                  description: Number of results per page (max 500, default 100)
                  example: 50
              required:
                - apiUser
                - apiKey
      x-codeSamples:
        - lang: Python
          label: Query Unintercept List (POST)
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/unintercept/list"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "type": "domain",
                "keyword": "example.com"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/unintercept/add:
    post:
      summary: Add Unintercept Address
      description: >-
        Add email address or domain to the unintercept list. After addition, the
        address/domain bypasses content filtering. Supports single or batch
        addition (max 100 entries per request, separated by semicolons for
        multiple entries). Duplicate entries will be ignored.
      operationId: addUninterceptAddress
      tags:
        - Uninterception
      responses:
        '200':
          description: Add successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = add operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Add result message (e.g., "add unintercept successful" or
                      "partial entries failed to add")
                    example: add unintercept successful
                  result:
                    type: boolean
                    description: >-
                      Whether the overall add operation succeeded (true =
                      all/partial entries added; false = no entries added)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully added unintercept entries
                          (excludes duplicates or invalid formats)
                        example: 1
        '400':
          description: >-
            Bad request (e.g., invalid format, duplicate entry, invalid domain
            wildcard, exceeding 100 entries per request, empty email parameter)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: >-
            Permission denied (unintercept function not activated; contact
            customer service to enable)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                type:
                  type: string
                  enum:
                    - email
                    - domain
                  description: >-
                    Unintercept type (email = exact email address; domain =
                    entire domain, supports wildcard like "*.example.com")
                  example: domain
                email:
                  type: string
                  description: >-
                    Email address or domain to add (supports multiple entries
                    separated by semicolons; max 100 entries per request; email
                    format must comply with RFC 5322, domain wildcard only
                    supports "*.domain.com" format)
                  example: '*.example.com'
                remark:
                  type: string
                  description: >-
                    Remark (custom description for the unintercept entry; max
                    100 characters; optional)
                  example: Partner domain
              required:
                - apiUser
                - apiKey
                - type
                - email
      x-codeSamples:
        - lang: Python
          label: Add Domain to Unintercept List
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/unintercept/add"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "type": "domain",
                "email": "*.example.com",
                "remark": "Partner domain"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/unintercept/remove:
    post:
      summary: Remove Unintercept Address
      description: >-
        Remove email address or domain from the unintercept list. After removal,
        the address/domain will be subject to normal content filtering again.
        Supports batch removal (max 100 entries per request, separated by
        semicolons). Non-existent entries will be ignored.
      operationId: removeUninterceptAddress
      tags:
        - Uninterception
      responses:
        '200':
          description: Remove successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = remove operation successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Remove result message (e.g., "remove unintercept
                      successful" or "partial entries not found")
                    example: remove unintercept successful
                  result:
                    type: boolean
                    description: >-
                      Whether the overall remove operation succeeded (true =
                      all/partial entries removed; false = no entries removed)
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: >-
                          Number of successfully removed unintercept entries
                          (excludes non-existent entries)
                        example: 1
        '400':
          description: >-
            Bad request (e.g., invalid format, empty email parameter, exceeding
            100 entries per request)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (unintercept function not activated)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                apiUser:
                  type: string
                  description: >-
                    API_USER (authentication parameter; obtained from SendCloud
                    console -> API Settings)
                  example: test_api_user
                apiKey:
                  type: string
                  description: API_KEY (authentication parameter; keep confidential)
                  example: test_api_key
                type:
                  type: string
                  enum:
                    - email
                    - domain
                  description: >-
                    Unintercept type (must strictly match the type when the
                    entry was added; otherwise, removal will fail)
                  example: domain
                email:
                  type: string
                  description: >-
                    Email address or domain to remove (supports multiple entries
                    separated by semicolons; max 100 entries per request; format
                    must match the added type)
                  example: '*.example.com;vip@example.com'
              required:
                - apiUser
                - apiKey
                - type
                - email
      x-codeSamples:
        - lang: Python
          label: Remove Unintercept Entries
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/unintercept/remove"
            data = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "type": "domain",
                "email": "*.example.com;vip@example.com"
            }

            response = requests.post(url, data=data)
            print(response.json())
  /api/unintercept/check:
    get:
      summary: Check Unintercept Status
      description: >-
        Verify if an email address or domain is in the unintercept list. Returns
        unintercept details if the entry exists; returns empty values otherwise.
      operationId: checkUninterceptStatusGet
      tags:
        - Uninterception
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 = query successful)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Query result message (e.g., "request was successful" or
                      "invalid email/domain format")
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the query succeeded (true = success; false =
                      invalid parameter)
                    example: true
                  info:
                    type: object
                    properties:
                      isUnintercept:
                        type: boolean
                        description: >-
                          Whether the address/domain is unintercepted (true =
                          yes; false = no)
                        example: true
                      type:
                        type: string
                        description: >-
                          Unintercept type (empty if not unintercepted; values:
                          email/domain)
                        example: domain
                      addTime:
                        type: string
                        format: date-time
                        description: >-
                          Addition time (empty if not unintercepted; format:
                          yyyy-MM-dd HH:mm:ss, Beijing time)
                        example: '2025-10-10 09:15:00'
                      remark:
                        type: string
                        description: >-
                          Remark (empty if not unintercepted or no remark was
                          set)
                        example: Partner domain
        '400':
          description: >-
            Bad request (e.g., invalid email/domain format, illegal wildcard
            usage)
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
        '403':
          description: Permission denied (unintercept function not activated)
      parameters:
        - in: query
          name: apiUser
          schema:
            type: string
          required: true
          description: >-
            API_USER (authentication parameter; obtained from SendCloud console
            -> API Settings)
          example: test_api_user
        - in: query
          name: apiKey
          schema:
            type: string
          required: true
          description: API_KEY (authentication parameter; keep confidential)
          example: test_api_key
        - in: query
          name: type
          schema:
            type: string
            enum:
              - email
              - domain
          required: true
          description: >-
            Check type (must specify whether to check email address or domain;
            must match the type when the entry was added)
          example: domain
        - in: query
          name: email
          schema:
            type: string
          required: true
          description: >-
            Email address or domain to check (email format must comply with RFC
            5322; domain supports wildcard format like "*.example.com")
          example: '*.example.com'
      x-codeSamples:
        - lang: Python
          label: Check Unintercept Status
          source: |
            import requests

            url = "https://api2.sendcloud.net/api/unintercept/check"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key",
                "type": "domain",
                "email": "*.example.com"
            }

            response = requests.get(url, params=params)
            print(response.json())
components:
  securitySchemes: {}
x-readme:
  explorer-enabled: true
  proxy-enabled: true
