openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Unsubscribe
    description: >-
      Interfaces for querying unsubscribe lists, adding unsubscribes, removing
      unsubscribes, and exporting unsubscribe data. Unsubscribed addresses will
      be blocked from future email sends to comply with anti-spam regulations.
paths:
  /api/unsubscribe/list:
    get:
      summary: Query Unsubscribe List
      description: >-
        Query email addresses in the unsubscribe list. Supports filtering by
        time frame, email address, API_USER, labels, and pagination. Time frame
        cannot be longer than 3 months; startDate & endDate or days is required
        (time frame is invalid if email is specified).
      operationId: query-unsubscribe-list
      tags:
        - Unsubscribe
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past days (days=1 means today); required if startDate
            and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Email address to query; time frame is invalid if specified
        - name: apiUserList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified API_USERs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelIdList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats with specified label IDs; multiple separated by
            semicolons (e.g. "a;b;c")
        - name: labelNameList
          in: query
          required: false
          schema:
            type: string
          description: >-
            Obtain stats of specified label names; multiple separated by
            semicolons (Chinese encoded in UTF-8, e.g. "a;b;c")
        - name: start
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: 'Start position (range: 0-), defaults to 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: 'Number of results per page (range: 0-100), defaults to 100'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            email:
                              type: string
                              description: Email address
                              example: 524244185@qq.com
                            domain:
                              type: string
                              description: Domain corresponding to the email address
                              example: qq.com
                            labelId:
                              type: integer
                              description: Label ID
                              example: 0
                            apiUser:
                              type: string
                              description: API_USER name
                              example: delong_test
                            unsubscribeTime:
                              type: string
                              description: Unsubscribe time
                              example: '2021-01-12 17:03:23'
                            unsubscribeType:
                              type: integer
                              description: Unsubscribe type
                              example: 0
                            unsubscribeTypeDesc:
                              type: string
                              description: Description of the unsubscribe type
                              example: I don't want to receive such mail anymore.
                      count:
                        type: integer
                        description: Number of returned email addresses
                        example: 1
        '400':
          description: Bad request (invalid parameters, e.g. missing required time frame)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/unsubscribe/add:
    get:
      summary: Add Email to Unsubscribe List (GET)
      description: >-
        Add a specified email address to the unsubscribe list. No more emails
        will be sent to this address after addition.
      operationId: add-unsubscribe-get
      tags:
        - Unsubscribe
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
          description: Email address to add to the unsubscribe list
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 40401
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            description: Email address added
                            example: abc@qq.com
                          domain:
                            type: string
                            description: Domain corresponding to the email address
                            example: qq.com
                          labelId:
                            type: integer
                            description: Label ID
                            example: 0
                          apiUser:
                            type: string
                            description: API_USER
                            example: api_user
                          unsubscribeTime:
                            type: string
                            description: Unsubscribe time (addition time)
                            example: '2014-11-19 10:57:24'
        '400':
          description: Bad request (invalid parameters, e.g. missing email)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: email is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
    post:
      summary: Add Email to Unsubscribe List (POST)
      description: >-
        Same as GET /api/unsubscribe/add; supports POST method for adding email
        to unsubscribe list.
      operationId: add-unsubscribe-post
      tags:
        - Unsubscribe
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
          description: Email address to add to the unsubscribe list
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 40401
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email:
                            type: string
                            description: Email address added
                            example: abc@qq.com
                          domain:
                            type: string
                            description: Domain corresponding to the email address
                            example: qq.com
                          labelId:
                            type: integer
                            description: Label ID
                            example: 0
                          apiUser:
                            type: string
                            description: API_USER
                            example: api_user
                          unsubscribeTime:
                            type: string
                            description: Unsubscribe time (addition time)
                            example: '2014-11-19 10:57:24'
        '400':
          description: Bad request (invalid parameters, e.g. missing email)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: email is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/unsubscribe/delete:
    get:
      summary: Delete Email from Unsubscribe List (GET)
      description: >-
        Delete email addresses from the unsubscribe list. Supports deleting by
        time frame or specific email address. Time frame cannot be longer than 3
        months; startDate & endDate or days is required (time frame is invalid
        if email is specified).
      operationId: delete-unsubscribe-get
      tags:
        - Unsubscribe
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: apiUser
          in: query
          required: true
          schema:
            type: string
          description: API_USER for identity verification
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: API_KEY for identity verification
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past days (days=1 means today); required if startDate
            and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Email address to delete; time frame is invalid if specified
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of deleted addresses
                        example: 1
        '400':
          description: Bad request (invalid parameters, e.g. missing required time frame)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
    post:
      summary: Delete Email from Unsubscribe List (POST)
      description: >-
        Same as GET /api/unsubscribe/delete; supports POST method for deleting
        email from unsubscribe list.
      operationId: delete-unsubscribe-post
      tags:
        - Unsubscribe
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: integer
          description: >-
            Stats in the past days (days=1 means today); required if startDate
            and endDate are not filled
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            Start date (format: yyyy-MM-dd); required with endDate if days is
            not filled
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: >-
            End date (format: yyyy-MM-dd); required with startDate if days is
            not filled
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Email address to delete; time frame is invalid if specified
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: request was successful
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Count of deleted addresses
                        example: 1
        '400':
          description: Bad request (invalid parameters, e.g. missing required time frame)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: startDate/endDate or days is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER for identity verification
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY for identity verification
x-readme:
  explorer-enabled: true
  proxy-enabled: true
