openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
tags:
  - name: User Information
    description: Interfaces for querying account basic information and configuration
paths:
  /api/user/info:
    get:
      summary: Query Account Basic Information
      description: >-
        Get basic information of the current API account (including account
        type, quota, contact information, etc.)
      operationId: queryAccountBasicInfoGet
      tags:
        - User Information
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Account basic information
                    properties:
                      apiUser:
                        type: string
                        description: Current API user name
                        example: test_api_user
                      accountType:
                        type: string
                        description: Account type (e.g., free, standard, enterprise)
                        example: standard
                      companyName:
                        type: string
                        description: Company name registered with the account
                        example: IFAXIN Technology Co., Ltd.
                      contactPerson:
                        type: string
                        description: Contact person for the account
                        example: John Doe
                      contactEmail:
                        type: string
                        description: Contact email for the account
                        example: contact@example.com
                      contactPhone:
                        type: string
                        description: >-
                          Contact phone number for the account (hidden middle
                          digits if not verified)
                        example: 138****1234
                      remainingQuota:
                        type: integer
                        description: >-
                          Remaining email sending quota (0 = unlimited for
                          enterprise accounts)
                        example: 5000
                      totalQuota:
                        type: integer
                        description: Total email sending quota per cycle (0 = unlimited)
                        example: 10000
                      cycleType:
                        type: string
                        description: >-
                          Quota cycle type (monthly = monthly reset, annual =
                          annual reset)
                        example: monthly
                      gmtCreated:
                        type: string
                        format: date-time
                        description: 'Account creation time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2024-01-15 09:30:00'
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      x-codeSamples:
        - lang: Python
          label: Query Account Basic Information (GET)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/user/info"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.get(url, params=params)
            user_info = response.json()
            if user_info["result"]:
                info = user_info["info"]
                print(f"API User: {info['apiUser']}")
                print(f"Account Type: {info['accountType']}")
                print(f"Remaining Quota: {info['remainingQuota']}/{info['totalQuota']}")
                print(f"Contact Email: {info['contactEmail']}")
                print(f"Account Created: {info['gmtCreated']}")
    post:
      summary: Query Account Basic Information (POST)
      description: Get account basic information using POST method
      operationId: queryAccountBasicInfoPost
      tags:
        - User Information
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Account basic information
                    properties:
                      apiUser:
                        type: string
                        description: Current API user name
                        example: test_api_user
                      accountType:
                        type: string
                        description: Account type (e.g., free, standard, enterprise)
                        example: standard
                      companyName:
                        type: string
                        description: Company name registered with the account
                        example: IFAXIN Technology Co., Ltd.
                      contactPerson:
                        type: string
                        description: Contact person for the account
                        example: John Doe
                      contactEmail:
                        type: string
                        description: Contact email for the account
                        example: contact@example.com
                      contactPhone:
                        type: string
                        description: >-
                          Contact phone number for the account (hidden middle
                          digits if not verified)
                        example: 138****1234
                      remainingQuota:
                        type: integer
                        description: >-
                          Remaining email sending quota (0 = unlimited for
                          enterprise accounts)
                        example: 5000
                      totalQuota:
                        type: integer
                        description: Total email sending quota per cycle (0 = unlimited)
                        example: 10000
                      cycleType:
                        type: string
                        description: >-
                          Quota cycle type (monthly = monthly reset, annual =
                          annual reset)
                        example: monthly
                      gmtCreated:
                        type: string
                        format: date-time
                        description: 'Account creation time (format: yyyy-MM-dd HH:mm:ss)'
                        example: '2024-01-15 09:30:00'
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      x-codeSamples:
        - lang: Python
          label: Query Account Basic Information (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/user/info"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.post(url, params=params)
            print(response.json())
  /api/user/configuration:
    get:
      summary: Query Account Configuration
      description: >-
        Get system configuration of the current account (including sending
        restrictions, tracking settings, etc.)
      operationId: queryAccountConfigurationGet
      tags:
        - User Information
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Account configuration details
                    properties:
                      sendSpeedLimit:
                        type: integer
                        description: >-
                          Maximum sending speed (emails per minute; 0 = no
                          limit)
                        example: 200
                      maxRecipientsPerEmail:
                        type: integer
                        description: Maximum recipients per email (to + cc + bcc)
                        example: 50
                      isClickTrackingEnabled:
                        type: boolean
                        description: Whether click tracking is enabled by default
                        example: true
                      isOpenTrackingEnabled:
                        type: boolean
                        description: Whether open tracking is enabled by default
                        example: true
                      isUnsubscribeLinkEnabled:
                        type: boolean
                        description: Whether unsubscribe link is added by default
                        example: false
                      defaultUnsubscribePage:
                        type: string
                        description: Default unsubscribe page URL (empty if not set)
                        example: https://example.com/unsubscribe
                      maxAttachmentSize:
                        type: integer
                        description: Maximum attachment size per email (MB)
                        example: 10
                      supportedAttachmentTypes:
                        type: string
                        description: Supported attachment file types (comma-separated)
                        example: pdf,doc,xls,zip,jpg,png
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      x-codeSamples:
        - lang: Python
          label: Query Account Configuration (GET)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/user/configuration"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.get(url, params=params)
            config = response.json()
            if config["result"]:
                info = config["info"]
                print(f"Send Speed Limit: {info['sendSpeedLimit']} emails/min")
                print(f"Max Recipients Per Email: {info['maxRecipientsPerEmail']}")
                print(f"Click Tracking Enabled: {info['isClickTrackingEnabled']}")
                print(f"Max Attachment Size: {info['maxAttachmentSize']}MB")
                print(f"Supported Attachment Types: {info['supportedAttachmentTypes']}")
    post:
      summary: Query Account Configuration (POST)
      description: Get account system configuration using POST method
      operationId: queryAccountConfigurationPost
      tags:
        - User Information
      security:
        - apiUser: []
        - apiKey: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    description: Response status code (200 indicates success)
                    example: 200
                  message:
                    type: string
                    description: >-
                      Prompt message for request result (success/failure
                      description)
                    example: request was successful
                  result:
                    type: boolean
                    description: >-
                      Whether the request was processed successfully (true =
                      success, false = failure)
                    example: true
                  info:
                    type: object
                    description: Account configuration details
                    properties:
                      sendSpeedLimit:
                        type: integer
                        description: >-
                          Maximum sending speed (emails per minute; 0 = no
                          limit)
                        example: 200
                      maxRecipientsPerEmail:
                        type: integer
                        description: Maximum recipients per email (to + cc + bcc)
                        example: 50
                      isClickTrackingEnabled:
                        type: boolean
                        description: Whether click tracking is enabled by default
                        example: true
                      isOpenTrackingEnabled:
                        type: boolean
                        description: Whether open tracking is enabled by default
                        example: true
                      isUnsubscribeLinkEnabled:
                        type: boolean
                        description: Whether unsubscribe link is added by default
                        example: false
                      defaultUnsubscribePage:
                        type: string
                        description: Default unsubscribe page URL (empty if not set)
                        example: https://example.com/unsubscribe
                      maxAttachmentSize:
                        type: integer
                        description: Maximum attachment size per email (MB)
                        example: 10
                      supportedAttachmentTypes:
                        type: string
                        description: Supported attachment file types (comma-separated)
                        example: pdf,doc,xls,zip,jpg,png
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
      x-codeSamples:
        - lang: Python
          label: Query Account Configuration (POST)
          source: |
            import requests

            url = "https://api.aurorasendcloud.com/api/user/configuration"
            params = {
                "apiUser": "test_api_user",
                "apiKey": "test_api_key"
            }

            response = requests.post(url, params=params)
            print(response.json())
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER (authentication parameter, obtained from the SendCloud console)
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY (authentication parameter, obtained from the SendCloud console)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
