openapi: 3.0.0
info:
  version: 1.0.0
  title: Email
servers:
  - url: https://api.aurorasendcloud.com
    description: Production server
  - url: https://api.sendcloud.net
    description: Alternative production server
tags:
  - name: Webhook
    description: >-
      Interfaces for managing webhooks (event notification, configuration,
      query, test, etc.). Webhooks push real-time email event data (delivery,
      bounce, open, click, etc.) to the specified callback URL, enabling
      real-time business processing and data synchronization.
paths:
  /api/webhook/list:
    get:
      summary: Query Webhook List
      description: >-
        Get the list of all configured webhooks under the account. Supports
        filtering by event type, webhook status, and pagination. The maximum
        number of results per page is 500, and time parameters use Beijing time
        (GMT+8).
      operationId: query-webhook-list
      tags:
        - Webhook
      security:
        - apiUser: []
          apiKey: []
      parameters:
        - name: url
          in: query
          required: false
          schema:
            type: string
          description: Callback URL (fuzzy filter)
          example: http://qxxx.com
        - name: categoryName
          in: query
          required: false
          schema:
            type: string
          description: Associated API_USER
          example: jianglian_test
        - name: event
          in: query
          required: false
          schema:
            type: string
          description: >-
            Event types (multiple separated by commas; default all if not
            filled)
          example: 1,3,11
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: success
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      dataList:
                        type: array
                        items:
                          type: object
                          properties:
                            webhookUrl:
                              type: string
                              description: Callback URL
                              example: http://qxxx.com
                            eventTypeMap:
                              type: object
                              additionalProperties:
                                type: string
                              description: >-
                                Event type mapping (key: event code, value:
                                event name)
                              example:
                                '10': open
                                '11': open
                            categoryName:
                              type: string
                              description: Associated API_USER or "all"
                              example: jianglian_test
                      count:
                        type: integer
                        description: Number of returned WebHook configurations
                        example: 6
        '401':
          description: Authentication failed (invalid apiUser or apiKey)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error (internal service exception)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/webhook/add:
    post:
      summary: Add Webhook
      description: >-
        Create a new webhook for real-time email event notifications. Each
        webhook can only bind one event type; multiple event types require
        creating multiple webhooks.
      operationId: add-webhook
      tags:
        - Webhook
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Callback URL
                  example: http://newhook.com
                categoryName:
                  type: string
                  description: Associated API_USER (required)
                  example: jianglian_test
                event:
                  type: string
                  description: >-
                    Event types (multiple separated by commas; default all if
                    not filled)
                  example: 11,12
              required:
                - categoryName
      responses:
        '200':
          description: WebHook added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: webhook added successfully
                  result:
                    type: boolean
                    example: true
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: categoryName is required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of updated WebHook configurations
                        example: 1
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/webhook/update:
    post:
      summary: Update Webhook Configuration
      description: >-
        Modify the configuration of an existing webhook. Supports updating
        webhook name, event type, callback URL, status, retry settings, etc. The
        signature secret can be updated (will invalidate the old secret).
      operationId: update-webhook
      tags:
        - Webhook
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Current callback URL (for matching the WebHook to update)
                  example: http://newhook.com
                categoryName:
                  type: string
                  description: Current associated API_USER or "all" (required for matching)
                  example: jianglian_test
                event:
                  type: string
                  description: >-
                    Current event types (multiple separated by commas; required
                    for matching)
                  example: 11,12
                newCategoryName:
                  type: string
                  description: New associated API_USER (required if updating API_USER)
                  example: jianglian_test_new
                newUrl:
                  type: string
                  description: New callback URL (required if updating URL)
                  example: http://updatedhook.com
                newEvent:
                  type: string
                  description: >-
                    New event types (multiple separated by commas; required if
                    updating events)
                  example: 11,12,18
              required:
                - categoryName
                - event
      responses:
        '200':
          description: WebHook updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: webhook updated successfully
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of updated WebHook configurations
                        example: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: >-
                      invalid parameter: only one of newCategoryName, newUrl,
                      newEvent can be modified
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
  /api/webhook/delete:
    post:
      summary: Delete Webhook
      description: >-
        Delete an existing webhook. After deletion, the webhook is permanently
        unavailable, and event notifications will no longer be pushed to the
        callback URL.
      operationId: delete-webhook
      tags:
        - Webhook
      security:
        - apiUser: []
          apiKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Callback URL (for precise matching)
                  example: http://newhook.com
                categoryName:
                  type: string
                  description: Associated API_USER or "all" (required for matching)
                  example: jianglian_test
                event:
                  type: string
                  description: >-
                    Event types (multiple separated by commas; required for
                    matching)
                  example: 11,12
              required:
                - categoryName
                - event
      responses:
        '200':
          description: WebHook deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: webhook deleted successfully
                  result:
                    type: boolean
                    example: true
                  info:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Number of deleted WebHook configurations
                        example: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: 'invalid parameter: categoryName and event are required'
                  result:
                    type: boolean
                    example: false
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: 'authentication failed: invalid apiKey'
                  result:
                    type: boolean
                    example: false
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'server error: please try again later'
                  result:
                    type: boolean
                    example: false
components:
  securitySchemes:
    apiUser:
      type: apiKey
      in: query
      name: apiUser
      description: API_USER for identity verification
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: API_KEY for identity verification
  schemas:
    EventTypeDescription:
      type: object
      properties:
        eventCode:
          type: string
          description: Event code
          example: '1'
        eventName:
          type: string
          description: Event name
          example: delivered
        triggerCondition:
          type: string
          description: Event trigger condition
          example: email is successfully sent
      description: WebHook event type description (reference only)
x-readme:
  explorer-enabled: true
  proxy-enabled: true
